Backup_2026-02-01/WEBCalling Agent.json
{
  "updatedAt": "2026-01-30T12:07:44.514Z",
  "createdAt": "2025-11-04T18:48:53.365Z",
  "id": "Fop1f51IAOvmvF5T",
  "name": "WEBCalling Agent",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "websitecallingagents",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -256
      ],
      "id": "26ed6152-2b44-4293-a98a-425f50eef390",
      "name": "Webhook",
      "webhookId": "dd4979e8-f742-48d8-b837-bbfd757e2dea"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1cbb597-d6c5-43c4-8617-24fbef960965",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -256
      ],
      "id": "22f9170d-b75b-4970-8f10-43a78812928a",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "notification@ztechai.us",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Request for Demo Call for AI Voice Agents",
        "emailFormat": "text",
        "text": "=Dear {{ $('Webhook').item.json.body.user_name }},\n\nThanks for Requesting a Demo call. you must receive a call within 1 minute if you have provided correct number.\nyour Provided Number is: +1{{ $json.body.ph_number }}\n\nIf You didn't receive any call, please enter a Correct Phone Number.\n\nDon't Forget to provide your Feedback in order to maintain standard quality.\n\nLoooking forward to have a response from you.\n\nRegards,\nZubair Younus\nZtechai\n\n-----------------------------------------------------------------\nThis email is sent to {{ $('Webhook').item.json.body.email }} as per their request.if you have requested this action.\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        128,
        -256
      ],
      "id": "6e8efbfe-d91b-43ac-a9df-877e99493dfe",
      "name": "send to visitor",
      "webhookId": "17d99a2d-345f-4128-bc7a-bfa7adcfd827",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "9jDqUic8zNwwUeA1",
          "name": "brevo smtp for notification"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e08ec5c2-6806-4a4e-9f83-3c24f16dd055",
              "leftValue": "={{ $json.messageId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        -256
      ],
      "id": "8a324c0e-b07f-4152-b354-1770f89f4845",
      "name": "If1"
    },
    {
      "parameters": {
        "fromEmail": "notification@ztechai.us",
        "toEmail": "zubair@ztechai.us",
        "subject": "New Request for Demo Call on Website.",
        "emailFormat": "text",
        "text": "=Dear Zubair,\n\nyou have received a viewer and he/she has requested a demo call to test out our AI Agents.\n\nDetails of that visitor is as follows:\n\nName:   {{ $('Webhook').item.json.body.user_name }}\nEmail: {{ $('Webhook').item.json.body.email }}\nPhone Number: {{$('Webhook').item.json.body.ph_number}}\nUser Message: {{ $('Webhook').item.json.body.user_message }}\nTime Stamp: {{ $('Webhook').item.json.body.time_stamp }}\n\nPlease Look into this matter and ensure he/she has received a call\n\nRegards,\nZtechAI Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        -352
      ],
      "id": "ca2e9fb9-75f3-4dfd-aed8-24b1fe059da0",
      "name": "Send Me success",
      "webhookId": "8673e605-1476-48e3-bb88-f19268b73d03",
      "credentials": {
        "smtp": {
          "id": "9jDqUic8zNwwUeA1",
          "name": "brevo smtp for notification"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@ztechai.us",
        "toEmail": "zubair@ztechai.us",
        "subject": "New Request for Demo Call on Website.",
        "emailFormat": "text",
        "text": "=Dear Zubair,\n\nyou have received a viewer and he/she has requested a demo call to test out our AI Agents.\n\nEmail entered by visitor was not correct.So, No email could be sent to visitor. please ask about correct email from the web.\n\nDetails of that visitor is as follows:\n\nName:  {{ $('Webhook').item.json.body.user_name }}\nEntered Email: {{ $('Webhook').item.json.body.email }}\nPhone Number: {{ $('Webhook').item.json.body.ph_number }}\nUser Message: {{ $('Webhook').item.json.body.user_message }}\nTime Stamp: {{ $('Webhook').item.json.body.time_stamp }}\nPlease Look into this matter and ensure he/she has received a call\n\nRegards,\nZtechAI Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        -160
      ],
      "id": "3c0bbc5f-5c4f-410d-8374-83ff591d612b",
      "name": "Send Me Failure",
      "webhookId": "8673e605-1476-48e3-bb88-f19268b73d03",
      "credentials": {
        "smtp": {
          "id": "HYXscACCvF3YTkhc",
          "name": "zubairyounOus Mail Box"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"assistantId\": \"ec4aa566-e59d-4cf5-b813-e45c15cd8124\",\n    \"phoneNumberId\": \"e688ac7a-c36e-49a7-affe-f81582afbef3\",\n    \"customer\": {\n        \"number\": \"+1{{ $json.body.phone }}\"\n    }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        -16
      ],
      "id": "c2624ee3-6ac4-4c5d-a3b6-2947456064bb",
      "name": "Make a Call",
      "credentials": {
        "httpBearerAuth": {
          "id": "WkJwy1jJROwDBy22",
          "name": "Vapi ZTECHAI"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pwiv0bdhc8vjmoj",
        "table": "mcvmcco2er2nteq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Name",
              "fieldValue": "={{ $json.body.full_name }}"
            },
            {
              "fieldName": "Phone number",
              "fieldValue": "={{ $json.body.phone }}"
            },
            {
              "fieldName": "Email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldName": "Message",
              "fieldValue": "={{ $json.body.message }}"
            },
            {
              "fieldName": "Time",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        64,
        -400
      ],
      "id": "c3fe79a0-355d-4a28-9957-84e6fb9f0eef",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Make a Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "send to visitor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "send to visitor": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send Me success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Me Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Me success": {
      "main": [
        []
      ]
    },
    "Make a Call": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e17883d5-9ebe-4e91-865e-4afaa78c4ede",
  "activeVersionId": "784c4c2f-560f-4c79-9e09-42c70f6e7ede",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-04T18:48:53.365Z",
      "createdAt": "2025-11-04T18:48:53.365Z",
      "role": "workflow:owner",
      "workflowId": "Fop1f51IAOvmvF5T",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-30T11:32:01.244Z",
    "createdAt": "2026-01-30T11:12:52.718Z",
    "versionId": "784c4c2f-560f-4c79-9e09-42c70f6e7ede",
    "workflowId": "Fop1f51IAOvmvF5T",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "websitecallingagents",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -320,
          -256
        ],
        "id": "26ed6152-2b44-4293-a98a-425f50eef390",
        "name": "Webhook",
        "webhookId": "dd4979e8-f742-48d8-b837-bbfd757e2dea"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e1cbb597-d6c5-43c4-8617-24fbef960965",
                "leftValue": "={{ $json.body.email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -96,
          -256
        ],
        "id": "22f9170d-b75b-4970-8f10-43a78812928a",
        "name": "If"
      },
      {
        "parameters": {
          "fromEmail": "notification@ztechai.us",
          "toEmail": "={{ $('Webhook').item.json.body.email }}",
          "subject": "Request for Demo Call for AI Voice Agents",
          "emailFormat": "text",
          "text": "=Dear {{ $('Webhook').item.json.body.user_name }},\n\nThanks for Requesting a Demo call. you must receive a call within 1 minute if you have provided correct number.\nyour Provided Number is: +1{{ $json.body.ph_number }}\n\nIf You didn't receive any call, please enter a Correct Phone Number.\n\nDon't Forget to provide your Feedback in order to maintain standard quality.\n\nLoooking forward to have a response from you.\n\nRegards,\nZubair Younus\nZtechai\n\n-----------------------------------------------------------------\nThis email is sent to {{ $('Webhook').item.json.body.email }} as per their request.if you have requested this action.\n\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          128,
          -256
        ],
        "id": "6e8efbfe-d91b-43ac-a9df-877e99493dfe",
        "name": "send to visitor",
        "webhookId": "17d99a2d-345f-4128-bc7a-bfa7adcfd827",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "9jDqUic8zNwwUeA1",
            "name": "brevo smtp for notification"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e08ec5c2-6806-4a4e-9f83-3c24f16dd055",
                "leftValue": "={{ $json.messageId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          352,
          -256
        ],
        "id": "8a324c0e-b07f-4152-b354-1770f89f4845",
        "name": "If1"
      },
      {
        "parameters": {
          "fromEmail": "notification@ztechai.us",
          "toEmail": "zubair@ztechai.us",
          "subject": "New Request for Demo Call on Website.",
          "emailFormat": "text",
          "text": "=Dear Zubair,\n\nyou have received a viewer and he/she has requested a demo call to test out our AI Agents.\n\nDetails of that visitor is as follows:\n\nName:   {{ $('Webhook').item.json.body.user_name }}\nEmail: {{ $('Webhook').item.json.body.email }}\nPhone Number: {{$('Webhook').item.json.body.ph_number}}\nUser Message: {{ $('Webhook').item.json.body.user_message }}\nTime Stamp: {{ $('Webhook').item.json.body.time_stamp }}\n\nPlease Look into this matter and ensure he/she has received a call\n\nRegards,\nZtechAI Team",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          576,
          -352
        ],
        "id": "ca2e9fb9-75f3-4dfd-aed8-24b1fe059da0",
        "name": "Send Me success",
        "webhookId": "8673e605-1476-48e3-bb88-f19268b73d03",
        "credentials": {
          "smtp": {
            "id": "9jDqUic8zNwwUeA1",
            "name": "brevo smtp for notification"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "info@ztechai.us",
          "toEmail": "zubair@ztechai.us",
          "subject": "New Request for Demo Call on Website.",
          "emailFormat": "text",
          "text": "=Dear Zubair,\n\nyou have received a viewer and he/she has requested a demo call to test out our AI Agents.\n\nEmail entered by visitor was not correct.So, No email could be sent to visitor. please ask about correct email from the web.\n\nDetails of that visitor is as follows:\n\nName:  {{ $('Webhook').item.json.body.user_name }}\nEntered Email: {{ $('Webhook').item.json.body.email }}\nPhone Number: {{ $('Webhook').item.json.body.ph_number }}\nUser Message: {{ $('Webhook').item.json.body.user_message }}\nTime Stamp: {{ $('Webhook').item.json.body.time_stamp }}\nPlease Look into this matter and ensure he/she has received a call\n\nRegards,\nZtechAI Team",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          576,
          -160
        ],
        "id": "3c0bbc5f-5c4f-410d-8374-83ff591d612b",
        "name": "Send Me Failure",
        "webhookId": "8673e605-1476-48e3-bb88-f19268b73d03",
        "credentials": {
          "smtp": {
            "id": "HYXscACCvF3YTkhc",
            "name": "zubairyounOus Mail Box"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.vapi.ai/call",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"assistantId\": \"ec4aa566-e59d-4cf5-b813-e45c15cd8124\",\n    \"phoneNumberId\": \"e688ac7a-c36e-49a7-affe-f81582afbef3\",\n    \"customer\": {\n        \"number\": \"+1{{ $json.body.phone }}\"\n    }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          112,
          -16
        ],
        "id": "c2624ee3-6ac4-4c5d-a3b6-2947456064bb",
        "name": "Make a Call",
        "credentials": {
          "httpBearerAuth": {
            "id": "WkJwy1jJROwDBy22",
            "name": "Vapi ZTECHAI"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "pwiv0bdhc8vjmoj",
          "table": "mcvmcco2er2nteq",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Name",
                "fieldValue": "={{ $json.body.full_name }}"
              },
              {
                "fieldName": "Phone number",
                "fieldValue": "={{ $json.body.phone }}"
              },
              {
                "fieldName": "Email",
                "fieldValue": "={{ $json.body.email }}"
              },
              {
                "fieldName": "Message",
                "fieldValue": "={{ $json.body.message }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          64,
          -400
        ],
        "id": "c3fe79a0-355d-4a28-9957-84e6fb9f0eef",
        "name": "Create a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "Make a Call",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "send to visitor",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "send to visitor": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send Me success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Me Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Me success": {
        "main": [
          []
        ]
      },
      "Make a Call": {
        "main": [
          []
        ]
      }
    },
    "authors": "Zubair Younus",
    "name": "Version 784c4c2f",
    "description": "",
    "autosaved": false
  },
  "tags": []
}