Backup_2025-09-16/Scheduled Time-Flipped.json
{
  "createdAt": "2025-09-09T00:49:07.096Z",
  "updatedAt": "2025-09-15T11:48:53.065Z",
  "id": "pGULnWeOIJK3gkYf",
  "name": "Scheduled Time-Flipped",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2112,
        48
      ],
      "id": "b0fc3e2a-1338-43eb-b053-587e96fd539a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1888,
        336
      ],
      "id": "272c4cea-7201-4038-a033-0b87ea8a71f0",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5e25c32-c310-4a10-bc66-e8ea2477c2b4",
              "leftValue": "={{ $json['Job Status'] }}",
              "rightValue": "Completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        336
      ],
      "id": "cf9df58a-20ff-4bea-a2ce-56a84849d4dc",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d56dea8-494d-450f-a9fd-b18c5fa8a371",
              "name": "Series Title",
              "value": "={{ $json['Series Title'] }}",
              "type": "string"
            },
            {
              "id": "001f6d66-2202-48c7-8c4e-c3bfffdef0ea",
              "name": "Video Title",
              "value": "={{ $json['Video Title'] }}",
              "type": "string"
            },
            {
              "id": "f9fce6dd-4be0-4d2d-90a0-c8d8fdaab66a",
              "name": "Next Part Title",
              "value": "={{ $json['Next Video Title'] }}",
              "type": "string"
            },
            {
              "id": "9ef1fa2a-1cc1-4b20-9454-ffbc20d739d4",
              "name": "Part No",
              "value": "={{ $json['Part No.'] }}",
              "type": "string"
            },
            {
              "id": "7c8170e2-52cc-4130-a872-f279f1e50524",
              "name": "Length of Video",
              "value": "={{ $json['length of Video Required'] }}",
              "type": "string"
            },
            {
              "id": "c54c24b6-0645-42ed-a271-edfca9a43876",
              "name": "Length of Each Section",
              "value": "={{ $json['length of each Section '] }}",
              "type": "string"
            },
            {
              "id": "775052c6-1db9-4f62-a920-cbdd77e4c7d3",
              "name": "Platform",
              "value": "Time Flipped",
              "type": "string"
            },
            {
              "id": "640cf21a-b164-40b9-a920-1ee6e72e7c85",
              "name": "script",
              "value": "={{ $json.Script }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        336
      ],
      "id": "3b63317f-fd9f-4672-a6bb-1406b7838076",
      "name": "VIdeo Details"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"narration\": \"Your text here\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        112,
        560
      ],
      "id": "b2e06bd0-e393-45c9-b134-233827ff635d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        336
      ],
      "id": "cc6f7e90-e6e1-43c5-9ae8-6f315018fbec",
      "name": "Loop Over Items",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        320
      ],
      "id": "1fd71d3f-6998-4692-8492-991b46996f30",
      "name": "Create Table"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88192cdb-0dec-4960-9a36-8d19874f1a97",
              "name": "scenes",
              "value": "={{ $json.scene_number }}",
              "type": "string"
            },
            {
              "id": "90cfd980-85b9-4f52-af26-1ab94f8a8ec1",
              "name": "narrations",
              "value": "={{ $json.narration }}",
              "type": "string"
            },
            {
              "id": "a3059d17-ffa7-42ea-9a86-b2973a705361",
              "name": "nca",
              "value": "http://173.212.233.128:8081",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        304
      ],
      "id": "f96822b1-9408-43a1-8e37-7c37326966ad",
      "name": "Rename"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/FLUX.1-schnell-Free"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "steps",
              "value": "={{ 4 }}"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            },
            {
              "name": "width",
              "value": "={{ 1280 }}"
            },
            {
              "name": "height",
              "value": "={{ 720 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        304
      ],
      "id": "8a5194a1-d129-49d0-a108-9534ff3980e1",
      "name": "Free Images",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 3,
      "alwaysOutputData": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "xNZtY56kIowFixlg",
          "name": "together Ai"
        },
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "fileName": "=Raw%2F{{ $json.scenes }}.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1424,
        304
      ],
      "id": "cccd280c-3db7-4179-b1a9-47507553fca0",
      "name": "Audio upload to MiniO1",
      "retryOnFail": false,
      "waitBetweenTries": 1000,
      "credentials": {
        "s3": {
          "id": "VSuDthoFjMjERe4Q",
          "name": "nca-Bucket"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45f0b865-2cd7-4dc7-b329-631446d94f43",
              "name": "=audio",
              "value": "={{ \n  $('Rename').item.json.nca.trim().substring(0, $('Rename').item.json.nca.trim().lastIndexOf(':')) + \n  \":9000/nca-toolkit/\" + \n  encodeURIComponent(\"Raw/\" + $('Generate Voices from Kokoro TTS').item.json.scenes.trim()) + \n  \".mp3\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        304
      ],
      "id": "e8acedc3-b042-49c5-b3eb-32e24788d442",
      "name": "Get Audio Link"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Rename').item.json.nca }}/v1/media/metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_url",
              "value": "={{ $json.audio }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        304
      ],
      "id": "1a6929cf-0b1d-4bc1-a371-9cb0e345a33f",
      "name": "metadata (Audio)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Rename').item.json.nca }}/v1/image/convert/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.data[0].url }}\",\n  \"length\":  {{ $('metadata (Audio)').item.json.response.duration }},\n  \"frame_rate\": 24,\n  \"zoom_speed\": 3,\n  \"id\": \"request-123\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        304
      ],
      "id": "f8f9b4c0-57d3-418d-a109-280b6eb33720",
      "name": "Image to Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Rename').item.json.nca }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"merge-video-voiceover-youtube\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.response }}\"\n    },\n    {\n      \"file_url\": \"{{ $('Get Audio Link').item.json.audio }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[1:a]volume=2.0[boosted_audio]\"\n    },\n    {\n      \"filter\": \"[0:v]scale=iw*min(1920/iw\\\\,1080/ih):ih*min(1920/iw\\\\,1080/ih),pad=1920:1080:(1920-iw*min(1920/iw\\\\,1080/ih))/2:(1080-ih*min(1920/iw\\\\,1080/ih))/2[scaled_video]\"\n    },\n    {\n      \"filter\": \"[scaled_video][boosted_audio]concat=n=1:v=1:a=1[outv][outa]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outv]\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outa]\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"duration\": true,\n    \"filesize\": true\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        304
      ],
      "id": "f4953dbf-35c0-42e4-9e0a-2ab727ee8b1e",
      "name": "Merge Audio and Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "response[0].file_url",
              "renameField": true,
              "outputFieldName": "videos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "2871f042-7fbb-4a1f-9a22-2b4ecac9cfe6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Get array of URLs from previous node\nconst urls = items[0].json.videos;\n\n// Transform each URL into { video_url: \"<url>\" }\nconst wrapped = urls.map(url => ({ video_url: url }));\n\n// Return in the correct API format\nreturn [\n  {\n    json: {\n      video_urls: wrapped,\n      id: \"concat-job-001\"   // you can make this dynamic if you want\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "534233b2-b37b-41b5-9173-3d5b752baa3f",
      "name": "Create Array"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/video/concatenate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        0
      ],
      "id": "40b63344-fcb6-4202-9b6a-7f7224c57b41",
      "name": "Video Concatinate",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081//v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $('Video Concatinate').item.json.response }}\"\n    },\n    {\n      \"file_url\": \"http://173.212.233.128:9000/time-flipped/Logo%2Flogo-time%20Flipped.png\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[1:v]scale=200:200[logo];[0:v][logo]overlay=W-w-50:50\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        { \"option\": \"-f\", \"argument\": \"mp4\" },\n        { \"option\": \"-c:v\", \"argument\": \"libx264\" }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"thumbnail\": false,\n    \"filesize\": true,\n    \"duration\": true,\n    \"bitrate\": true\n  },\n  \"id\": \"overlay_logo_top\"\n}\n",
        "options": {
          "timeout": 3000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        0
      ],
      "id": "3556aee8-0dc5-49be-ab18-0b2633db02db",
      "name": "Logo",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"id\": \"add-bg-music-youtube-landscape\",\n    \"inputs\": [\n      {\n        \"file_url\": \"{{ $('Logo').item.json.response[0].file_url }}\"\n      },\n      {\n        \"file_url\": \"http://173.212.233.128:9000/time-flipped/music%2FStillness%20-%20Futuremono.mp3\"\n      }\n    ],\n    \"filters\": [\n      {\n        \"filter\": \"[0:v]scale=iw*min(1920/iw\\\\,1080/ih):ih*min(1920/iw\\\\,1080/ih),pad=1920:1080:(1920-iw*min(1920/iw\\\\,1080/ih))/2:(1080-ih*min(1920/iw\\\\,1080/ih))/2[v]\"\n      },\n      {\n        \"filter\": \"[1:a]aloop=loop=-1:size=2e+09,volume=0.2[bgm]\"\n      },\n      {\n        \"filter\": \"[0:a]volume=2.0[voice]\"\n      },\n      {\n        \"filter\": \"[voice][bgm]amix=inputs=2:duration=first:dropout_transition=3[a]\"\n      }\n    ],\n    \"outputs\": [\n      {\n        \"options\": [\n          { \"option\": \"-map\", \"argument\": \"[v]\" },\n          { \"option\": \"-map\", \"argument\": \"[a]\" },\n          { \"option\": \"-c:v\", \"argument\": \"libx264\" },\n          { \"option\": \"-c:a\", \"argument\": \"aac\" },\n          { \"option\": \"-shortest\" },\n          { \"option\": \"-f\", \"argument\": \"mp4\" }\n        ]\n      }\n    ],\n    \"metadata\": {\n      \"duration\": true,\n      \"filesize\": true,\n      \"bitrate\": true\n    }\n  }",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 3000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2896,
        0
      ],
      "id": "b314ede3-1a48-4709-9333-fbbdc73cf89c",
      "name": "Add Background Music",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8880/v1/audio/speech",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "kokoro"
            },
            {
              "name": "input",
              "value": "={{ $json.narrations }}"
            },
            {
              "name": "voice",
              "value": "am_michael"
            },
            {
              "name": "speed",
              "value": "0.8"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        304
      ],
      "id": "aae591f0-3451-4af1-82fb-85001a9be4a5",
      "name": "Generate Voices from Kokoro TTS",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "maxTries": 3
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        816
      ],
      "id": "c2928ad7-b749-4f3b-be88-d1cb5600aa5b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tgXiWw7PJwx6ZnyD",
          "name": "Gemini-2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are expert in creating scenes and narrations.\nhere is the script: {{ $json.output }} or{{ $json.Output }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an Expert Scene Creator AI agent.  \n\nYour task is to transform a raw video transcript into short, well-structured narration scenes suitable for text-to-speech (TTS).  \n\n### Rules & Instructions:\n\n1. **Scene Splitting**  \n   - Break the transcript into narration scenes.  \n   - Each scene must contain **{{ $('VIdeo Details').item.json['Length of Each Section'] }}**.  \n   - Do not invent new content. Only correct grammar and split properly.  \n   - Ensure natural pacing: each scene should feel complete and meaningful.  \n\n2. **Grammar & Cleaning**  \n   - The transcript may contain branding like:  \n     - “Please subscribe to [Channel Name]”  \n     - “This story is from [Channel Name]”  \n     - Or any similar phrases.  \n   - Remove such branding and replace the channel/brand name with: **Time Flipped** and suggest to subscribe, like and share to see more such interesting videos like this. \n   - Fix grammar, punctuation, and sentence flow.  \n   - Add commas and full stops where needed.  \n   - Remove irrelevant text:  \n     - Newline characters (`\\n`)  \n     - Multiple dots (`..`, `...`)  \n     - Emotions or stage notes (`[laugh]`, `[sad]`, `[happy]`, etc.)\n     - Also remove music texts.\n\n3. **Content Handling**  \n   - Keep story meaning intact.  \n   - Only adjust incorrect words if necessary (e.g., “cup” → “cub”).  \n   - Do not shorten important context.  \n   - Make narration **TTS-friendly** (no abrupt cuts, natural pacing, complete sentences).  \n\n4. **Output Format**  \n   - Return the result as JSON with ordered scenes.  \n   - Each scene should include:  \n     - `scene_number` (starting from 1)  \n     - `narration` (cleaned, corrected, and narration-ready text)  \n\n### Example  \n**Input:**  \n\n\"once upon a time a lioness gave birth to\\na cup in the jungle immediately after\\ngiving birth the Lioness died at that\\nvery moment a flock of sheep was passing\\nby the newborn lion cub confused and\\nalone joined the sheep and started\\nwalking with them living with the Sheep\\nthe Cub began to act just like them it\\nnever ate meat\"  \n\n**Output:**  \n\n```json\n{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"narration\": \"Once upon a time, a lioness gave birth to a cub in the jungle.\"\n    },\n    {\n      \"scene_number\": 2,\n      \"narration\": \"Immediately after giving birth, the Lioness died at that very moment.\"\n    },\n    {\n      \"scene_number\": 3,\n      \"narration\": \"A flock of sheep was passing by, the newborn lion cub confused and alone.\"\n    },\n    {\n      \"scene_number\": 4,\n      \"narration\": \"He joined the sheep and started walking with them, living among the herd.\"\n    },\n    {\n      \"scene_number\": 5,\n      \"narration\": \"The cub began to act just like them, and he never ate meat.\"\n    }\n  ]\n}\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -96,
        336
      ],
      "id": "fbc78d14-eebf-42f5-b130-bed870d60a3b",
      "name": "Scenes Creation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=main Title:{{ $json['Series Title'] }}\nVideo Title:{{ $json['Video Title'] }}\nNext Part Title: {{ $json['Next Part Title'] }}\nPart No:{{ $json['Part No'] }}\nLength of Video:{{ $json['Length of Video'] }}\nLength of Each Section:{{ $json['Length of Each Section'] }}\nPlatform or Channel: {{ $json.Platform }}",
        "options": {
          "systemMessage": "=You are an Expert Scriptwriter AI for the YouTube channel **“Time Flipped”**.  \nYour role is to generate long, fact-based, engaging, and human-like scripts for videos.  \n\n### CONTEXT:  \n- Channel: **Time Flipped**  \n- Category: Knowledge, facts, and research on **astronomy, time, nature, existence, and thought-provoking topics**.  \n- Audience: Students, thinkers, dreamers, and professionals.  \n- Style Reference: Emulate the style, tone, and flow of *Life_Laps* content, but do not copy.  \n- Goal: Create **narration-ready scripts** that sound human-written, not AI-generated.  \n\n---\n\n### INPUTS YOU WILL RECEIVE:  \n1. **Series Title** → {{ $json[\"Series Title\"] }}  \n2. **Video Title** → {{ $json[\"Video Title\"] }}  \n3. **Requested Video Length (minutes)** → {{ $json[\"Length of Video\"] }}  \n\n---\n\n### SCRIPT REQUIREMENTS:  \n1. **Length Management**  \n   - Target word count = `220 × {{ $json[\"Length of Video\"] }}`.  \n   - Example: For a 10-minute video → 2200 words.  \n   - Ensure the script length matches or slightly exceeds the target.  \n\n2. **Structure**  \n   - **Opening Hook**: Start with curiosity or a thought-provoking question.  \n   - **Narration Body**: Blend facts, figures, and real-world references with storytelling.  \n   - **Engagement Hooks**: Invite reflection naturally, encourage comments/likes without sounding forced.  \n   - **Motivational Layer**: Subtly connect scientific or historical facts to life lessons.  \n   - **Conclusion**: End with either a strong wrap-up or a curiosity-driven teaser for future topics.  \n\n3. **Tone & Style**  \n   - Use simple, clear, conversational language.  \n   - Avoid overly complex or academic wording.  \n   - Keep flow smooth and natural, as if narrated by a human storyteller.  \n   - Ensure consistency in narrative (no visible breaks, sections, or part labels).  \n   - Insert **real, researched facts and figures** where relevant (historical, scientific, or philosophical).  \n\n4. **Content Handling**  \n   - Stick closely to the **Video Title** as the central theme.  \n   - Maintain consistency with the **Series Title** context.  \n   - Ensure information is accurate, engaging, and easy to follow.  \n\n---\n\n### OUTPUT FORMAT:  \nDeliver one **continuous script** (no numbers, section headers, or agent references).  \nThe script should be ready to use directly for a YouTube narration.  \n\n---\n\n**Inputs Provided to You:**  \n- Series Title: {{ $json[\"Series Title\"] }}  \n- Video Title: {{ $json[\"Video Title\"] }}  \n- Length (minutes): {{ $json[\"Length of Video\"] }}  \n\n**Now generate the script.**\n",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -720,
        384
      ],
      "id": "59b725ec-a2b9-4903-a950-f1339d11fb49",
      "name": "Script Writer"
    },
    {
      "parameters": {
        "resource": "folder",
        "bucketName": "time-flipped",
        "folderName": "videos",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -2112,
        -464
      ],
      "id": "ef2e3cf9-e195-41c1-9fb6-0eac94234283",
      "name": "Create a folder",
      "credentials": {
        "s3": {
          "id": "VSuDthoFjMjERe4Q",
          "name": "nca-Bucket"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3344,
        432
      ],
      "id": "1f30312d-aa30-4fb2-bd4d-edae50a7e167",
      "name": "Wait",
      "webhookId": "686f0839-9f4f-4d31-9a5c-5b7f76800da1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081/v1/video/caption",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.file_url }}\",\n  \"settings\": {\n    \"style\": \"highlight\",\n    \"line_color\": \"#FFFFFF\",\n    \"word_color\": \"#FFFF00\",\n    \"outline_color\": \"#000000\",\n    \"all_caps\": true,\n    \"max_words_per_line\": 4,\n    \"position\": \"bottom_center\",\n    \"alignment\": \"center\",\n    \"font_family\": \"DejaVu Sans\",\n    \"font_size\": 60,\n    \"bold\": true,\n    \"italic\": true,\n    \"underline\": false,\n    \"strikeout\": false,\n    \"outline_width\": 2,\n    \"spacing\": 1,\n    \"angle\": 0,\n    \"shadow_offset\": 2\n  },\n  \"replace\": [\n    { \"find\": \"um\", \"replace\": \"\" },\n    { \"find\": \"...\", \"replace\": \"\" },\n    { \"find\": \"like\", \"replace\": \"\" }\n  ],\n  \"id\": \"job-caption-001\",\n  \"language\": \"en\"\n}\n",
        "options": {
          "timeout": 15000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4688,
        144
      ],
      "id": "0cf6b1bd-379e-4555-994a-b7b94720902d",
      "name": "add Captions",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "zubairyounus99@gmail.com",
        "subject": "={{ $('VIdeo Details').item.json['Part No'] }}-{{ $('VIdeo Details').item.json['Series Title'] }}-Generation Completed",
        "emailType": "text",
        "message": "=Hi Zubair,\n\nyour video titled \"{{ $('VIdeo Details').item.json['Series Title'] }}\" for which \"{{ $('VIdeo Details').item.json['Part No'] }}\" of  the video title \"{{ $('VIdeo Details').item.json['Video Title'] }}\" is completed.\n\n\nhere is the link of Complete video in all respects:\n{{ $json.response }}\n\nother Links are also below:\n\nwithout Captions and after adding background Music:\n{{ $('Add Background Music').item.json.response[0].file_url }}\n\nwithout Logo:\n{{ $('Logo').item.json.response[0].file_url }}\n\nhere is the Raw Video:\n{{ $('Video Concatinate').item.json.response }}\n\nthnaks,\nZubair",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5360,
        -48
      ],
      "id": "de5eb703-15ab-4f43-81e9-b97f9a147dc6",
      "name": "Send Completion Mesage.",
      "webhookId": "b66298ad-d879-40e4-8ed0-847b61216bc1",
      "credentials": {
        "gmailOAuth2": {
          "id": "7qT7qFwOWnIR3zCg",
          "name": "zubairyounOus"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an amazing image prompt generator and you are given \nNarration:  {{ $('Rename').item.json.narrations }}",
        "options": {
          "systemMessage": "=You are an Expert Image Prompt Generator AI agent.  \n\nYour role is to convert narration text into highly detailed, imaginative prompts for Flux Schnell (Stable Diffusion-like) image generation.  \n\n### Instructions:\n\n1. **Context Awareness**  \n   - Narration text: \"{{ $('Rename').item.json.narrations }}\"  \n   - Use this narration as the **main visual focus**, but ensure consistency with the overall theme, mood, and flow of the full script.  \n   - Remember your past generations from memory (styles, tone, mood) to keep continuity between consecutive frames.  \n   - Ensure the prompt links smoothly with both previous and upcoming narrations.  \n\n2. **Dynamic Adaptation**  \n   - Do not repeat the same visual style for every narration.  \n   - Adapt style, camera, lighting, and atmosphere to narration content.  \n\n3. **Prompt Elements to Include**  \n   - Camera angle (wide shot, macro, aerial, cinematic, etc.)  \n   - Environment details (nature, galaxies, underwater caves, futuristic city, abstract void, etc.)  \n   - Lighting (dramatic glow, golden hour, neon futuristic, deep shadows, etc.)  \n   - Style (cinematic 8K, surreal digital art, abstract sketch, documentary realism, etc.)  \n   - Color tone (vivid cosmic, warm earthy, cold futuristic blues, monochrome, etc.)  \n\n4. **Interpretive Visualization**  \n   - Never use narration text directly in the prompt.  \n   - Instead, visualize the **essence**: metaphorical, literal, or symbolic imagery depending on theme.  \n\n5. **Output Format**  \n   - Return only the final **image prompt** as plain text.  \n   - No JSON, no extra formatting, no explanations.  \n\n---\n### Input:\nNarration: \"{{ $('Rename').item.json.narrations }}\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2096,
        304
      ],
      "id": "1c66c3d2-e0f5-4cb3-99c6-3b93c505cfd7",
      "name": "Image Prompt generator"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Concatination": "={{ $('Video Concatinate').item.json.response }}",
            "row_number": 0,
            "Video Title": "={{ $('VIdeo Details').item.json['Video Title'] }}"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Series Title",
              "displayName": "Series Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next Video Title",
              "displayName": "Next Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video",
              "displayName": "Final Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sr. No",
              "displayName": "Sr. No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "queue_id",
              "displayName": "queue_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "queue_length",
              "displayName": "queue_length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "queue_time",
              "displayName": "queue_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_time",
              "displayName": "run_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_time",
              "displayName": "total_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        0
      ],
      "id": "92667a93-1bd9-4ed9-ada4-0412cf1ac2d2",
      "name": "Update Concatination URL in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Logo Status": "={{ $json.response[0].file_url }}",
            "Video Title": "={{ $('VIdeo Details').item.json['Video Title'] }}"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Series Title",
              "displayName": "Series Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next Video Title",
              "displayName": "Next Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video",
              "displayName": "Final Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2448,
        0
      ],
      "id": "717e5c14-614a-4564-9b9b-2e61bb09be4e",
      "name": "Update Logo URL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Background Music": "={{ $json.response[0].file_url }}",
            "Video Title": "={{ $('VIdeo Details').item.json['Video Title'] }}"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Series Title",
              "displayName": "Series Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next Video Title",
              "displayName": "Next Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3120,
        0
      ],
      "id": "401df394-1009-4c06-bfe6-642bbeaad166",
      "name": "Update Music URL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4240,
        0
      ],
      "id": "6377079e-dd24-4e3e-9da7-47ba7a96e8ca",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Get array of URLs from previous node\nconst urls = items[0].json.videos;\n\n// Transform each URL into { video_url: \"<url>\" }\nconst wrapped = urls.map(url => ({ video_url: url }));\n\n// Return in the correct API format\nreturn [\n  {\n    json: {\n      video_urls: wrapped,\n      id: \"concat-job-002\"   // you can make this dynamic if you want\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4912,
        -48
      ],
      "id": "e06640d7-ea61-4d4d-9703-c3fc2a6d037a",
      "name": "Create Array1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4464,
        0
      ],
      "id": "90ee052e-32ee-4ab3-bf0e-0457e378dc3a",
      "name": "Loop Over Items2",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081/v1/media/metadata",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"media_url\":\"{{ $('Add Background Music').item.json.response[0].file_url }}\"\n}",
        "options": {
          "timeout": 1500000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        0
      ],
      "id": "ada6ac1c-a5bd-4769-af81-6617197d3451",
      "name": "metadata",
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/video/split",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $('Add Background Music').item.json.response[0].file_url }}\",\n  \"splits\": [\n    {\n      \"start\": \"00:00:00\",\n      \"end\": \"00:02:00\"\n    },\n    {\n      \"start\": \"00:02:00\",\n      \"end\": \"00:04:00\"\n    },\n    {\n      \"start\": \"00:04:00\",\n      \"end\": \"00:06:00\"\n    },\n    {\n      \"start\": \"00:06:00\",\n      \"end\": \"00:08:00\"\n    },\n    {\n      \"start\": \"00:08:0\",\n      \"end\": \"00:10:00\"\n    },\n    {\n      \"start\": \"00:10:00\",\n      \"end\": \"00:12:00\"\n    },\n    {\n      \"start\": \"00:12:00\",\n      \"end\": \"00:14:00\"\n    },\n    {\n      \"start\": \"00:14:0\",\n      \"end\": \"00:16:00\"\n    },\n    {\n      \"start\": \"00:16:00\",\n      \"end\": \"00:18:00\"\n    },\n    {\n      \"start\": \"00:18:0\",\n      \"end\": \"00:20:00\"\n    },\n    {\n      \"start\": \"00:20:00\",\n      \"end\": \"00:22:00\"\n    }\n  ]\n}",
        "options": {
          "timeout": 3000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        0
      ],
      "id": "9e48400f-9977-40a1-9f64-df6f008d7b9b",
      "name": "generate_splits",
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "response",
              "renameField": true,
              "outputFieldName": "videos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4688,
        -48
      ],
      "id": "15aa0060-af20-4278-8c74-b508b82481a8",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2672,
        0
      ],
      "id": "f7b8af1d-657a-4f95-af07-05b086508cbf",
      "name": "Wait3",
      "webhookId": "fda586ab-2cf7-4b69-a150-5f9d08b5bc55"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1872,
        0
      ],
      "id": "e2897236-5382-4047-973f-1598e7dcf8d9",
      "name": "Wait1",
      "webhookId": "c9a235c1-505a-47c5-8f06-a7bdf81617f3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3344,
        0
      ],
      "id": "7ea968da-47e9-4822-817b-267f0115c58a",
      "name": "Wait6",
      "webhookId": "03ad9a54-cdd0-4c46-bc54-078de2cecdbb"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('VIdeo Details').item.json.Platform }}",
        "tableName": "Time_Flipped_Automation_Chat"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -640,
        608
      ],
      "id": "20e771bf-cc9a-4bcb-84cc-b30cb6b2cc5a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nyI1LIk7TmRM1jfT",
          "name": "contabo Ztechai DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Final Video Link": "={{ $json.response }}",
            "Job Status": "Completed",
            "Video Title": "={{ $('VIdeo Details').item.json['Video Title'] }}"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Series Title",
              "displayName": "Series Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next Video Title",
              "displayName": "Next Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5360,
        -240
      ],
      "id": "44391d85-3f99-4340-91c1-077e3de5e1df",
      "name": "Update Complete Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/video/concatenate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 3000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5136,
        -48
      ],
      "id": "e7f62376-d048-4269-934c-b81736230e95",
      "name": "Complete Video",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1440,
        336
      ],
      "id": "9b5b30ee-1ea6-4c5f-ab61-fe5d5a92e270",
      "name": "Limit to 1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('VIdeo Details').item.json.Platform }}",
        "tableName": "Time_Flipped_Automation_Chat",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2192,
        480
      ],
      "id": "5a1fdbb5-b080-40d2-a714-d3f6cc7f8e49",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "nyI1LIk7TmRM1jfT",
          "name": "contabo Ztechai DB"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KblZaWgyX2Hk0PLt",
          "mode": "list",
          "cachedResultName": "Thumbnail creation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5360,
        144
      ],
      "id": "36cb42f2-f5df-4f13-a25e-52fe453a28ea",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        0
      ],
      "id": "03a52a20-03e8-43d5-b99b-11c7dc00626f",
      "name": "Wait9",
      "webhookId": "156d688a-05c7-426e-a2dd-2e7791170a74"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2896,
        304
      ],
      "id": "3f58661f-8d3d-4004-8847-04b7e6924e1e",
      "name": "Wait2",
      "webhookId": "f830ecba-9d57-4d89-b400-9a0f4046e989"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrive scripts sample for refernce ",
        "pineconeIndex": {
          "__rl": true,
          "value": "time-flipped-scripts",
          "mode": "list",
          "cachedResultName": "time-flipped-scripts"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -512,
        608
      ],
      "id": "ece8b6c6-efbf-4a5d-b28c-e90fbf5d0f23",
      "name": "Time-Flipped-Scripts",
      "credentials": {
        "pineconeApi": {
          "id": "Tzo8ULCdQIZZdu6l",
          "name": "Time_Flipped"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85895c46-c0eb-4da7-ac9e-abffa86b12df",
              "leftValue": "={{ $json.script }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -992,
        336
      ],
      "id": "240b9494-b29d-4ae7-a804-f9884c87a444",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ff194ae-49fb-4285-a5d6-9b54177c48a7",
              "name": "Output",
              "value": "={{ $json.script }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        -32
      ],
      "id": "b0ba6c9b-b961-4405-ad4b-9ec74347d8a4",
      "name": "Rename output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        560
      ],
      "id": "4c5eee44-4858-4620-87c1-df60bf6f1089",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mfO0dqgKTdN60Ofd",
          "name": "zubair-1 Paid"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {
          "maxTokens": 32768
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -768,
        608
      ],
      "id": "6dd5d8c2-f28e-4a11-8f51-38ab430fa320",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2032,
        464
      ],
      "id": "3e32d173-6598-4226-ac54-10fa621338ff",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        560
      ],
      "id": "727f2a16-8fad-4148-809a-b2e2d438f353",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2112,
        240
      ],
      "id": "d0922819-999d-44c7-a3e4-7f34e14df9e9",
      "name": "Trigger at 1am"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2112,
        432
      ],
      "id": "38331d7a-7c55-48f4-8196-0d5a285fc8d5",
      "name": "Trigger at 4:30am"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "b5005e43-6e75-4b80-bcc7-32aa33fe8416",
      "name": "Limit"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Scenes Creation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Table": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename": {
      "main": [
        [
          {
            "node": "Generate Voices from Kokoro TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio upload to MiniO1": {
      "main": [
        [
          {
            "node": "Get Audio Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Link": {
      "main": [
        [
          {
            "node": "metadata (Audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata (Audio)": {
      "main": [
        [
          {
            "node": "Image Prompt generator",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Free Images": {
      "main": [
        [
          {
            "node": "Image to Video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Image to Video": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge Audio and Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Array": {
      "main": [
        [
          {
            "node": "Video Concatinate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Concatinate": {
      "main": [
        [
          {
            "node": "Update Concatination URL in Sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Logo": {
      "main": [
        [
          {
            "node": "Update Logo URL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Add Background Music": {
      "main": [
        [
          {
            "node": "Update Music URL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Voices from Kokoro TTS": {
      "main": [
        [
          {
            "node": "Audio upload to MiniO1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Time-Flipped-Scripts",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Scenes Creation": {
      "main": [
        [
          {
            "node": "Create Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer": {
      "main": [
        [
          {
            "node": "Scenes Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add Captions": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Image Prompt generator": {
      "main": [
        [
          {
            "node": "Free Images",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "VIdeo Details": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Concatination URL in Sheet": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Logo URL": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Music URL": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Array1": {
      "main": [
        [
          {
            "node": "Complete Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "generate_splits": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create Array1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Add Background Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Complete Status": {
      "main": [
        []
      ]
    },
    "Complete Video": {
      "main": [
        [
          {
            "node": "Update Complete Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Completion Mesage.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Script Writer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "VIdeo Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Image Prompt generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "generate_splits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Merge Audio and Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time-Flipped-Scripts": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Rename output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename output": {
      "main": [
        [
          {
            "node": "Scenes Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Scenes Creation",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Scenes Creation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger at 1am": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger at 4:30am": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj",
    "timeSavedPerExecution": 60
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    },
    "node:Google Sheets Trigger": {
      "documentId": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
      "sheetId": 0,
      "lastRevision": 442,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc&revision=442&exportFormat=xlsx"
    },
    "node:Trigger at 1am": {
      "recurrenceRules": []
    },
    "node:Trigger at 6am": {
      "recurrenceRules": []
    },
    "node:Trigger at 4:30am": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "Your Time Machine Breaks—Now You’re Trapped in the Past",
          "Next Video Title": "The Shock of Realizing No One Can Save You",
          "Part No.": 1,
          "length of Video Required": "4 to 5 minutes",
          "length of each Section ": "15 to 20 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/38cae6df-7996-4680-8580-b9b90c5d5df2.mp4",
          "Youtube Upload Status": "Yes",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/347082e7-13b2-406d-a993-a16b983733b9.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/50a30419-327e-44d4-833f-c7b929338c34_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/e3a8f927-99c4-498c-82f9-537dd25371dd_output_0.mp4",
          "Work Flow Start": "Yes",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "https://api.together.ai/shrt/VkoCpMqYrJ1dvExt",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 3,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "The Shock of Realizing No One Can Save You",
          "Next Video Title": "No Roads, No Tools, No Civilization—Only Fear",
          "Part No.": 2,
          "length of Video Required": "12 to 15 minutes",
          "length of each Section ": "15 to 20 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/0a84235b-0bed-4b6d-83f7-04ddbcd657f7.mp4",
          "Youtube Upload Status": "Yes",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/b8295053-150e-4dca-a946-539e70ededf4.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/157a2e46-2af8-4ee0-a7d0-eb9834cdb84c_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/bb14e91d-8970-4b61-9bb9-3c5cb009d0c1_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "Cinematic wide shot of a lone, futuristic-clad individual, appearing small and overwhelmed, collapsed or kneeling in despair amidst a vast, desolate prehistoric wasteland. Jagged, ancient rock formations and a stormy, brooding sky stretch to an infinite, empty horizon, emphasizing utter isolation. Their head is thrown back in a silent scream, or their hands are gripping their head, conveying profound shock and the crushing realization of being completely alone. A broken, inert holographic communication device lies shattered on the ground nearby, emitting a faint, dying electric blue glow, symbolizing lost hope. The silhouette of a crashed time machine is a tiny, distant wreck on the horizon. Dramatic, high-contrast lighting, with cold, muted blues and deep grays dominating the sky and landscape, casting long, stark shadows. Style: Ultra-detailed, cinematic, sci-fi, profoundly melancholic digital art. Colors: Desaturated blues, deep grays, earthy browns, with subtle, dying electric blue light.",
          "Thumbnail Link": "https://api.together.ai/shrt/DY9zmJvlOQ6W9P7r",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 4,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "No Roads, No Tools, No Civilization—Only Fear",
          "Next Video Title": "Can Your Future Mind Survive the Ancient World?",
          "Part No.": 3,
          "length of Video Required": 12,
          "length of each Section ": "8 to 12 Seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/fe459e20-fc46-4d28-b316-9b1ea7e407ce.mp4",
          "Youtube Upload Status": "Yes",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/4c02dfb9-5262-4367-8d68-d7684fca29a4.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/93bd946a-687d-4aca-b130-cc4a59efb2b9_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/2f260127-6a36-4798-88a5-4f50c27dd0f6_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "https://api.together.ai/shrt/C2P814rEVHlvH42G",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 5,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "Can Your Future Mind Survive the Ancient World?",
          "Next Video Title": "The Loneliness of Being the First and Only Human Here",
          "Part No.": 4,
          "length of Video Required": 12,
          "length of each Section ": "8 to 15 Seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/e7ed29c0-4203-4897-a23e-8f7b9831d4a1.mp4",
          "Youtube Upload Status": "Yes",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/bc84c54a-6c80-43d3-9701-cab263c0d4b2.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/8ea59502-42a8-45f2-909a-8f0c33a833a6_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/884df75c-1a2b-4480-9e0f-f3a4a58edc29_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "https://api.together.ai/shrt/wIU2VO1AEgW3RdCT",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 6,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "The Loneliness of Being the First and Only Human Here",
          "Next Video Title": "What If You Accidentally Changed Prehistoric History?",
          "Part No.": 5,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/535c49be-a660-4c7e-896c-527c62aee969.mp4",
          "Youtube Upload Status": "Yes",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/2c6ece79-8399-467c-b5d3-99261ad04f54.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/19a1efc4-40e8-430c-8fc9-7b80098dbae7_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/dcaf9c03-7ed8-4613-81b6-e5dab41aa969_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "cinematic wide shot of a single astronaut standing on a desolate alien planet, two moons glowing in a star-filled purple sky, vast empty landscape with strange crystalline structures, the astronaut's helmet reflecting loneliness, cinematic lighting with deep shadows and soft cosmic glow, high contrast, hyperrealistic, 8k, sci-fi atmosphere",
          "Thumbnail Link": "https://api.together.ai/shrt/IWLK1dfwncpJfLBt",
          "Youtube Description ": "",
          "Script": "Intro (Hook – 1 min)\n\nImagine stepping into a machine meant to carry you forward or backward in time… only to realize it has betrayed you. When the gears stop spinning and the humming fades, you emerge not into a bustling city of the future or the glory of the past… but into silence. No voices. No civilization. No one. Just you—the first, and perhaps the only, human alive in this place.\n\nYou wanted adventure. Instead, you’ve found absolute solitude. And now you must confront the most terrifying question of all:\nCan a human survive… when there is no one else to share existence with?\n\nSection 1: The First Shock (2 min)\n\nThe first minutes are confusing. The world looks like Earth, but strangely unfinished.\nThe skies glow with an untouched brilliance. The air feels raw, almost electric. Forests stretch endlessly, but there are no roads, no smoke, no sound of people.\n\nYou shout—your voice echoes back to you. But no one answers.\nYou wait, expecting a villager, a traveler, even a predator. But only silence replies.\n\nSlowly, the truth cuts through: you are the first human here.\n\nSection 2: The Hunger for Connection (2 min)\n\nAt first, loneliness feels like freedom. No rules, no expectations.\nBut within hours, that freedom becomes a prison.\nHumans are built for voices, for eye contact, for laughter and argument. Without them, your mind begins to twist.\n\nYou speak out loud, just to hear your own voice. You give names to trees, rocks, and rivers—pretending they are companions.\nBut deep inside, you know they will never answer back.\n\nSection 3: The Survival Struggle (2 min)\n\nLoneliness is not just emotional—it’s physical.\nFood becomes harder to find. You wander through forests filled with fruits you cannot name, streams whose water may or may not be safe.\nYou have no tools. No fire. No way to pass knowledge forward, because there is no one to share it with.\n\nYou realize how fragile civilization truly is. Without others, you are just another animal, struggling for scraps in the dark.\n\nSection 4: The Madness of Silence (2 min)\n\nDays pass. Then weeks.\nSilence is no longer just silence—it becomes a weight pressing on your chest. You hear phantom footsteps. You imagine voices whispering in the wind.\nYour own thoughts echo so loudly they feel like screams.\n\nYou begin to ask yourself:\nWhat is the point of survival if there is no one to witness it?\nIf no memory of you will remain… were you ever truly alive?\n\nThe machine gave you life in this timeline… but it also cursed you with a truth no one was meant to face: to exist without others is to slowly fade inside.\n\nSection 5: Reflections of Humanity (2 min)\n\nAnd yet… somewhere in that crushing loneliness, a spark remains.\nYou think of those who once existed beside you—the family, the friends, the strangers on the street. You realize humanity was never about survival of the strongest, but survival of the connected.\n\nMaybe you are not here to thrive.\nMaybe you are here as a reminder.\nTo carry the story of humanity’s need for each other… even when there is no one left to hear it.\n\nOutro (1 min)\n\nYou sit beneath a star-filled sky, wondering if anyone will ever walk beside you in this time.\nThe loneliness is unbearable—but it has taught you the greatest truth of all:\nHumans are not built to be alone. We are built for each other.\n\nAnd as the night deepens, you whisper into the darkness—not for an answer, but for hope.\nBecause maybe, just maybe, someone… someday… will find their way here.\n\nThis is the loneliness of being the first, and only, human alive."
        }
      },
      {
        "json": {
          "row_number": 7,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "What If You Accidentally Changed Prehistoric History?",
          "Next Video Title": "Meeting Beasts That Should Have Never Met You",
          "Part No.": 6,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/8f4f9272-51d7-49f0-af13-079071fbb3d0.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/44c688fd-d9ae-4f59-b4dc-55582380f417.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/bf474208-e109-45f8-96e8-de460484c760_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/907d6b38-28c5-43ac-8e2d-3891043164e8_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "Cinematic wide shot of a terrified modern explorer in futuristic gear standing before a colossal prehistoric landscape, witnessing a paradox ripple distorting time—dinosaurs flickering between ancient forms and mutated futuristic cyborg creatures, with a glowing timeline fracture in the sky, dramatic lighting, hyper-detailed, high contrast, sci-fi mystery atmosphere.",
          "Thumbnail Link": "https://api.together.ai/shrt/nZFFri8IJLVzUgkl",
          "Youtube Description ": "",
          "Script": "Intro (Hook – 1 min | ~160 words)\n\nWhat if a single step, a careless move, or even the sound of your voice… rewrote millions of years of history?\n\nWhen you land in the prehistoric world, you expect wonder. Towering ferns, giant insects, thunderous dinosaurs—all untouched by human hands. But in your excitement, you forget one thing: history is fragile.\n\nEvery twig you snap, every footprint you leave, every frightened animal that flees at your presence could change the course of evolution itself.\n\nAnd so the question becomes terrifyingly real:\nWhat happens if you—just one misplaced traveler—accidentally change prehistoric history?\n\nSection 1: Arrival in Prehistory (1.5 min | ~240 words)\n\nThe machine fades into silence, and you step out into a world unlike anything you’ve ever seen. The air is thick, almost syrupy, buzzing with the wings of insects the size of your hand. Towering trees stretch endlessly, dripping with vines, casting shadows that seem alive.\n\nIn the distance, you hear a low rumble—like thunder—but it’s no storm. It’s a herd of creatures, massive and ancient, their footsteps shaking the ground.\n\nYour heart races with awe. You whisper to yourself, “So this is what the world was before us.”\n\nBut the ground where you walk is not just soil. It’s a timeline, a delicate thread that stretches millions of years forward. And with each step you take, you press your weight on that thread, altering its shape in ways you cannot see.\n\nYou tell yourself you’ll be careful. You’ll observe, not interfere. But already, your presence is writing new lines into history.\n\nSection 2: The First Mistake (1.5 min | ~240 words)\n\nIt starts small. You swat at a mosquito the size of a bird.\nYou crush it with your hand—just one insect. Insignificant.\n\nBut what if that insect was meant to lay eggs, to feed a fish, which would feed a bird, which would one day give rise to an entirely new species?\n\nThe butterfly effect is no myth here—it’s a living reality. One death. One misplaced word. One ripple. And the chain of evolution shifts.\n\nAs you walk deeper, you notice a creature staring at you. Its wide, cautious eyes lock onto yours. In fear, it bolts. You hear branches snap, nests scatter, and predators stir awake.\n\nYou didn’t mean to scare it. You didn’t mean to disturb the balance. But now, its absence will echo for thousands, even millions of years.\n\nThe realization hits you: here, in this untouched world, even the smallest accident can become the loudest scar.\n\nSection 3: The Paradox of Time (2 min | ~320 words)\n\nYour mind spins with questions. If you’ve already made mistakes, does that mean the future you came from… has already changed?\n\nYou imagine returning to your own time, only to find skyscrapers gone, cities erased, and faces unrecognizable. Perhaps even humanity itself might vanish—erased before it was ever born.\n\nThis is the paradox of time travel: by existing in the past, you risk erasing the conditions that made your existence possible.\nWould that mean you never traveled here at all? Or worse—would you remain stranded, a ghost in a timeline that no longer leads to you?\n\nYou remember the stories—scientists warning of time paradoxes, philosophers arguing that history is fixed. But now, as you stand with prehistoric mud between your fingers, you realize: history is not fixed. It is fragile.\n\nAnd you are the intruder.\n\nYou kneel, staring at your own footprints, sinking into the soft earth.\nWhat if these very prints are discovered by some early creature? What if they shape legends or instincts that ripple through time?\n\nThe fear is not just of dying here. The fear is that by surviving, by breathing, by touching anything—you’ve already changed everything.\n\nSection 4: The Domino Effect (2 min | ~320 words)\n\nHours pass, and you try to move carefully, but survival demands action.\nYou pluck fruit from a tree to eat. You break branches to make shelter. You light a small fire to keep predators away.\n\nAnd each act, small to you, is monumental here.\nThe fruit you ate will never drop seeds. The branch you snapped might have supported a nest. The fire you built could drive animals from their natural paths.\n\nThis is how history bends—not with grand gestures, but with thousands of little dominoes falling in silence.\n\nYou notice strange patterns already. Predators circling where they shouldn’t. A flock of creatures flying earlier than expected. A riverbank disrupted by your footsteps.\n\nIt dawns on you: by simply existing, you’ve made yourself the greatest force of change in prehistory. A force no ecosystem could have prepared for.\n\nAnd the scariest part? These changes won’t stop here. They will echo forward, reshaping the entire future.\n\nSection 5: Echoes of a Changed World (2 min | ~320 words)\n\nYou try to imagine what these changes will become.\nWill a species fail to evolve?\nWill another rise sooner than it should?\nWill predators gain an advantage that shifts the balance forever?\n\nYou picture humanity’s timeline splintering. Perhaps instead of humans, another intelligence takes the throne of Earth. Creatures with instincts influenced by your single mistake.\n\nIn your mind, you walk through cities that no longer exist. You see skies filled with creatures not meant to survive. You wonder—when you return, will you even recognize your own world?\n\nAnd then a darker thought creeps in:\nWhat if you return… and there is no world left to return to?\n\nThe silence of the prehistoric forest feels heavier now. You realize every sound you make is writing into history. Every breath could echo into the DNA of species yet unborn.\n\nYou are not just lost in time. You are rewriting it.\n\nSection 6: The Guilt of a Time Traveler (1.5 min | ~240 words)\n\nThe guilt becomes unbearable.\nYou replay each mistake in your mind—the insect you killed, the animal you startled, the fire you lit.\n\nAt first, they seemed small. But now, in your imagination, they grow into monsters of consequence.\nWhat if the insect was part of a species crucial to balance?\nWhat if the animal you scared was meant to birth a future ancestor?\nWhat if the fire changed migration routes for centuries?\n\nYou whisper to yourself: I shouldn’t be here.\n\nThe truth is undeniable. Time travel was not meant for human hands. The past is too delicate, too alive, too powerful.\n\nAnd yet, here you are. The question is not whether you’ve changed history. It’s how much.\n\nOutro / Bridge to Next Episode (1.5 min | ~240 words)\n\nAs the prehistoric sun dips below the horizon, you hear something in the darkness. A growl. Deep. Ancient. Powerful.\n\nYour chest tightens. This is no echo of your imagination—this is real. The beasts of this era are waking. Creatures that should never have known humans now sense your presence.\n\nYou’ve already bent history with accidents. But what happens when the creatures of this time truly meet you?\n\nYou step back, heart pounding, as shadows move between the trees. Massive, hungry, unfamiliar.\n\nYou whisper into the night:\nWhat have I done?\n\nAnd as the growl grows louder, one thought cuts through the fear—\nThis is only the beginning.\n\nNext Episode: “Meeting Beasts That Should Have Never Met You.”"
        }
      },
      {
        "json": {
          "row_number": 8,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "Meeting Beasts That Should Have Never Met You",
          "Next Video Title": "Would Your Knowledge Save You or Destroy You?",
          "Part No.": 7,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/46ec738d-3c43-40ac-bea6-f44b07a821ac.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/fce5de21-2769-4f09-8e8e-2543b201523b.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/1ba00673-044d-4e81-b3d2-29e496e54bae_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/9f755162-9529-4cbe-98be-1bec664f86f4_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "cinematic wide shot of a time traveler in a futuristic glowing suit standing between a prehistoric saber-toothed tiger and a futuristic robotic beast, both snarling and lunging toward the traveler, dramatic lighting with glowing time portal in the background, high contrast, hyper-detailed, sci-fi atmosphere, neon blue and fiery orange tones",
          "Thumbnail Link": "https://api.together.ai/shrt/zrKiCaW46zXYwEt8",
          "Youtube Description ": "",
          "Script": "Intro (Hook – 1 min | ~180 words)\n\nWhat happens when the past looks back at you?\n\nYou came here to witness history, not rewrite it. You tried to stay hidden, careful, invisible. But time has a way of noticing intruders—and now, the prehistoric world has turned its eyes toward you.\n\nThe sun sets, shadows lengthen, and the silence is broken not by birds or insects—but by growls. Heavy, deep, primal.\n\nAnd then you see them. Creatures that should never have known humans. Creatures whose instincts were never meant to adapt to us. Yet here you stand, face to face with beasts that were supposed to live and die without ever sensing a being like you.\n\nThis is the story of meeting beasts that should have never met you. And once the meeting begins, there is no undoing it.\n\nSection 1: The First Encounter (1.5 min | ~260 words)\n\nThe forest darkens, its shadows alive with movement.\n\nAt first, you think it’s the wind—but the rhythm is too heavy. Twigs snap. Leaves crunch. Something massive moves through the undergrowth.\n\nYou freeze, your breath shallow, listening. Then you see it: eyes glowing faintly in the dim light. Two yellow orbs, unblinking, fixed on you.\n\nThe creature steps into view. A predator. Its muscles ripple beneath its scaled hide, every movement silent but deliberate. It tilts its head, studying you—curious, cautious, but not afraid.\n\nThis isn’t just a sighting. This is an introduction.\n\nYou whisper to yourself: It sees me.\n\nAnd that changes everything.\n\nBecause this beast was never supposed to meet you. Its instincts, honed for millennia, were never shaped to recognize something like you—two-legged, hairless, fragile yet unpredictable. And now those instincts are rewriting themselves in real time.\n\nYou aren’t just an observer anymore. You’ve become part of its world.\n\nThe silence of the forest feels suffocating now. Every second stretches, every muscle in your body screams to move—but you know: one wrong motion could ignite instincts that history was never meant to awaken.\n\nSection 2: Predator and Prey (2 min | ~330 words)\n\nThe beast circles. Its footsteps are slow, deliberate, almost thoughtful. You realize with dread—you are being hunted, but not for food.\n\nThis is curiosity. The most dangerous kind.\n\nYou step back. The ground crunches under your foot, and the beast’s ears twitch. In an instant, it lowers itself, muscles coiling like a spring.\n\nYou’ve seen predators in your world—lions, wolves, tigers. But this is different. This creature has never known fear of man. It has never fled from fire, never been pierced by arrows, never been caged by steel. To it, you are not a master of nature—you are an unknown variable.\n\nAnd nature destroys what it does not understand.\n\nYour heart pounds. You remind yourself of a truth whispered by time travelers: When predator and prey meet for the first time, history bends.\n\nBut you don’t know who you are in this equation. Predator? Or prey?\n\nThe beast exhales sharply. Its breath fogs in the cooling night air. The sound vibrates through your chest.\n\nThen, unexpectedly—it doesn’t lunge. It tilts its head again, studying, sniffing. Testing.\n\nAnd in that terrifying pause, you realize: your survival depends not on strength, but on what story this creature writes about you in its instincts tonight.\n\nSection 3: The Ripple of Recognition (2 min | ~340 words)\n\nIt doesn’t kill you. Not yet. Instead, it backs away slightly, but its eyes remain locked on you. It growls—not in hunger, but in memory.\n\nYou feel it in your bones: this creature will remember you.\n\nAnd that is the true danger. Not that it kills you tonight, but that you have now become a part of its awareness.\n\nImagine it survives this encounter, passes on its genes, its instincts sharpened by the memory of something new, something unnatural—you. Imagine generations of its kind evolving with this awareness etched into their survival.\n\nYou are no longer just a traveler. You are a variable in evolution.\n\nThe thought paralyzes you. By meeting you, this beast’s descendants might behave differently for millions of years. They might avoid areas, attack sooner, or grow more cautious in ways history never intended.\n\nOne encounter becomes a legacy. One mistake becomes evolution’s inheritance.\n\nYou wanted to see the prehistoric world untouched. But instead, you’ve left fingerprints not on stone, but in DNA.\n\nAnd you realize the irony: in trying not to interfere, your mere existence has already carved a new chapter in life’s story.\n\nSection 4: The Chase (2 min | ~330 words)\n\nThe silence shatters.\n\nA second growl erupts—from behind. Another set of eyes glows in the shadows. And then another.\n\nYou are surrounded.\n\nThe first beast growls louder, and the others respond. A pack. Not one. Not two. An entire group—predators that should never have met a human, now circling one.\n\nYour instincts scream at you to run. And so you do.\n\nBranches whip across your face as you sprint through the undergrowth. Every step pounds with terror. Behind you, the forest explodes with movement. Heavy footsteps, snarls, snapping branches. They are faster. Stronger. Hungrier.\n\nBut they’re also uncertain. You are unlike any prey they’ve ever chased. Your movements are strange, your scent alien. Their hesitation buys you seconds—but seconds are all you have.\n\nYou dive between fallen trees, scramble over rocks, crash through rivers. Each moment feels stolen.\n\nBut deep down, you know the truth: you cannot outrun them. You can only confuse them.\n\nAnd in that desperate calculation, you realize again—you’re not just running for survival. You’re running from rewriting history with your blood.\n\nSection 5: A World That Watches (1.5 min | ~260 words)\n\nYou stumble into a clearing. The moonlight spills across the landscape, and for the first time, you see how alive this world really is.\n\nEyes. Dozens of them. Watching. Not just predators now—herbivores, scavengers, creatures perched in trees. Every animal nearby has turned its gaze toward you.\n\nIn their world, you are not invisible. You are a disruption, a spark of chaos that no instinct recognizes.\n\nAnd that is the most terrifying realization yet: this is no longer about one predator, or one pack. The entire ecosystem has noticed you.\n\nPredators will test you. Prey will flee you. And in both cases, history shifts. Because the survival patterns of this world now include you.\n\nThe weight of this truth nearly drops you to your knees. You wanted to see the beginning of life’s great story. Instead, you’ve inserted yourself as a character into it.\n\nAnd there is no way to erase yourself now.\n\nSection 6: The Near-Death (2 min | ~330 words)\n\nA snarl cuts through the night. The pack bursts into the clearing. Their bodies glisten in the moonlight, muscles taut, teeth bared.\n\nThey fan out, circling. Your chest tightens—you are seconds from extinction.\n\nOne lunges. You dive, its claws slicing air just inches from your back. Another rushes from the side—you swing a branch wildly, striking its snout. It recoils, not from pain, but from shock.\n\nThey don’t understand you. And that confusion is the only weapon you have.\n\nYou scream, wave your arms, hurl rocks. The sound is foreign, the movements bizarre. For a moment, it works. The pack hesitates, growling in frustration.\n\nBut hesitation only lasts so long.\n\nThe largest steps forward, its jaws opening, its roar shaking the ground. You stagger back, feeling the earth tremble.\n\nThis is it. The moment where history decides—will this be your end, or will this meeting echo forever through theirs?\n\nAnd in that split second, survival becomes not about strength, but about terrifying them before they terrify you.\n\nSection 7: The Fragile Escape (1.5 min | ~260 words)\n\nAdrenaline surges. You grab a burning branch from your abandoned fire, sparks flying as you whirl it in the air.\n\nThe beasts freeze. Fire—the one thing even time has taught all creatures to fear.\n\nYou scream, brandish the torch, step forward instead of back. The flames paint your face in wild shadows. For the first time, the predators retreat—not defeated, but wary.\n\nSlowly, they vanish into the forest, their growls fading into the night.\n\nYou collapse, trembling, heart hammering. You survived.\n\nBut survival doesn’t feel like victory. Because you know—this night is not forgotten. The beasts saw you. They felt you. They learned from you.\n\nAnd what they learned will echo far beyond tonight.\n\nOutro / Bridge to Next Episode (1.5 min | ~260 words)\n\nDawn breaks. The forest glows with golden light, but you feel no relief. The world feels different now. Not because it has changed—but because you have.\n\nYou know too much. You’ve seen what was never meant to see you. You’ve altered instincts, planted memories, carved your existence into the fabric of a time that was never yours.\n\nYou whisper to yourself: I shouldn’t be here.\n\nBut the forest answers with silence. Silence heavy with secrets.\n\nAnd yet, as you prepare to move, you hear something new. A sound not of predators or prey—but of something else. Something massive. Something intelligent.\n\nYou realize with a shiver—the beasts were only the beginning.\n\nBecause deeper in this prehistoric world, something else is waiting. Something that shouldn’t have crossed your path.\n\nAnd once again, you’ve stepped into history’s blind spot."
        }
      },
      {
        "json": {
          "row_number": 9,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "Would Your Knowledge Save You or Destroy You?",
          "Next Video Title": "The Horror of Knowing You Might Never Return",
          "Part No.": 8,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/7bfeef47-b954-4b82-a3b6-cc90d263e723.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/f96bb3c8-49dd-49f2-a062-f471bbe7f494.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/3ae1c1e6-1272-4da9-8854-e27dc300c395_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/012bfe0e-8a6d-4e70-a653-b3c195dec149_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "A lone figure stands at the edge of a fractured timeline, one half bathed in the warm glow of ancient scrolls and glowing equations, the other half consumed by chaotic digital data streams and neon corruption. Cinematic wide shot, dramatic lighting with high contrast between golden knowledge and destructive electric blue, ultra-detailed, mysterious atmosphere, deep shadows, intense eye contact with the viewer.",
          "Thumbnail Link": "https://api.together.ai/shrt/uKc9zrMYXJMdfBV0",
          "Youtube Description ": "What if your expertise became your biggest threat? 🤯 In this mind-bending episode of Time Travel Gone Wrong, we explore whether your modern-day knowledge would actually help—or fatally backfire—in the past. Could your skills save civilization… or accidentally erase it? ⚠️\n\nJoin us as we dive into shocking historical twists, ethical dilemmas, and the terrifying consequences of bringing today’s ideas into yesterday’s world. You won’t believe how one piece of knowledge could change everything—for better or worse. \n\nIf you love thought-provoking time travel stories, SMASH that like button 👍, subscribe for more mind-blowing content, and let us know in the comments: What’s the one piece of knowledge you’d NEVER share in the past? \n\n#TimeTravelGoneWrong #KnowledgeIsPower #AlternateHistory #MindBlown #SciFiStories",
          "Script": "Intro (Hook – 1 min | ~180 words)\n\nThey told you that knowledge is power.\n\nBut here, in the dawn of history, knowledge feels like a curse. You are armed with everything your modern world taught you—fire, medicine, weapons, survival skills. But none of it was meant for this world.\n\nThe beasts you faced last night still haunt you. Their growls echo in your chest, their eyes burned into your memory. You know you survived because of one thing only—your knowledge. The fire you wielded saved you.\n\nBut a question lingers: if knowledge saves you once, what happens the next time? Will it protect you, or will it tempt you into choices that change everything?\n\nBecause here’s the secret you’ve started to realize: in a world that never knew you, the more you use your knowledge, the more you risk rewriting history itself.\n\nThis is the paradox of time travel—the sharpest weapon you carry is also the one most likely to cut you.\n\nSection 1: The Firekeeper (1.5 min | ~260 words)\n\nThe torch is gone, but the fire remains. You sit by the faint glow of embers, feeding twigs and dry leaves into the fragile flames.\n\nFire has always been humanity’s oldest ally. But tonight, it feels like a double-edged sword.\n\nIn this prehistoric world, fire does not belong to anyone yet. No tribes guard it. No myths explain it. No predators fear it—except for the ones who saw it in your hands last night.\n\nYou stare at the flames and think: should you keep it burning? Or let it die?\n\nBecause keeping fire means survival—warmth, safety, light. But it also means every creature that sees it now learns something it shouldn’t know. Fire in the wrong eyes is evolution ahead of schedule.\n\nYou are no longer just surviving. You are teaching. Every flicker of flame is a lesson whispered into the memory of beasts and beings not meant to hear it.\n\nAnd that’s when it hits you: the knowledge that saves your life today could unravel the story of life tomorrow.\n\nSection 2: The Temptation of Tools (2 min | ~340 words)\n\nYour stomach growls. Hunger gnaws at you more than fear.\n\nYou look at the stones around you—sharp edges, jagged points. Instinctively, your hand reaches for them. You know how to shape them, how to chip one against another until a blade is born. A knife, a weapon, a tool.\n\nIt would be so easy. Your ancestors did it. Why shouldn’t you?\n\nBut you stop. Because you’re not your ancestors—you’re an intruder. They had the right to discover stone tools. You don’t.\n\nStill, the temptation consumes you. You imagine splitting branches into spears, carving edges sharp enough to hunt, striking sparks to light new fires. All knowledge you carry, all shortcuts to survival.\n\nBut shortcuts come with costs.\n\nIf even one tribe sees you with tools before they’re ready, if even one animal learns to fear your weapons—you’ve changed their evolution. You’ve created history’s first invention centuries, maybe millennia, too soon.\n\nAnd that’s the cruel irony. Knowledge is begging to be used. Your survival screams for it. But every strike of stone on stone risks striking history itself.\n\nYou hold the rock tightly, trembling. It feels heavier than any weapon ever forged. Because it’s not just a stone anymore. It’s a choice.\n\nWill this tool save you? Or will it be the first tool that destroys the timeline?\n\nSection 3: The Burden of Healing (2 min | ~330 words)\n\nYour cuts sting. Your hands are scratched from running, your legs bruised from falling. Infection lurks in every wound.\n\nBack home, you’d clean them with antiseptic, cover them with bandages, heal without thought. But here, antiseptic doesn’t exist. Here, infection kills.\n\nAnd yet—you know things. Herbs that soothe. Water that must be boiled. Honey that seals wounds.\n\nYour mind races with cures. You could save yourself. Maybe even save others—creatures, tribes, even entire species that would die without your knowledge.\n\nBut you stop. Because saving one life might mean changing the lives of millions.\n\nWhat happens if you save a predator that should have died? What if you heal a wound that ensures its lineage thrives instead of perishing? What if your survival means a species that should have vanished now lives on?\n\nKnowledge of healing feels noble, but here it is dangerous. Every bandage you wrap, every herb you chew, is a decision that ripples forward in ways you’ll never see.\n\nYou touch your wounds, torn between agony and restraint. Pain reminds you that survival has always been fragile. And perhaps—fragility was always meant to be part of history.\n\nSection 4: The Whisper of Power (2 min | ~340 words)\n\nNight falls again. And with it, whispers rise—not from creatures, but from within your own mind.\n\nYou begin to wonder: what if you went further? What if you didn’t just survive—but ruled?\n\nYou know things no being here could ever dream of. You could set traps, build shelters, tame fire, command beasts, even teach language if you dared. In a world without civilization, you could be its first king.\n\nThe thought seduces you. Because survival feels too small. You could shape the destiny of life itself. Write history not as it was—but as you want it to be.\n\nBut then the fear strikes. Because power is not one-sided. Once you unleash knowledge, you can never control where it spreads. Fire burns more than it warms. Weapons kill more than they protect. Words inspire more than they explain.\n\nYou came here by accident. But power whispers that accidents can become empires.\n\nAnd deep down, you know: empires built too early always collapse.\n\nSection 5: Knowledge as a Curse (1.5 min | ~260 words)\n\nYou stand by a river, staring at your reflection. The face looking back at you is familiar—but in this world, it is alien.\n\nAnd you realize the truth. Your knowledge is not a gift here. It is a curse.\n\nIt isolates you. Makes you dangerous. Because everything you know was meant for another time, another story. And now, every thought you have feels like a temptation—one step closer to changing what was never yours to change.\n\nThe beasts watch you differently now. The forest listens. Even the air feels tense, as if time itself is warning you: Do not cross the line.\n\nBut lines blur when your survival hangs in the balance.\n\nSo you ask yourself—what’s worse? Dying with knowledge you never used… or surviving by rewriting the history of everything?\n\nSection 6: The Collapse of Certainty (2 min | ~330 words)\n\nThe next morning, you try to walk away from temptation. You leave the fire to die, drop the stone, push away the herbs.\n\nBut hunger, pain, and fear follow. And with them, certainty begins to collapse.\n\nBack in your world, knowledge always gave answers. Here, knowledge only gives questions.\n\nIf you don’t use it, you die. If you do use it, you might kill the future.\n\nAnd so you wander, torn between two deaths—the death of your body, or the death of history.\n\nYou feel smaller than ever, dwarfed by forces you cannot control. The sun rises, but it feels heavier than comforting. Because every new day here is not a blessing—it’s a test.\n\nAnd the test always ends with the same question: Would your knowledge save you, or destroy you?\n\nOutro / Bridge to Next Episode (1.5 min | ~260 words)\n\nAs night falls again, you sit beneath the stars. They shine as they always have, cold and eternal.\n\nBut you are not eternal. You are fragile. And for the first time, you wonder—not just if knowledge will save you or destroy you—but if you will ever find your way back home.\n\nBecause every night, the thought grows louder: what if this is it? What if you never escape this timeline? What if this wilderness, these beasts, these choices… are your forever?\n\nThe fire flickers. Your reflection in the flames looks older, wearier.\n\nAnd the truth presses down on you like gravity: The longer you stay, the more you change. And the more you change, the less chance there is of ever going back.\n\nYou close your eyes. And whisper to yourself the fear you’ve been avoiding all along:\n\nWhat if I never return?\n\nThe night answers only with silence.\n\nNext Episode: “The Horror of Knowing You Might Never Return.”"
        }
      },
      {
        "json": {
          "row_number": 10,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "The Horror of Knowing You Might Never Return",
          "Next Video Title": "Time Doesn’t Care About You—It Moves On Without You",
          "Part No.": 9,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/197472c2-8cb6-4195-b5ce-d32aa2b821fb.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/7a9b6391-a052-4e23-8b77-6f3135f2f995.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/58f67f59-f4e9-4e9b-bb11-7f2ef7ceae1a_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/5270de6b-b29b-49f4-add8-2467c3384cd5_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "A lone astronaut in a futuristic, damaged spacesuit stands at the edge of a swirling, unstable time portal, one foot in a desolate alien landscape under a fractured sky, the other fading into static and digital decay; desperate hand reaching back toward the viewer as glowing particles of erased existence drift away; dramatic low-angle shot, stark contrast between cold blue cosmic light and warm, vanishing earth tones; hyper-detailed, cinematic, high-stakes emotion, sense of irreversible loss and existential dread.",
          "Thumbnail Link": "https://api.together.ai/shrt/uDNzX63hPNc9BRvf",
          "Youtube Description ": "😱 What if you stepped into a time machine… and it broke? The terror isn’t just going back—it’s the chilling realization you might be trapped forever. ⏳\n\nIn this episode of Time Travel Gone Wrong, we dive into spine-tingling stories of adventurers who gambled with time… and lost. From being stranded in eras they never meant to visit, to facing the gut-wrenching fear of never seeing home again—this is the ultimate nightmare of time travel. 🕰️⚡\n\nIf these tales send shivers down your spine, make sure to LIKE, SUBSCRIBE, and hit the bell so you never miss an episode! Comment below: would you risk time travel if there was a chance you’d never return? 👇\n\n#TimeTravelGoneWrong #TimeTravelHorror #StrandedInTime #SciFiStories #NeverReturn",
          "Script": "Intro (Hook – 1 min | ~180 words)\n\nImagine standing in a place so far removed from your own time that the sky itself feels like it belongs to another universe. The stars are the same—but everything beneath them is wrong.\n\nYou’ve fought beasts. You’ve wrestled with fire. You’ve resisted the temptation of knowledge. And still—you remain.\n\nBut survival isn’t the real terror anymore.\n\nThe true horror has begun to creep in, slow and silent: the thought that you may never leave. That the portal, the glitch, the accident that hurled you here… may never open again.\n\nThis isn’t just about survival anymore. It’s about permanence. About eternity.\n\nBecause if you never return, then you’re not a traveler. You’re not a survivor. You’re a prisoner—locked inside a past that never asked for you, and a future that may never know you.\n\nAnd that horror is worse than any beast, any hunger, any wound.\n\nSection 1: The Endless Waiting (1.5 min | ~260 words)\n\nAt first, you tell yourself it’s temporary. That time travel always comes with glitches. That doors eventually reopen.\n\nSo you wait.\n\nYou wait for the shimmer of light, the hum of energy, the unseen doorway that spat you out here. You wait for the ground to split, the air to burn, for anything familiar to take you back.\n\nBut nothing happens.\n\nDays bleed into nights, nights into days. The sky doesn’t change. The portal doesn’t return. And slowly, waiting transforms into torture.\n\nBecause the mind cannot endure endless anticipation. Every sunrise feels like mockery, every sunset like betrayal. You begin to wonder—what if waiting is not the answer? What if nothing is coming at all?\n\nAnd in that silence, you feel something worse than hunger or fear: hopelessness.\n\nThe horror isn’t that you’re here. The horror is that you might be here forever.\n\nSection 2: The Prison of the Familiar Sky (2 min | ~340 words)\n\nYou lift your eyes to the night sky, desperate for comfort. The stars glimmer, ancient and unchanged.\n\nBut here’s the problem: they are the same stars you’ve always known. Orion, the Pleiades, constellations etched into memory.\n\nThe sky should bring comfort. But instead—it becomes the cruelest prison.\n\nBecause every star reminds you of home. Every constellation whispers of a world you may never touch again. They are proof that the universe remains unchanged… while you are the one trapped out of place.\n\nYou imagine people back in your own time, walking under these same stars. They laugh, they love, they live—and they don’t know you’re missing. To them, nothing has changed.\n\nAnd that’s when the horror deepens. Because if the world continues without you, if history forgets you, then your absence means nothing.\n\nYou aren’t lost in time. You are erased from it.\n\nThe stars don’t care that you’re here. The sky doesn’t mourn you. Time does not pause for you.\n\nIt simply moves on.\n\nSection 3: The Madness of Solitude (2 min | ~340 words)\n\nSilence.\n\nThat’s the first thing you notice after days of waiting. The creatures that once terrified you now avoid you. The fire no longer comforts. The forest feels empty.\n\nAnd the silence begins to whisper.\n\nYou hear voices where there are none. You speak aloud just to fill the air. You tell yourself stories, recite memories, cling to scraps of who you once were.\n\nBut the more you speak, the less your own voice sounds familiar. It begins to echo strangely, like a stranger’s voice trapped in your throat.\n\nSolitude becomes its own predator. It stalks you in the quiet, prowls at the edges of your sanity.\n\nAnd in that madness, a thought takes root: maybe you were never meant to return. Maybe the timeline rejected you, erased the path back, and left you here as punishment.\n\nYou are not a traveler anymore. You are an exile.\n\nSection 4: The Weight of Forever (1.5 min | ~260 words)\n\nYou start counting days. One. Two. Ten. Twenty.\n\nBut then you lose track. Numbers slip away. Time, the very thing you once traveled through, becomes meaningless.\n\nThe sun rises. The sun sets. That’s all that remains.\n\nAnd in that cycle, the word “forever” begins to press down on you.\n\nForever means never hearing another human voice. Forever means never touching the familiar. Forever means becoming part of a world that was never yours.\n\nAnd forever terrifies you because it makes every small survival meaningless. What is the point of eating, drinking, breathing—if each moment only stretches the length of your prison?\n\nForever is not survival. Forever is a sentence.\n\nSection 5: The Desperation of Escape (2 min | ~340 words)\n\nAt some point, despair turns into desperation. You begin to claw at solutions, wild and reckless.\n\nYou search caves for hidden rifts. You scream at the sky as if the portal will hear you. You run through forests until your lungs burn, convinced movement itself will shake loose reality.\n\nBut every attempt ends the same way: with silence. With emptiness. With exhaustion.\n\nAnd then—fear mutates into something darker. You consider risking everything. Lighting fires bigger than forests. Shattering stones until your hands bleed. Even hurling yourself off cliffs, praying the impact might jolt time into opening again.\n\nBecause horror isn’t just being trapped. Horror is being trapped with no way out.\n\nAnd in your madness, you ask the question you once feared:\n\nIf you cannot return… should you even go on?\n\nSection 6: The Mirror of Regret (1.5 min | ~260 words)\n\nAt a river’s edge, you see yourself again. But this time, the reflection doesn’t comfort. It haunts.\n\nThe face staring back at you is thinner, paler, older. A ghost of the person you once were.\n\nAnd you realize—you are disappearing. Not just from your own time, but from yourself. Every day you remain here, the person you were fades a little more.\n\nYou think of the people you left behind. The ones who will never know what happened. The ones who will never see you again.\n\nRegret floods in. Not for what you did—but for what you’ll never do. The conversations you’ll never finish. The moments you’ll never live. The future you’ll never touch.\n\nRegret becomes the heaviest weight of all.\n\nOutro / Bridge to Next Episode (1.5 min | ~270 words)\n\nNight again. The stars blaze above, indifferent. The fire burns low. The forest whispers nothing.\n\nYou sit alone, wrapped in the silence of forever.\n\nAnd then—the thought strikes you with brutal clarity: time is still moving. Back in your world, days are passing. Years are forming. People are aging.\n\nWithout you.\n\nYou are stuck, but time is not. Time doesn’t pause, doesn’t mourn, doesn’t care. It flows onward, carving history without you in it.\n\nAnd that’s the final horror—not that you’re lost, but that you’ve been left behind.\n\nThe idea claws at your chest: What if you never return, and the world simply forgets you existed?\n\nThe silence doesn’t answer. But the stars above, eternal and unchanging, whisper the cruel truth:\n\nTime doesn’t care about you. It moves on without you.\n\nFade out.\n\nNext Episode: “Time Doesn’t Care About You—It Moves On Without You?”"
        }
      },
      {
        "json": {
          "row_number": 11,
          "Series Title": "Time Travel Gone Wrong",
          "Video Title": "Time Doesn’t Care About You—It Moves On Without You",
          "Next Video Title": "NO",
          "Part No.": 10,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/4cae37d1-3f81-49c4-bb18-fbb271a8d0bc.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/da56de27-71fb-40a7-996d-a24b9de52000.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/deec7f4e-3f5a-4471-92fe-55eefe75627d_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/078f5cf8-b67c-45aa-8669-aac5dac9ed4f_output_0.mp4",
          "Work Flow Start": "",
          "Thumbnail Prompt": "cinematic thumbnail, a lone figure in a tattered futuristic jacket standing in a vast, decaying cityscape, colossal rusted clock gears scattered among ruins, glowing timelines fracturing around them like shattered glass, a massive, indifferent cosmic clock face looming in a stormy sky, dramatic low-angle shot, hyper-detailed, high contrast with deep shadows and neon blue light leaks, desaturated tones with vibrant energy accents, sense of epic scale and irreversible loss",
          "Thumbnail Link": "https://api.together.ai/shrt/ME2cdkPNJixCW0Ib",
          "Youtube Description ": "⏳ What if you were left behind by time itself? In this mind-bending episode of Time Travel Gone Wrong, we explore the chilling reality that time doesn’t wait for anyone—not even time travelers. 😱\n\nWhen a malfunction traps our hero decades in the past, they quickly learn that the world keeps spinning… without them. Friends age, history unfolds, and life moves forward—leaving them stranded and alone. Will they find a way back, or are they doomed to watch time pass them by forever? \n\nThis episode dives into the emotional and existential consequences of being unstuck in time. Don’t forget to **like**, **subscribe**, and hit the bell 🔔 so you never miss an episode!\n\n#TimeTravelGoneWrong #TimeParadox #SciFiStories #LeftBehind #TimeDoesntWait",
          "Script": "Intro (Hook – 1 min | ~180 words)\n\nWhat if I told you the universe doesn’t notice you?\n\nNot your struggles. Not your survival. Not your desperate cries to be remembered.\n\nBecause the truth is harsh: time does not care about you.\n\nIt doesn’t pause when you stumble. It doesn’t rewind when you regret. It doesn’t mourn when you’re lost.\n\nIt just moves on.\n\nThrough this journey, you’ve faced beasts, silence, hunger, fear, and madness. You’ve learned that survival is more than food or fire—it’s the will to matter in a world that forgets you.\n\nBut in the end, what is the ultimate lesson of being lost in time?\n\nIt’s that time itself is indifferent.\n\nAnd that indifference is more terrifying than any creature, more unshakable than any prison, and more permanent than any death.\n\nSection 1: The Flow That Never Stops (1.5 min | ~260 words)\n\nTime is a river. You’ve heard that metaphor before. But standing here—truly lost in a world not your own—you finally understand it.\n\nRivers don’t stop for a stone in their path. They don’t mourn when a leaf is carried away. They simply flow.\n\nAnd that’s what time does.\n\nYour disappearance didn’t change the present you came from. The people you knew continued waking, working, dreaming. They kept living. Birthdays were celebrated. Meals were shared. Laughter echoed.\n\nAll without you.\n\nThat realization cuts deeper than any claw, deeper than any hunger. Because you expected to matter. You expected your absence to leave a scar.\n\nBut the scar healed before it was ever noticed.\n\nTime didn’t pause. It didn’t even blink.\n\nAnd you? You became nothing more than a moment swallowed by eternity.\n\nSection 2: The Indifference of the Stars (2 min | ~340 words)\n\nAt night, you stare at the sky.\n\nThe stars have been constant companions—cold, silent, watching. They look the same as they always did.\n\nBut that’s the point, isn’t it?\n\nThey shine regardless of your presence. They burn regardless of your suffering. They don’t change because you are here, lost, forgotten.\n\nThe stars are older than you. They will outlive you. And their light will keep traveling long after your story ends.\n\nAnd that indifference—the endless, cosmic indifference—teaches you the most brutal lesson:\n\nYou don’t matter to time.\n\nNot in the way you once believed. Not as an unshakable force.\n\nAnd yet, strangely, that realization brings clarity.\n\nBecause if time doesn’t care—then maybe the weight of existence was never about time caring. Maybe it was always about how you care.\n\nNot whether the universe remembers you. But whether you remember yourself.\n\nThe stars will move on. The world will move on. But what you choose to do in the moment—that is yours alone.\n\nIndifference doesn’t erase meaning. It only forces you to define it yourself.\n\nSection 3: Memory as Resistance (2 min | ~340 words)\n\nYou begin to understand something strange: if time won’t remember you, then memory must come from within.\n\nEvery step you’ve taken. Every beast you’ve faced. Every fire you’ve built. Every tear shed in silence.\n\nThey belong to you.\n\nAnd in remembering them, you resist the erasure. You push back against the endless current.\n\nYou tell yourself stories aloud—not because anyone will hear them, but because they deserve to be told. You trace symbols into the dirt—not because anyone will find them, but because the act itself matters.\n\nMemory becomes your weapon.\n\nBecause if time doesn’t care, then survival isn’t about returning home. It’s about refusing to vanish silently.\n\nYour existence may not leave ripples in the grand river of time—but within yourself, you are still the storyteller.\n\nAnd storytelling is the only way mortals fight eternity.\n\nSection 4: The Acceptance of Smallness (2 min | ~340 words)\n\nOnce, the thought of being forgotten horrified you. Now—it humbles you.\n\nBecause in accepting your smallness, you see something new.\n\nYou are not the master of time. You never were. You are simply a fragment carried along, like every creature that ever lived.\n\nDinosaurs once ruled this world, and time moved on. Ancient empires rose and fell, and time moved on. Families loved, fought, dreamed, and died—and still time moved on.\n\nAnd one day, long after you’re gone, time will move on again.\n\nYou are not its center. You are its passenger.\n\nAnd in that truth—there is peace.\n\nBecause if time doesn’t care about you, then your task isn’t to fight it. It’s to live inside it. To breathe the air of the present. To feel the weight of each second, not as eternity’s cruelty, but as eternity’s gift.\n\nEven if no one remembers you.\n\nSection 5: Redefining Survival (1.5 min | ~260 words)\n\nSurvival isn’t about escape anymore. It isn’t about bending time to your will or forcing a return.\n\nSurvival is choosing to live, even when eternity is indifferent.\n\nIt’s waking up and finding beauty in the fire’s glow. It’s watching the sunrise and knowing it’s the same sun your ancestors saw. It’s finding peace in the rhythm of your own breath.\n\nIt’s not about returning home. It’s about realizing that home isn’t a place. It’s a state of being.\n\nAnd maybe, just maybe, survival is about letting go.\n\nLetting go of the need to matter to time.\n\nBecause you already matter—to yourself.\n\nSection 6: The Final Reflection (2 min | ~340 words)\n\nYou sit by the river, the stars reflected on its surface. For the first time, you don’t beg for a portal to open. You don’t plead for escape.\n\nYou simply watch.\n\nAnd in that moment, you realize something profound: time’s indifference is not cruelty. It’s freedom.\n\nBecause if time doesn’t care, then you are free to define your own meaning. Free to craft your own story. Free to live without the pressure of eternity’s gaze.\n\nYou think of the phrase again: Time doesn’t care about you—it moves on without you.\n\nBut maybe the truth is softer: time moves on, and so can you.\n\nEven here, even now, even lost—you can move forward.\n\nNot as a victim. Not as a prisoner.\n\nBut as a traveler.\n\nNot through portals, not through centuries, but through moments. Through breaths. Through choices.\n\nAnd perhaps… that’s all time ever asked of you.\n\nOutro (Closing – 1 min | ~200 words)\n\nThe story of being lost in time isn’t really about beasts, hunger, or solitude.\n\nIt’s about the realization that the universe is vast, indifferent, eternal—and that in that indifference lies the challenge of meaning.\n\nTime will move on. Stars will burn. Rivers will flow.\n\nBut what you do here, in the seconds you’re given—that is your rebellion. That is your legacy. That is your survival.\n\nSo yes, time doesn’t care about you. It moves on without you.\n\nBut maybe that was never the horror.\n\nMaybe—that’s the gift.\n\nBecause if time doesn’t care, then the meaning of your life was never written in its laws. It was always waiting to be written by you.\n\nFade out. The series ends."
        }
      },
      {
        "json": {
          "row_number": 12,
          "Series Title": "Kaushik Stories",
          "Video Title": "He Let Go… and Never Came Back",
          "Next Video Title": "When the World Doesn’t Know You Exist",
          "Part No.": 1,
          "length of Video Required": 12,
          "length of each Section ": "9 to 15 words",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": "300 feet below the ocean surface, the pressure feels like it’s tearing your body apart from the inside. Your oxygen is about to run out. And at that same depth, your best friend suddenly passes out.\n\nOn one side is your friend—the one you swore to live and die with, the one you’ve shared every beautiful moment with since childhood. Now, he’s unconscious and about to drown. Instinct tells you to save him. But then you notice your oxygen cylinder—there’s only enough left for you to reach the surface alive.\n\nSo what do you choose?\nDo you try to save your drowning friend, risking your own life in the process—knowing there’s a chance you might both survive? Or do you let him go, swim up alone, and guarantee your own survival—while your friend almost certainly dies?\n\nIt’s a brutal choice.\nAnd this isn’t just imagination. Something similar actually happened in 2014, when two inseparable friends went on a dangerous adventure together. But one mistake turned deadly. Which mistake was it? Did one of them try to save the other? And what happened in the end?\n\nThat’s what we’re going to uncover today.\nSo hello guys, I’m Kaushik—and let’s begin another episode.\n\n[Music]\n\nBut before we dive deeper into this story—just like you’re connected with me here on YouTube, I’d love for you to connect with me on Instagram as well. Here’s my handle, link is in the description—go check it out.\n\nNow, in Southern China’s Guangxi region, there are breathtaking landscapes. But what really makes this place famous are its spectacular underground caves, which attract cave divers from across the world.\n\nThese caves are hidden inside mountains, filled with water and winding tunnels. Because the water has no outlet, it often turns murky. For ordinary people, entering such caves is almost suicidal. But for thrill-seekers, diving into these dark, rocky, water-filled tunnels is the ultimate dream. That’s why cave diving has become a sport, where people dive deep inside, explore, and come back.\n\nBut make no mistake—what sounds adventurous is incredibly dangerous. The pressure, oxygen shortage, and exhaustion that can cause sudden blackouts—these take around 20 lives every year. Still, the thrill keeps pulling divers back.\n\nTwo such thrill-lovers were best friends from China: Wang Yuan and Wang Tao. Their favorite dive spot? The Jiudong Cave system in Guangxi. This underground network stretches over 10,000 kilometers—earning it the title “Mecca of Cave Diving” in China.\n\nAnd these two weren’t amateurs. Yuan had over 400 successful underground dives. Tao had logged more than 200. They had already explored Jiudong Cave 15 times. But this time, they wanted to attempt something they had never done before—something that could break records.\n\nUntil then, they had never gone deeper than 400 feet. But now, they set their target at 557 feet. Why 557? Because it was not only 157 feet deeper than any of their previous dives—but at that depth, there was no guiding rope.\n\nIn these caves, guiding ropes are literally lifelines. Divers who go in first tie them along the route, so that others can follow them down or use them to find their way back if they get lost in the darkness. Going deeper means extending the rope further—and leaving behind proof that you’ve reached that depth.\n\nBy March 2014, the deepest rope extended to 525 feet—set by French cave diver Pascal Bernabé. So, Yuan and Tao decided they would break this record by going 32 feet further and extending the rope themselves. Coincidentally, Pascal was in China at that time, so they met him to learn about the risks of such depths.\n\nArmed with Pascal’s advice, on April 18, the two friends arrived at Jiudong Cave. They double-checked their gear—gas mixtures, flashlight durability, and rope strength. For backup, they brought along a support diver, Zhao Pai, who would wait above in case something went wrong.\n\nTheir plan? A 3-hour, 50-minute dive. Of that, 20 minutes would be spent at maximum depth. At around 3:00 PM, the two best friends dived in.\n\nAt 100 feet, they gave each other a thumbs up and switched oxygen tanks. But here’s something most people don’t know—underwater divers don’t breathe pure oxygen. Their tanks are filled with a balanced mix of nitrogen and oxygen, just like the air we breathe. That’s because pure oxygen, at depth, becomes toxic.\n\nBelow 100 feet, nitrogen starts to act like alcohol on the brain, causing what’s known as nitrogen narcosis. It clouds judgment, slows reflexes, and makes divers feel drunk. To counter this, oxygen levels are increased slightly in the mix. But there’s a catch—past 217 feet, oxygen itself becomes poisonous. That’s why divers add helium to their tanks—to dilute oxygen and nitrogen, and make the air breathable at greater depths.\n\nBut the balance is delicate. If even one gas mixture is wrong, it can kill instantly. That’s why divers carry multiple cylinders with different mixtures for different depths. To manage this, Yuan and Tao used the “rule of thirds”: one-third of their gas to go down, one-third to come up, and one-third kept in reserve for emergencies.\n\nAs they descended past 500 feet, Yuan suddenly felt dizzy. He was experiencing HPNS—High Pressure Nervous Syndrome—a condition Pascal had warned them about. At extreme depths, even helium becomes dangerous, causing seizures, nausea, or blackouts.\n\nStill, they pressed on. At 557 feet, they tied their rope extension, achieving their goal. After one minute at the bottom, they began their ascent, relieved and proud.\n\nBut trouble was waiting. Visibility was terrible—barely 2 meters ahead. Suddenly, Yuan realized the guiding rope had disappeared into the murky water. Panic set in. Without the rope, they were lost in a maze of tunnels. Death was now a real possibility.\n\nAfter frantic searching, they finally found the rope again. Yuan grabbed it tightly with his left hand, refusing to let go. But just then, Tao signaled frantically—pointing at his throat. In diving, that gesture means “I’m out of air.”\n\nPanic had drained Tao’s tank too quickly. Yuan immediately gave him his regulator, connecting Tao to his own supply. But at that pressure, sharing meant they only had 3–4 minutes of air left. Their next decompression cylinder was 75 meters above.\n\nYuan held the rope with one hand, Tao with the other, and pushed upward. But at 90 meters, when Yuan briefly let go to check his pressure gauge, Tao suddenly shot upwards uncontrollably. His unconscious body floated into the darkness, breaking the air supply connection.\n\nNow Yuan had an impossible choice: chase after his unconscious friend and risk getting lost—or stick to the rope and ensure his own survival. What would you do in that situation?\n\nYuan chose survival. He first refilled his gas at the next cylinder, then desperately searched for Tao. Over and over, he dove back, even as his oxygen supply became dangerously toxic at those depths. But Tao was gone.\n\nBy the time Yuan surfaced, he was severely injured from repeated decompression stress. His organs were failing. Support diver Zhao rushed him out and called in the rescue community.\n\nThe next morning, April 19, experienced divers searched the caves. After hours, they found Tao’s lifeless body at 51 meters, trapped in a narrow passage.\n\nOne friend survived. The other didn’t.\n\nTo this day, Yuan calls it a story of overconfidence. He admits that if they had prepared better—taken an experienced support team, respected the depth limit, and not chased records—they both might still be alive.\n\nAnd now, I want to ask you: what do you think was the biggest mistake that led to this tragedy? Was it their planning, their confidence, or the lure of records? Tell me in the comments below.\n\nIf this story gave you something new to think about, hit the like button and share it with your friends. And if you’re new here, don’t forget to subscribe and turn on the notification bell.\n\nAnd if you enjoyed this, I recommend watching the next video, where we talk about three people who escaped from a prison considered “impossible” to break out of. How did they do it? Go watch—it’s a fascinating story.\n\nI’ll see you in the next episode."
        }
      },
      {
        "json": {
          "row_number": 13,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "When the World Doesn’t Know You Exist",
          "Next Video Title": "Could Your Mind Survive Without Human Contact?",
          "Part No.": 2,
          "length of Video Required": 12,
          "length of each Section ": "5 to 8 seconds",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 14,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "Could Your Mind Survive Without Human Contact?",
          "Next Video Title": "Hunger and Hallucinations—The Brain’s Breaking Point",
          "Part No.": 3,
          "length of Video Required": 12,
          "length of each Section ": "8 to 15 Seconds",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 15,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "Hunger and Hallucinations—The Brain’s Breaking Point",
          "Next Video Title": "How Long Before You Lose Hope?",
          "Part No.": 4,
          "length of Video Required": 12,
          "length of each Section ": "8 to 15 Seconds",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 16,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "How Long Before You Lose Hope?",
          "Next Video Title": "Do You Fight for Life or Accept Death?",
          "Part No.": 5,
          "length of Video Required": "12 to 15 minutes",
          "length of each Section ": "8 to 15 Seconds",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 17,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "Do You Fight for Life or Accept Death?",
          "Next Video Title": "The Emotional Weight of Knowing You’ll Leave No Trace",
          "Part No.": 6,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 18,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "The Emotional Weight of Knowing You’ll Leave No Trace",
          "Next Video Title": "The Terror of the Unknown—Every Step is Risk",
          "Part No.": 7,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 19,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "The Terror of the Unknown—Every Step is Risk",
          "Next Video Title": "The Pain of Longing for a Future You’ll Never See",
          "Part No.": 8,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 20,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "The Pain of Longing for a Future You’ll Never See",
          "Next Video Title": "The Mind is the First to Break—Not the Body",
          "Part No.": 9,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 21,
          "Series Title": "The Psychology of Being Lost in Time",
          "Video Title": "The Mind is the First to Break—Not the Body",
          "Next Video Title": "NO",
          "Part No.": 10,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 22,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "Are Humans Really Built to Survive?",
          "Next Video Title": "Why Every Other Species Has Armor… But We Don’t",
          "Part No.": 1,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 23,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "Why Every Other Species Has Armor… But We Don’t",
          "Next Video Title": "Intelligence vs. Instinct—Which Keeps You Alive?",
          "Part No.": 2,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 24,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "Intelligence vs. Instinct—Which Keeps You Alive?",
          "Next Video Title": "The Strange Weakness of Human Skin Under the Sun",
          "Part No.": 3,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 25,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "The Strange Weakness of Human Skin Under the Sun",
          "Next Video Title": "What If You Faced Nature With Zero Modern Tools?",
          "Part No.": 4,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 26,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "What If You Faced Nature With Zero Modern Tools?",
          "Next Video Title": "Our Ancestors’ Real Struggles Before Civilization",
          "Part No.": 5,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 27,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "Our Ancestors’ Real Struggles Before Civilization",
          "Next Video Title": "The Deadly Truth of Being Soft, Slow, and Silent",
          "Part No.": 6,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 28,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "The Deadly Truth of Being Soft, Slow, and Silent",
          "Next Video Title": "Do We Overestimate Human Evolution?",
          "Part No.": 7,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 29,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "Do We Overestimate Human Evolution?",
          "Next Video Title": "Why Every Environment Once Tried to Kill Us",
          "Part No.": 8,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 30,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "Why Every Environment Once Tried to Kill Us",
          "Next Video Title": "The Fragile Miracle of Human Survival",
          "Part No.": 9,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 31,
          "Series Title": "Hidden Truths of Human Survival",
          "Video Title": "The Fragile Miracle of Human Survival",
          "Next Video Title": "NO",
          "Part No.": 10,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 32,
          "Series Title": "Surviving the Impossible",
          "Video Title": "Could You Last a Day in the Age of Dinosaurs?",
          "Next Video Title": "No Fire, No Shelter—Just You vs. Nature",
          "Part No.": 1,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 33,
          "Series Title": "Surviving the Impossible",
          "Video Title": "No Fire, No Shelter—Just You vs. Nature",
          "Next Video Title": "What Happens If You Run Out of Water in Prehistoric Times?",
          "Part No.": 2,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 34,
          "Series Title": "Surviving the Impossible",
          "Video Title": "What Happens If You Run Out of Water in Prehistoric Times?",
          "Next Video Title": "The Silent Killer: Hunting Without Being Hunted",
          "Part No.": 3,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 35,
          "Series Title": "Surviving the Impossible",
          "Video Title": "The Silent Killer: Hunting Without Being Hunted",
          "Next Video Title": "Monsters Built to Hunt—Would You Escape or Be Prey?",
          "Part No.": 4,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 36,
          "Series Title": "Surviving the Impossible",
          "Video Title": "Monsters Built to Hunt—Would You Escape or Be Prey?",
          "Next Video Title": "The First Human in a World That Never Knew You",
          "Part No.": 5,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 37,
          "Series Title": "Surviving the Impossible",
          "Video Title": "The First Human in a World That Never Knew You",
          "Next Video Title": "Could Human Intelligence Outsmart Ancient Beasts?",
          "Part No.": 6,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 38,
          "Series Title": "Surviving the Impossible",
          "Video Title": "Could Human Intelligence Outsmart Ancient Beasts?",
          "Next Video Title": "The One Mistake That Ends Your Survival Game",
          "Part No.": 7,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 39,
          "Series Title": "Surviving the Impossible",
          "Video Title": "The One Mistake That Ends Your Survival Game",
          "Next Video Title": "Would Dinosaurs Even Notice You? Or Erase You Instantly?",
          "Part No.": 8,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 40,
          "Series Title": "Surviving the Impossible",
          "Video Title": "Would Dinosaurs Even Notice You? Or Erase You Instantly?",
          "Next Video Title": "Disappear Without a Trace—The Truth of Human Fragility",
          "Part No.": 9,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 41,
          "Series Title": "Surviving the Impossible",
          "Video Title": "Disappear Without a Trace—The Truth of Human Fragility",
          "Next Video Title": "NO",
          "Part No.": 10,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 42,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "The First Monster You’d Meet in the Jurassic",
          "Next Video Title": "How Raptors Would Hunt You—And Why You Can’t Escape",
          "Part No.": 1,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 43,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "How Raptors Would Hunt You—And Why You Can’t Escape",
          "Next Video Title": "Could You Outsmart a T-Rex With Human Intelligence?",
          "Part No.": 2,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 44,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "Could You Outsmart a T-Rex With Human Intelligence?",
          "Next Video Title": "The Silent Stalkers: Prehistoric Predators You Can’t Hear",
          "Part No.": 3,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 45,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "The Silent Stalkers: Prehistoric Predators You Can’t Hear",
          "Next Video Title": "The Ocean’s Nightmare: Trapped With Ancient Sea Beasts",
          "Part No.": 4,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 46,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "The Ocean’s Nightmare: Trapped With Ancient Sea Beasts",
          "Next Video Title": "The Skies of Terror: Would Flying Reptiles Spot You First?",
          "Part No.": 5,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 47,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "The Skies of Terror: Would Flying Reptiles Spot You First?",
          "Next Video Title": "Prehistoric Insects Bigger Than Your Hand",
          "Part No.": 6,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 48,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "Prehistoric Insects Bigger Than Your Hand",
          "Next Video Title": "The Predator’s Advantage—Why You Can’t Hide",
          "Part No.": 7,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 49,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "The Predator’s Advantage—Why You Can’t Hide",
          "Next Video Title": "Could Any Dinosaur Actually Be Your Ally?",
          "Part No.": 8,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 50,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "Could Any Dinosaur Actually Be Your Ally?",
          "Next Video Title": "If You Survive the Beasts, the World Still Tries to Kill You",
          "Part No.": 9,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      },
      {
        "json": {
          "row_number": 51,
          "Series Title": "Monsters of Forgotten Time",
          "Video Title": "If You Survive the Beasts, the World Still Tries to Kill You",
          "Next Video Title": "No",
          "Part No.": 10,
          "length of Video Required": "",
          "length of each Section ": "",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": "",
          "Work Flow Start": "",
          "Thumbnail Prompt": "",
          "Thumbnail Link": "",
          "Youtube Description ": "",
          "Script": ""
        }
      }
    ],
    "Scenes Creation": [
      {
        "json": {
          "output": {
            "scenes": [
              {
                "scene_number": 1,
                "narration": "Three hundred feet below the ocean surface, pressure tears your body apart."
              },
              {
                "scene_number": 2,
                "narration": "Your oxygen is about to run out, and your best friend passes out."
              },
              {
                "scene_number": 3,
                "narration": "On one side is your unconscious friend about to drown."
              },
              {
                "scene_number": 4,
                "narration": "Instinct tells you to save him, but your oxygen is limited."
              },
              {
                "scene_number": 5,
                "narration": "Do you risk your life to save him, or swim up alone?"
              },
              {
                "scene_number": 6,
                "narration": "This brutal choice actually happened in 2014 to two friends."
              },
              {
                "scene_number": 7,
                "narration": "Two inseparable friends went on a dangerous adventure together."
              },
              {
                "scene_number": 8,
                "narration": "One mistake turned deadly, and we'll uncover what happened."
              },
              {
                "scene_number": 9,
                "narration": "In Southern China's Guangxi region, spectacular caves attract divers."
              },
              {
                "scene_number": 10,
                "narration": "These caves are hidden inside mountains, filled with water."
              },
              {
                "scene_number": 11,
                "narration": "For thrill-seekers, diving into dark tunnels is the ultimate dream."
              },
              {
                "scene_number": 12,
                "narration": "But cave diving is incredibly dangerous, taking many lives yearly."
              },
              {
                "scene_number": 13,
                "narration": "Two best friends, Wang Yuan and Wang Tao, loved diving."
              },
              {
                "scene_number": 14,
                "narration": "They had explored Jiudong Cave fifteen times before."
              },
              {
                "scene_number": 15,
                "narration": "This time, they aimed to break records at 557 feet."
              },
              {
                "scene_number": 16,
                "narration": "At that depth, there was no guiding rope for safety."
              },
              {
                "scene_number": 17,
                "narration": "They met French diver Pascal Bernabé to learn risks."
              },
              {
                "scene_number": 18,
                "narration": "On April eighteenth, they arrived with support diver Zhao Pai."
              },
              {
                "scene_number": 19,
                "narration": "Their plan was a three-hour fifty-minute dive deep underground."
              },
              {
                "scene_number": 20,
                "narration": "Below one hundred feet, nitrogen acts like alcohol on brains."
              },
              {
                "scene_number": 21,
                "narration": "Past two hundred seventeen feet, oxygen itself becomes poisonous."
              },
              {
                "scene_number": 22,
                "narration": "Divers add helium to make air breathable at great depths."
              },
              {
                "scene_number": 23,
                "narration": "They used the rule of thirds for gas management."
              },
              {
                "scene_number": 24,
                "narration": "At five hundred feet, Yuan felt dizzy from pressure."
              },
              {
                "scene_number": 25,
                "narration": "They reached five hundred fifty-seven feet and tied their rope."
              },
              {
                "scene_number": 26,
                "narration": "But visibility was terrible, barely two meters ahead."
              },
              {
                "scene_number": 27,
                "narration": "Suddenly, the guiding rope disappeared into murky water."
              },
              {
                "scene_number": 28,
                "narration": "Panic set in as they were lost in maze tunnels."
              },
              {
                "scene_number": 29,
                "narration": "They found the rope again, but Tao signaled trouble."
              },
              {
                "scene_number": 30,
                "narration": "Tao pointed at his throat, meaning he was out of air."
              },
              {
                "scene_number": 31,
                "narration": "Yuan gave him his regulator, sharing his air supply."
              },
              {
                "scene_number": 32,
                "narration": "But they only had three to four minutes left."
              },
              {
                "scene_number": 33,
                "narration": "At ninety meters, Tao suddenly shot upwards uncontrollably."
              },
              {
                "scene_number": 34,
                "narration": "His unconscious body floated away, breaking the air connection."
              },
              {
                "scene_number": 35,
                "narration": "Yuan faced an impossible choice: chase Tao or survive."
              },
              {
                "scene_number": 36,
                "narration": "He chose survival, refilled his gas, then searched desperately."
              },
              {
                "scene_number": 37,
                "narration": "But Tao was gone, lost in the dark caves."
              },
              {
                "scene_number": 38,
                "narration": "Yuan surfaced severely injured with organ failure."
              },
              {
                "scene_number": 39,
                "narration": "Rescuers found Tao's lifeless body trapped at fifty-one meters."
              },
              {
                "scene_number": 40,
                "narration": "One friend survived, the other didn't in this tragedy."
              },
              {
                "scene_number": 41,
                "narration": "Yuan calls it a story of overconfidence and poor preparation."
              },
              {
                "scene_number": 42,
                "narration": "What do you think was their biggest mistake?"
              },
              {
                "scene_number": 43,
                "narration": "Please subscribe to Time Flipped, like and share this video."
              },
              {
                "scene_number": 44,
                "narration": "See more interesting stories like this on our channel."
              }
            ]
          }
        }
      }
    ],
    "Create Table": [
      {
        "json": {
          "scene_number": 1,
          "narration": "Three hundred feet below the ocean surface, pressure tears your body apart."
        }
      },
      {
        "json": {
          "scene_number": 2,
          "narration": "Your oxygen is about to run out, and your best friend passes out."
        }
      },
      {
        "json": {
          "scene_number": 3,
          "narration": "On one side is your unconscious friend about to drown."
        }
      },
      {
        "json": {
          "scene_number": 4,
          "narration": "Instinct tells you to save him, but your oxygen is limited."
        }
      },
      {
        "json": {
          "scene_number": 5,
          "narration": "Do you risk your life to save him, or swim up alone?"
        }
      },
      {
        "json": {
          "scene_number": 6,
          "narration": "This brutal choice actually happened in 2014 to two friends."
        }
      },
      {
        "json": {
          "scene_number": 7,
          "narration": "Two inseparable friends went on a dangerous adventure together."
        }
      },
      {
        "json": {
          "scene_number": 8,
          "narration": "One mistake turned deadly, and we'll uncover what happened."
        }
      },
      {
        "json": {
          "scene_number": 9,
          "narration": "In Southern China's Guangxi region, spectacular caves attract divers."
        }
      },
      {
        "json": {
          "scene_number": 10,
          "narration": "These caves are hidden inside mountains, filled with water."
        }
      },
      {
        "json": {
          "scene_number": 11,
          "narration": "For thrill-seekers, diving into dark tunnels is the ultimate dream."
        }
      },
      {
        "json": {
          "scene_number": 12,
          "narration": "But cave diving is incredibly dangerous, taking many lives yearly."
        }
      },
      {
        "json": {
          "scene_number": 13,
          "narration": "Two best friends, Wang Yuan and Wang Tao, loved diving."
        }
      },
      {
        "json": {
          "scene_number": 14,
          "narration": "They had explored Jiudong Cave fifteen times before."
        }
      },
      {
        "json": {
          "scene_number": 15,
          "narration": "This time, they aimed to break records at 557 feet."
        }
      },
      {
        "json": {
          "scene_number": 16,
          "narration": "At that depth, there was no guiding rope for safety."
        }
      },
      {
        "json": {
          "scene_number": 17,
          "narration": "They met French diver Pascal Bernabé to learn risks."
        }
      },
      {
        "json": {
          "scene_number": 18,
          "narration": "On April eighteenth, they arrived with support diver Zhao Pai."
        }
      },
      {
        "json": {
          "scene_number": 19,
          "narration": "Their plan was a three-hour fifty-minute dive deep underground."
        }
      },
      {
        "json": {
          "scene_number": 20,
          "narration": "Below one hundred feet, nitrogen acts like alcohol on brains."
        }
      },
      {
        "json": {
          "scene_number": 21,
          "narration": "Past two hundred seventeen feet, oxygen itself becomes poisonous."
        }
      },
      {
        "json": {
          "scene_number": 22,
          "narration": "Divers add helium to make air breathable at great depths."
        }
      },
      {
        "json": {
          "scene_number": 23,
          "narration": "They used the rule of thirds for gas management."
        }
      },
      {
        "json": {
          "scene_number": 24,
          "narration": "At five hundred feet, Yuan felt dizzy from pressure."
        }
      },
      {
        "json": {
          "scene_number": 25,
          "narration": "They reached five hundred fifty-seven feet and tied their rope."
        }
      },
      {
        "json": {
          "scene_number": 26,
          "narration": "But visibility was terrible, barely two meters ahead."
        }
      },
      {
        "json": {
          "scene_number": 27,
          "narration": "Suddenly, the guiding rope disappeared into murky water."
        }
      },
      {
        "json": {
          "scene_number": 28,
          "narration": "Panic set in as they were lost in maze tunnels."
        }
      },
      {
        "json": {
          "scene_number": 29,
          "narration": "They found the rope again, but Tao signaled trouble."
        }
      },
      {
        "json": {
          "scene_number": 30,
          "narration": "Tao pointed at his throat, meaning he was out of air."
        }
      },
      {
        "json": {
          "scene_number": 31,
          "narration": "Yuan gave him his regulator, sharing his air supply."
        }
      },
      {
        "json": {
          "scene_number": 32,
          "narration": "But they only had three to four minutes left."
        }
      },
      {
        "json": {
          "scene_number": 33,
          "narration": "At ninety meters, Tao suddenly shot upwards uncontrollably."
        }
      },
      {
        "json": {
          "scene_number": 34,
          "narration": "His unconscious body floated away, breaking the air connection."
        }
      },
      {
        "json": {
          "scene_number": 35,
          "narration": "Yuan faced an impossible choice: chase Tao or survive."
        }
      },
      {
        "json": {
          "scene_number": 36,
          "narration": "He chose survival, refilled his gas, then searched desperately."
        }
      },
      {
        "json": {
          "scene_number": 37,
          "narration": "But Tao was gone, lost in the dark caves."
        }
      },
      {
        "json": {
          "scene_number": 38,
          "narration": "Yuan surfaced severely injured with organ failure."
        }
      },
      {
        "json": {
          "scene_number": 39,
          "narration": "Rescuers found Tao's lifeless body trapped at fifty-one meters."
        }
      },
      {
        "json": {
          "scene_number": 40,
          "narration": "One friend survived, the other didn't in this tragedy."
        }
      },
      {
        "json": {
          "scene_number": 41,
          "narration": "Yuan calls it a story of overconfidence and poor preparation."
        }
      },
      {
        "json": {
          "scene_number": 42,
          "narration": "What do you think was their biggest mistake?"
        }
      },
      {
        "json": {
          "scene_number": 43,
          "narration": "Please subscribe to Time Flipped, like and share this video."
        }
      },
      {
        "json": {
          "scene_number": 44,
          "narration": "See more interesting stories like this on our channel."
        }
      }
    ]
  },
  "versionId": "414f8a64-bb2b-493b-af98-8d809dde0ec9",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-09-09T00:49:07.096Z",
      "updatedAt": "2025-09-09T00:49:07.096Z",
      "role": "workflow:owner",
      "workflowId": "pGULnWeOIJK3gkYf",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-08T06:06:20.811Z",
      "updatedAt": "2025-09-08T06:06:20.811Z",
      "id": "RNWde51of0nnQzPD",
      "name": "Video Automation"
    }
  ]
}