Backup_2025-09-15/Life unfolded.json
{
  "createdAt": "2025-09-14T07:55:37.298Z",
  "updatedAt": "2025-09-14T08:10:09.939Z",
  "id": "Vk9IOU3AH4fxdkE8",
  "name": "Life unfolded",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dac45f43-84d6-4411-a701-e0e20e304531",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bea77c6-39f5-4942-bcb1-4e1c01fd28dd",
              "name": "script",
              "value": "=There once lived an old lady at the edge,\nof a mountain village. Her house was,\nsmall, made of stone and,\ndreams. She had no children, no riches,\nno grand legacy. But she had something\nrare, peace,\nEveryday she'd light a little fire in\nher,\nfireplace, stir a pot of soup with,\nwhatever the garden gave her, and hum,\nsongs that no one else remembered. The,\nvillagers often came to her when they\nwere sad, because somehow she always,\nsmiled, even when she had nothing. One,\nday, a strange traveler came to her\ndoor.,\nHe said, \"You've lived a good life. So,\nI'll give you a choice. Three",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "24332de1-8dd1-4852-a89e-89a09352bd1f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.script }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=you are an excellent data splitter.\n\nyou are given the transcription of a youtube video i need to update. you need to spit the data into new item where a new line starts (\\n is mentioned).\nfor exapmple. for the text:\n\"There once lived an old lady at the edge,\\nof a mountain village. Her house was,\\nsmall, made of stone and,\\ndreams. She had no children, no riches,\\nno grand legacy. But she had something\\nrare, peace,\\nEveryday she'd light a little fire in\\nher,\\nfireplace, stir a pot of soup with,\"\n\nthe output will be:\n\n{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"narration\": \"There once lived an old lady at the edge,\"\n    },\n    {\n      \"scene_number\": 2,\n      \"narration\": \"small, made of stone and,\"\n    },\n    {\n      \"scene_number\": 3,\n      \"narration\": \"dreams. She had no children, no riches,\"\n    }\n  ]\n}\n\nthen i will split that items to separate item to process them one by one."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        416,
        0
      ],
      "id": "9167b92f-9a22-4f00-be67-4ce04215c824",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "482c1f77-98d3-4ec7-8e55-fa64db976ca3",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"narration\": \"Your text here\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "03dde67c-c82b-4d78-8a87-d8dc9ff3984e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "51762e05-9527-41b3-b49d-529b7a197995",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        0
      ],
      "id": "73694c96-e372-4b04-be3c-812efc46449b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1328,
        160
      ],
      "id": "21c5c734-5f09-4c0a-a6f4-b921a9f1e301"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7d048494-f9f0-4de1-bf43-e394425f761a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-14T07:55:37.298Z",
      "updatedAt": "2025-09-14T07:55:37.298Z",
      "role": "workflow:owner",
      "workflowId": "Vk9IOU3AH4fxdkE8",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": []
}