Backup_2025-09-15/Thumbnail creation.json
{
  "createdAt": "2025-09-10T17:30:10.064Z",
  "updatedAt": "2025-09-14T02:17:22.383Z",
  "id": "KblZaWgyX2Hk0PLt",
  "name": "Thumbnail creation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Job Status",
              "lookupValue": "Completed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -416
      ],
      "id": "ae0fa64f-3734-4eec-93fc-cf50ead77f8a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "807c739f-b4b7-41cb-92bf-7e8271e970ac",
              "leftValue": "={{ $json['Thumbnail Link'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "7505d681-ea99-40b4-8aa7-d648e561cf5a",
              "leftValue": "={{ $json['Final Video Link'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -416
      ],
      "id": "be25f030-3638-48c3-8010-70e821c14ca7",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        288,
        -416
      ],
      "id": "1721c392-2693-4b5d-be4b-50c133e63aa5",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/FLUX.1-schnell-Free"
            },
            {
              "name": "prompt",
              "value": "={{ $('Basic LLM Chain').item.json.text }}"
            },
            {
              "name": "steps",
              "value": "={{ 4 }}"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            },
            {
              "name": "width",
              "value": "={{ 1280 }}"
            },
            {
              "name": "height",
              "value": "={{ 720 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        -640
      ],
      "id": "a2866ff1-12fc-4b95-84d5-54e1642d57b8",
      "name": "Free Images",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "alwaysOutputData": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "xNZtY56kIowFixlg",
          "name": "together Ai"
        },
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -416
      ],
      "id": "7e1d4246-cdae-45c1-aae5-c1b1ccfedd34",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "name": "={{ $('Limit').item.json['Part No.'] }}|{{ $('Limit').item.json['Video Title'] }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('If1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3008,
        -640
      ],
      "id": "892c1c08-9293-4956-b821-b573ba3e6f88",
      "name": "Upload file",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.response }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 1500000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        -640
      ],
      "id": "1f98f124-f9fd-49e3-91e2-85a6d0124a9c",
      "name": "Download File",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8eb75842-7382-4ad9-825b-f072800d02a9",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Limit').item.json['Video Title'] }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        -480
      ],
      "id": "a5911644-6682-4417-866a-5d6c1f0f7753",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Limit').item.json['Video Title'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10w4JxSqa0xhcAp8hd1dMWP7cTJwD1uFS",
          "mode": "list",
          "cachedResultName": "Final Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10w4JxSqa0xhcAp8hd1dMWP7cTJwD1uFS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        -336
      ],
      "id": "bc7940b1-0ace-4f88-96e1-983cc55b0600",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.name }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an **Expert YouTube Thumbnail Prompt Generator**.  \n\nYour job is to create a single cinematic thumbnail prompt for an AI image generator (Flux Schnell, Stable Diffusion-like).  \n\n---\n\n### CONTEXT INPUTS YOU WILL RECEIVE:\n- Series Title: {{ $('Limit').item.json['Series Title'] }}\n- Video Title: {{ $('Limit').item.json['Video Title'] }}\n\n---\n\n### THUMBNAIL PROMPT RULES:\n- **Concept:** The thumbnail must reflect the essence, emotion, and vibe of the Series + Video Title.  \n- **Composition:** It can creatively merge or overlay multiple images (e.g., past vs. future, before vs. after, light vs. dark) in one frame.  \n- **Background Scene:** Must visualize the story’s core idea (adventure, mystery, survival, science-fiction, etc.).  \n- **Camera Angle:** Cinematic wide shot, dramatic close-up, or aerial view.  \n- **Lighting:** Neon glow, cosmic flares, or dramatic shadows depending on theme.  \n- **Style:** Ultra-detailed, cinematic, futuristic, or mysterious — matching the channel’s style.  \n- **Colors:** Bold, high-contrast, eye-catching (neon blues, fiery oranges, deep blacks).  \n\n---\n\n### IMPORTANT REMINDERS:\n- Do NOT output explanations, markdown, or extra notes.  \n- Always keep the style **cinematic, mysterious, and engaging**.  \n- Ensure the thumbnail feels like it belongs to the same channel & series.  \n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        960,
        -736
      ],
      "id": "65f30958-0fdf-4f44-acdd-2211f5b479f0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        976,
        -512
      ],
      "id": "f6c7284e-658b-436f-88e7-c18a44d2b6ef",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video Title": "={{ $('Limit').item.json['Video Title'] }}",
            "Thumbnail Link": "={{ $json.data[0].url }}"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Series Title",
              "displayName": "Series Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next Video Title",
              "displayName": "Next Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work Flow Start",
              "displayName": "Work Flow Start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Link",
              "displayName": "Thumbnail Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -640
      ],
      "id": "737d2884-a84b-46ff-a40f-7c7d2e520ba5",
      "name": "Update Thumbnail Link",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Thumbnail Prompt": "={{ $json.text }}",
            "Video Title": "={{ $('Limit').item.json['Video Title'] }}",
            "Description": "="
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Series Title",
              "displayName": "Series Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Next Video Title",
              "displayName": "Next Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work Flow Start",
              "displayName": "Work Flow Start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Prompt",
              "displayName": "Thumbnail Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Link",
              "displayName": "Thumbnail Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -640
      ],
      "id": "3bc63572-948c-4634-9e22-a7e6c6fe82c5",
      "name": "Update Thumbnail Prompt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        -512
      ],
      "id": "3a0e90b9-a508-4b60-8612-e8020fcf0204",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mfO0dqgKTdN60Ofd",
          "name": "zubair-1 Paid"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        -336
      ],
      "id": "36fb94d5-b962-49ec-bdce-62f462ce9b82",
      "name": "Wait",
      "webhookId": "9905deb9-d4bf-46e7-95e2-6d1fd4a9e0a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fc4fda0-e949-4c1f-a400-6d28b08e5091",
              "name": "Video Title",
              "value": "={{ $('Limit').item.json['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -272
      ],
      "id": "f0cee53f-6258-4b50-91cf-331b978caca9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $('Free Images').item.json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        -640
      ],
      "id": "5cda1aac-68cc-445f-b061-8db1dd95f11e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json['Part No.'] }}|{{ $json['Video Title'] }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        -416
      ],
      "id": "c85b8c59-ef7f-4715-b005-c9de82128145",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Title:  {{ $('Limit').item.json['Video Title'] }}\nSeries Title: {{ $('Limit').item.json['Series Title'] }}\nEpisode Number:{{ $('Limit').item.json['Part No.'] }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an expert YouTube SEO content creator. \n  Your task is to write a highly engaging and SEO-optimized YouTube video description.\n\n  Video Information:\n  - Series Title: {{ $('Limit').item.json['Series Title'] }}\n  - Video Title: {{ $('Limit').item.json['Video Title'] }}\n  - Episode Number: {{ $('Limit').item.json['Part No.'] }}\n  Instructions:\n  1. Start with a strong hook (2–3 sentences) to grab attention.\n  2. Naturally include important keywords from the video title and series.\n  3. Provide a short summary of what viewers will learn or experience.\n  4. Add a call-to-action (subscribe, like, comment).\n  5. Include relevant hashtags at the end (3–5 strong tags).\n  6. Series Title and Episode Numbers are just for refence to provide you context. \n  7. Use SEO-Optimized emojis and expressions based on content to give comfort to the viewer easiness in reading and getting idea about the video\n\n  Keep it under 200 words, conversational, and optimized for YouTube search.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2432,
        -640
      ],
      "id": "0196bb71-b04e-4d7b-beb8-d2139153050a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2448,
        -416
      ],
      "id": "da68503b-d459-4ce2-b5ab-a2e680c20003",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2576,
        -416
      ],
      "id": "0baba7b0-8dc8-4d7f-a272-78dbcf1766ff",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mfO0dqgKTdN60Ofd",
          "name": "zubair-1 Paid"
        }
      }
    },
    {
      "parameters": {
        "name": "=Thumbnail|{{ $json['Video Title'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('If1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2208,
        -640
      ],
      "id": "2b13429f-251e-4334-b6bd-77a26e3340d8",
      "name": "Upload Thumbnail",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Free Images": {
      "main": [
        [
          {
            "node": "Update Thumbnail Link",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Thumbnail Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Thumbnail Link": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Thumbnail Prompt": {
      "main": [
        [
          {
            "node": "Free Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Upload Thumbnail": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "OpenRouter Chat Model1": [
      {
        "json": {
          "isArtificialRecoveredEventItem": true
        }
      }
    ]
  },
  "versionId": "d33d9c0d-4452-407b-91ba-14231438c21b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-10T17:30:10.064Z",
      "updatedAt": "2025-09-10T17:30:10.064Z",
      "role": "workflow:owner",
      "workflowId": "KblZaWgyX2Hk0PLt",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-08T06:06:20.811Z",
      "updatedAt": "2025-09-08T06:06:20.811Z",
      "id": "RNWde51of0nnQzPD",
      "name": "Video Automation"
    }
  ]
}