Backup_2025-10-02/Testing.json
{
  "createdAt": "2025-09-09T09:15:09.132Z",
  "updatedAt": "2025-09-22T07:17:31.320Z",
  "id": "SskEeTdDgbzwmAnD",
  "name": "Testing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/image/convert/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"http://173.212.233.128:9000/time-flipped/disclaimer.PNG\",\n  \"length\":  3,\n  \"frame_rate\": 24,\n  \"zoom_speed\": 1,\n  \"id\": \"request-123\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        336
      ],
      "id": "9e31fd7e-50ee-4989-a432-38235ef876f6",
      "name": "Image to Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"merge-video-voiceover-youtube-fade\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json['video url'] }}\"\n    },\n    {\n      \"file_url\": \"{{ $json['audio url'] }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter_name\": \"volume\",\n      \"options\": {\n        \"volume\": 2.0\n      },\n      \"inputs\": [\"1:a\"],\n      \"outputs\": [\"boosted_audio\"]\n    },\n    {\n      \"filter_name\": \"scale\",\n      \"options\": {\n        \"w\": \"iw*min(1920/iw,1080/ih)\",\n        \"h\": \"ih*min(1920/iw,1080/ih)\"\n      },\n      \"inputs\": [\"0:v\"],\n      \"outputs\": [\"scaled_tmp\"]\n    },\n    {\n      \"filter_name\": \"pad\",\n      \"options\": {\n        \"w\": 1920,\n        \"h\": 1080,\n        \"x\": \"(1920-iw*min(1920/iw,1080/ih))/2\",\n        \"y\": \"(1080-ih*min(1920/iw,1080/ih))/2\"\n      },\n      \"inputs\": [\"scaled_tmp\"],\n      \"outputs\": [\"scaled_video\"]\n    },\n    {\n      \"filter_name\": \"fade\",\n      \"options\": {\n        \"type\": \"in\",\n        \"start_time\": 0,\n        \"duration\": 2\n      },\n      \"inputs\": [\"scaled_video\"],\n      \"outputs\": [\"fade_in\"]\n    },\n    {\n      \"filter_name\": \"fade\",\n      \"options\": {\n        \"type\": \"out\",\n        \"start_time\": \"{{ $json.duration-1 }}\",\n        \"duration\": 2\n      },\n      \"inputs\": [\"fade_in\"],\n      \"outputs\": [\"fade_final\"]\n    }\n  ],\n  \"outputs\": [\n    {\n      \"map\": [\"fade_final\", \"boosted_audio\"],\n      \"output_file\": \"final_fade_video.mp4\",\n      \"options\": [\n        { \"option\": \"-c:v\", \"argument\": \"libx264\" },\n        { \"option\": \"-c:a\", \"argument\": \"aac\" }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"duration\": true,\n    \"filesize\": true\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        784
      ],
      "id": "13e871f8-dadb-4414-b316-c26521e36e39",
      "name": "Merge Audio and Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        784
      ],
      "id": "dd6e4196-1021-46a9-8f9a-09cbc8619720",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad70363b-b069-40f3-9225-bea80e6bc2e1",
              "name": "duration",
              "value": "4",
              "type": "string"
            },
            {
              "id": "ef994c75-739c-447d-9e6a-f639553046e0",
              "name": "audio url",
              "value": "=http://173.212.233.128:9000/nca-toolkit/Raw%2F171.mp3",
              "type": "string"
            },
            {
              "id": "9f848f64-78f2-436d-b818-8724e62c87da",
              "name": "video url",
              "value": "=http://173.212.233.128:9000/nca-toolkit/0000363b-7d49-4d32-b64b-b6f3f55522b7_output_0.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        784
      ],
      "id": "ef015576-aba2-474e-be71-6e7ea45217c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/video/concatenate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\n    { \"video_url\": \"http://173.212.233.128:9000/time-flipped/Disclaimerwithaudio.mp4\" },\n    { \"video_url\": \"http://173.212.233.128:9000/nca-toolkit/0080887e-5d5c-493d-97a9-4c248d073a97_captioned.mp4\" }\n  ],\n  \"id\": \"prepend-disclaimer\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        112
      ],
      "id": "516598f7-c03d-4f3b-ba6a-6ea0e0d876c8",
      "name": "Video Concatinate",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"merge-2-videos-xfade\",\n  \"inputs\": [\n    {\n      \"file_url\": \"http://173.212.233.128:9000/nca-toolkit/51042e20-834d-4257-82b9-0a89de438f1e.mp4\"\n    },\n    {\n      \"file_url\": \"http://173.212.233.128:9000/nca-toolkit/24bdca9d-4250-492a-8d9d-5be12d629d33.mp4\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[0:v][1:v]xfade=transition=fade:duration=1:offset=0[v]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"map\": [\"[v]\"],\n      \"output_file\": \"merged_xfade.mp4\",\n      \"options\": [\n        { \"option\": \"-c:v\", \"argument\": \"libx264\" }\n      ]\n    }\n  ]\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -112
      ],
      "id": "be74b82f-5042-4493-a9f4-7e5f833aec8b",
      "name": "Merge Audio and Video1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = await fetch('https://openrouter.ai/api/v1/key', {\n  method: 'GET',\n  headers: {\n    Authorization: 'Bearer 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',\n  },\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        560
      ],
      "id": "dcff46a1-8903-41a0-989f-707538af48b9",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        608,
        -176
      ],
      "id": "407a88a0-680f-498e-a788-35fe612bc90e",
      "name": "When chat message received",
      "webhookId": "56c34390-4133-48c6-a6e6-667748f710be"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        -176
      ],
      "id": "5d1439c4-08b8-4f6b-82f9-d842de8d756d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        32
      ],
      "id": "63e1377b-062e-4ae6-aeb0-2e8bdcd81da4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.ztechai.us/webhook/fe234b5f-a3b4-4229-8eb1-245cb18a83de",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "zubair"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        208
      ],
      "id": "7228d80f-6a18-4005-89c2-7026fb1658a0",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image to Video": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge Audio and Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1923b515-c834-4641-8634-ca9802c0a9a4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-09T09:15:09.132Z",
      "updatedAt": "2025-09-09T09:15:09.132Z",
      "role": "workflow:owner",
      "workflowId": "SskEeTdDgbzwmAnD",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": []
}