Backup_2026-01-13/Backup to Github.json
{
  "updatedAt": "2026-01-13T04:27:24.308Z",
  "createdAt": "2025-09-09T04:21:15.620Z",
  "id": "7SOtNMXHICRFLr6j",
  "name": "Backup to Github",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 3
            }
          ]
        }
      },
      "id": "fe588924-cef8-401f-b266-fc0ceb7922db",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1056,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fdef6d9d-329b-45dc-9756-4c090c5f1cf1",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "34ce3e88-2f83-430c-af14-01e44d850f9a",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -384,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f00d7994-3376-4eec-80c2-070774faed19",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        192
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "url",
          "value": "https://github.com/Zubairyounus99",
          "__regex": "https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"
        },
        "repository": {
          "__rl": true,
          "value": "contabo-n8n-backup",
          "mode": "list",
          "cachedResultName": "contabo-n8n-backup",
          "cachedResultUrl": "https://github.com/Zubairyounus99/contabo-n8n-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "7812f8c0-d835-40d5-9438-9fa0e1af7e27",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        288,
        272
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "bVh2rND52LsgiJUx",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Zubairyounus99/n8n-Backup",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Backup",
          "cachedResultUrl": "https://github.com/Zubairyounus99/n8n-Backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "7f9c2948-5e97-4938-b30c-18cc415d940d",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "bVh2rND52LsgiJUx",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        64,
        192
      ],
      "id": "443bd5ed-c99a-4cca-a32b-209d81fd86e2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -608,
        272
      ],
      "id": "83ccf87c-0468-4011-9b85-6f0bdfb0faa2",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "P93yPsTLmYcjNoNc",
          "name": "contabo n8n ZtechAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SmO2Sk9EXToHV5kwwv9VngVSiTPawzVrKAsEVo-CzDs",
          "mode": "list",
          "cachedResultName": "N8n backup Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmO2Sk9EXToHV5kwwv9VngVSiTPawzVrKAsEVo-CzDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1744346414,
          "mode": "list",
          "cachedResultName": "Contabo n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmO2Sk9EXToHV5kwwv9VngVSiTPawzVrKAsEVo-CzDs/edit#gid=1744346414"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Path": "={{ $('Set Variables').item.json.folderName }}",
            "Date": "={{ $today }}",
            "Error Message": "={{ $json.error }}",
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}"
          },
          "matchingColumns": [
            "File Name"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Path",
              "displayName": "Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        512,
        336
      ],
      "id": "3bc250c4-9531-4908-aca8-6cfcdd1100f0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create README": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj",
    "timeSavedPerExecution": 20
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3dc61c4b-fb74-48af-a03b-47917a200c3f",
  "activeVersionId": "58159055-9551-4799-8fb6-09d53a865242",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-09T04:21:15.620Z",
      "createdAt": "2025-09-09T04:21:15.620Z",
      "role": "workflow:owner",
      "workflowId": "7SOtNMXHICRFLr6j",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-28T18:49:38.908Z",
    "createdAt": "2025-11-28T18:49:38.908Z",
    "versionId": "58159055-9551-4799-8fb6-09d53a865242",
    "workflowId": "7SOtNMXHICRFLr6j",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 3
              }
            ]
          }
        },
        "id": "fe588924-cef8-401f-b266-fc0ceb7922db",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -1056,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
                "name": "folderName",
                "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "fdef6d9d-329b-45dc-9756-4c090c5f1cf1",
        "name": "Set Variables",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -832,
          256
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "34ce3e88-2f83-430c-af14-01e44d850f9a",
        "name": "Split Workflows",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -112,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "workflow-content",
                "name": "nodes",
                "value": "={{ JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "workflow-filename",
                "name": "fileName",
                "value": "={{ $json.name }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f00d7994-3376-4eec-80c2-070774faed19",
        "name": "Prepare File Content",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          272
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "https://github.com/Zubairyounus99",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "contabo-n8n-backup",
            "mode": "list",
            "cachedResultName": "contabo-n8n-backup",
            "cachedResultUrl": "https://github.com/Zubairyounus99/contabo-n8n-backup"
          },
          "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
          "binaryData": true,
          "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
        },
        "id": "7812f8c0-d835-40d5-9438-9fa0e1af7e27",
        "name": "Upload to GitHub",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          656,
          320
        ],
        "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
        "alwaysOutputData": false,
        "notesInFlow": true,
        "credentials": {
          "githubApi": {
            "id": "bVh2rND52LsgiJUx",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "https://github.com/Zubairyounus99/n8n-Backup",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-Backup",
            "mode": "list",
            "cachedResultName": "n8n-Backup",
            "cachedResultUrl": "https://github.com/Zubairyounus99/n8n-Backup"
          },
          "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
          "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
          "commitMessage": "=Add README for backup folder"
        },
        "id": "7f9c2948-5e97-4938-b30c-18cc415d940d",
        "name": "Create README",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
        "credentials": {
          "githubApi": {
            "id": "bVh2rND52LsgiJUx",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "nodes",
          "options": {
            "fileName": "={{ $json.fileName }}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          432,
          272
        ],
        "id": "443bd5ed-c99a-4cca-a32b-209d81fd86e2",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -624,
          256
        ],
        "id": "83ccf87c-0468-4011-9b85-6f0bdfb0faa2",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "P93yPsTLmYcjNoNc",
            "name": "contabo n8n ZtechAI"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1SmO2Sk9EXToHV5kwwv9VngVSiTPawzVrKAsEVo-CzDs",
            "mode": "list",
            "cachedResultName": "N8n backup Errors",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmO2Sk9EXToHV5kwwv9VngVSiTPawzVrKAsEVo-CzDs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1744346414,
            "mode": "list",
            "cachedResultName": "Contabo n8n",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmO2Sk9EXToHV5kwwv9VngVSiTPawzVrKAsEVo-CzDs/edit#gid=1744346414"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Path": "={{ $('Set Variables').item.json.folderName }}",
              "Date": "={{ $today }}",
              "Error Message": "={{ $json.error }}",
              "File Name": "={{ $('Prepare File Content').item.json.fileName }}"
            },
            "matchingColumns": [
              "File Name"
            ],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "File Name",
                "displayName": "File Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Path",
                "displayName": "Path",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Error Message",
                "displayName": "Error Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          880,
          352
        ],
        "id": "3bc250c4-9531-4908-aca8-6cfcdd1100f0",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "jwr2VJQX9ktvb4Sz",
            "name": "Zubair-1"
          }
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Set Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Variables": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Workflows": {
        "main": [
          [
            {
              "node": "Create README",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Content": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to GitHub": {
        "main": [
          [
            {
              "node": "Split Workflows",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Upload to GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Split Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Split Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create README": {
        "main": [
          []
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}