Backup_2026-01-13/Get Email of Business.json
{
  "updatedAt": "2026-01-09T23:20:44.726Z",
  "createdAt": "2026-01-09T20:50:55.086Z",
  "id": "d099lRqZ3m7nWBIh",
  "name": "Get Email of Business",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -304
      ],
      "id": "218032ed-42c7-4fb1-b065-b777e293a38f",
      "name": "Draft Email"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        212
      ],
      "id": "2087894c-340d-49dd-843f-9b479200e968",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10lsPxLo_soKUib_PICvl-7EIwrDiJEIB_95gp3BFhps",
          "mode": "list",
          "cachedResultName": "Apify Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lsPxLo_soKUib_PICvl-7EIwrDiJEIB_95gp3BFhps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1401081524,
          "mode": "list",
          "cachedResultName": "data 1000 records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lsPxLo_soKUib_PICvl-7EIwrDiJEIB_95gp3BFhps/edit#gid=1401081524"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -304
      ],
      "id": "947b60cf-2a21-46aa-9734-1d548d94685e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RFCJ0BfQF1fgxyrg",
          "name": "zubairyounOus99"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        -304
      ],
      "id": "ef8359da-758b-4293-9491-863a2ac4dde0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        -448
      ],
      "id": "5505a3d5-04c0-437c-b301-652e3dabbe34",
      "name": "Wait",
      "webhookId": "428247a7-ea2d-4549-8c5d-30cd04b843e4"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pz0zuvdo00ea87j",
        "table": "mxw523yxvl2ez1c",
        "returnAll": true,
        "options": {
          "fields": []
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -32,
        -720
      ],
      "id": "06cdeef9-970e-45fa-860d-e32c1ac56ad9",
      "name": "Get many rows",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pz0zuvdo00ea87j",
        "table": "mxw523yxvl2ez1c",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        640,
        -256
      ],
      "id": "623f96c1-b46e-4e43-94aa-37ac460755b2",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -720
      ],
      "id": "cbc24559-5f75-4608-b822-8a2dd97d843f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "delete",
        "projectId": "pz0zuvdo00ea87j",
        "table": "mxw523yxvl2ez1c",
        "id": "={{ $json.Id }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        416,
        -672
      ],
      "id": "c0716d96-a64d-4f72-849e-c057e07cd271",
      "name": "Delete a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        -864
      ],
      "id": "80cb3ff1-6b1e-4220-9693-ae3211a8c902",
      "name": "Wait1",
      "webhookId": "a5d644a5-a313-4d7d-aa2c-8c7d6bf314ac"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pz0zuvdo00ea87j",
        "table": "mxw523yxvl2ez1c",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        192,
        212
      ],
      "id": "7366899b-d921-4a18-a0f6-1f71c5e7b53b",
      "name": "Get many rows1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json.text }}",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "4c0abb2c-7e1d-4c08-9995-199af175bd9b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1584,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a6786c58-424a-409a-b87f-8a7592cb7944",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fd02be97-36b7-4eab-b291-780365d3d075",
      "name": "Filter Out Empties",
      "type": "n8n-nodes-base.filter",
      "position": [
        1344,
        -32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "351d295f-e0b6-4a74-8218-f23fddc1c6e0",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        864,
        208
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "32a73b66-ac52-48ac-939e-f5acf315bb92",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        1312,
        212
      ],
      "webhookId": "19cc6ed4-4fe7-485b-b879-c679e4b3374d",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "75add7a3-01e9-448a-a8a6-54fe589e7542",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        1184,
        -32
      ],
      "webhookId": "0fe34756-6e43-4603-8891-5747a9a6500a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-12b-v2-vl:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1552,
        512
      ],
      "id": "166c9d49-be9b-4ac4-968d-1bfe9dd2f338",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "65mlukvVZpheBc3O",
          "name": "new openrouter key"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        208
      ],
      "id": "4bb1d490-02c1-47a6-9681-42a7d3189c13",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a website scraping and data extraction agent.\n\nInput: You will be given raw scraped HTML of a website.  \nTask: scrape the website and extract only the Email address of that business.  I the busines don't have any email listed on the website or no input is received then \nReturn only Text \"No Email\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1536,
        288
      ],
      "id": "5f073685-8015-4478-bdf2-a64c5c932a69",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "mxw523yxvl2ez1c",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1808,
        -32
      ],
      "id": "40dac792-11b6-4aee-9ce3-24df47d4e5b0",
      "name": "Update a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "9eb84a73-56e4-4227-9b88-116190038a61",
      "name": "Scrape Site",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        208
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Draft Email": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Empties": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Filter Out Empties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "Scrape Site": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0c78e64f-ed7e-4ed0-90f0-2ce0ade84860",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-09T20:50:55.086Z",
      "createdAt": "2026-01-09T20:50:55.086Z",
      "role": "workflow:owner",
      "workflowId": "d099lRqZ3m7nWBIh",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": null,
  "tags": []
}