Backup_2026-01-21/Uploading Files to DB.json
{
  "updatedAt": "2025-09-28T18:11:09.937Z",
  "createdAt": "2025-09-28T17:42:06.616Z",
  "id": "3HZnTdIhVW6ZWToE",
  "name": "Uploading Files to DB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b7909534-d44c-4dbe-9bff-54f1557895d8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1NefBjqyCJDKPV9szid4bJ7bfRx1DRrtv",
            "mode": "list",
            "cachedResultName": "ZTechAI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1NefBjqyCJDKPV9szid4bJ7bfRx1DRrtv"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "9f9a898b-3153-4a3a-9196-354ba335530e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "088a478d-120c-4388-aa08-c7e98be393b2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ],
      "id": "ce05addd-4429-4403-bcf5-c2ca22fcf2c3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Tzo8ULCdQIZZdu6l",
          "name": "Time_Flipped"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        224
      ],
      "id": "9438a4d9-2aaf-4472-8fa3-14957e12aed8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "04L4BIAqVzDlgCrO",
          "name": "Gemini-4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        224
      ],
      "id": "dbb33438-dcac-4c45-b294-5ac4bc44b97d",
      "name": "Default Data Loader1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ec42c71e-0ba2-460b-b006-45e5ccf517e3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-28T17:42:06.616Z",
      "createdAt": "2025-09-28T17:42:06.616Z",
      "role": "workflow:owner",
      "workflowId": "3HZnTdIhVW6ZWToE",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": null,
  "tags": []
}