Backup_2025-09-11/Long Script Generator.json
{
  "createdAt": "2025-09-09T04:59:23.559Z",
  "updatedAt": "2025-09-09T05:31:37.333Z",
  "id": "2a8MqbYT2CwoTLw7",
  "name": "Long Script Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4016,
        560
      ],
      "id": "90dec2a7-3e7f-460e-83fc-974bfd57751d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3792,
        560
      ],
      "id": "cea11683-aafb-4f84-8519-f50badb0b9dc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5e25c32-c310-4a10-bc66-e8ea2477c2b4",
              "leftValue": "={{ $json['Job Status'] }}",
              "rightValue": "Completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3568,
        560
      ],
      "id": "c2534e58-0eb6-4b7f-99b7-3c53b2f4ac17",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3344,
        560
      ],
      "id": "0984dcc0-9006-4676-8e35-229a981e66bf",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d56dea8-494d-450f-a9fd-b18c5fa8a371",
              "name": "Series Title",
              "value": "={{ $json['Series Title'] }}",
              "type": "string"
            },
            {
              "id": "001f6d66-2202-48c7-8c4e-c3bfffdef0ea",
              "name": "Video Title",
              "value": "={{ $json['Video Title'] }}",
              "type": "string"
            },
            {
              "id": "f9fce6dd-4be0-4d2d-90a0-c8d8fdaab66a",
              "name": "Next Part Title",
              "value": "={{ $json['Next Video Title'] }}",
              "type": "string"
            },
            {
              "id": "9ef1fa2a-1cc1-4b20-9454-ffbc20d739d4",
              "name": "Part No",
              "value": "={{ $json['Part No.'] }}",
              "type": "string"
            },
            {
              "id": "7c8170e2-52cc-4130-a872-f279f1e50524",
              "name": "Length of Video",
              "value": "={{ $json['length of Video Required'] }}",
              "type": "string"
            },
            {
              "id": "c54c24b6-0645-42ed-a271-edfca9a43876",
              "name": "Length of Each Section",
              "value": "={{ $json['length of each Section '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3120,
        560
      ],
      "id": "86d33048-16c1-44d0-8640-defdad90fe6d",
      "name": "VIdeo Details"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"narration\": \"Your text here\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2144,
        784
      ],
      "id": "28b461fa-bd78-422d-8fc7-32561a1c1d8f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1920,
        560
      ],
      "id": "66d2585d-318e-4289-9560-d404a7062dee",
      "name": "Create Table"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2064,
        1360
      ],
      "id": "1eba2bbe-ee33-4006-9c0e-ba9ee2fac2b1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tgXiWw7PJwx6ZnyD",
          "name": "Gemini-2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are expert in creating scenes and narrations.\nhere is the script: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an Expert Scene Creator AI agent.  \n\nYour role is to take a video script and break it into short narration scenes for TTS with natural pacing.  \n\n### Instructions:\n\n1. **Scene Splitting**  \n   - Break the script into meaningful narration units.  \n   - Each scene should be {{ $('VIdeo Details').item.json['Length of Each Section'] }} of narration. \n   - If a sentence is long, split naturally while keeping meaning intact.  \n   - Avoid creating scenes shorter than 10 seconds unless absolutely necessary.  \n\n2. **Text Cleaning Rules**  \n   - Do NOT rewrite, paraphrase, or invent text.  \n   - Use the **exact same words** from the script.  \n   - Remove formatting like headings (**Hook**, **Narration**, **Outro**) and unnecessary symbols.  \n   - Replace any **multiple full stops (`..` or `...`)** with a clean single Space.  \n   - Remove any emotional or stage directions such as `[pause]`, `[silence]`, `[ohh]`, `[laugh]`.  \n   - Final output should contain only **clean text narration** without even two or more consecutive dots.  \n\n3. **Punctuation for TTS**  \n   - Ensure sentences have proper commas, ellipses, or dashes to guide rhythm.  \n   - Use ellipses `...` for suspense or curiosity.  \n   - Use exclamation marks `!` for excitement or surprise.  \n   - Use question marks `?` for reflective or rhetorical questions.  \n\n4. **Output Format**  \n   - Must be valid JSON.  \n   - Each scene contains:  \n     - `scene_number`: Sequential starting from 1.  \n     - `narration`: Exact cleaned text for that scene.  \n\n### Example:  \nIf the script is:  \n\"Hey explorers!! What if there were not one.. but two Earths?? Two planets—almost identical—both capable of supporting life. [pause][pause]\"  \n\nThen the output should be:  \n\n```json\n{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"narration\": \"Hey explorers!\"\n    },\n    {\n      \"scene_number\": 2,\n      \"narration\": \"What if there were not one... but two Earths?\"\n    },\n    {\n      \"scene_number\": 3,\n      \"narration\": \"Two planets—almost identical—both capable of supporting life!\"\n    }\n  ]\n}\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -2272,
        560
      ],
      "id": "34d755ba-063d-44c7-85cc-ff66679180ea",
      "name": "Scenes Creation"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2272,
        784
      ],
      "id": "df9e0ce2-568d-4a4c-92c5-f0a90465d24d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "tgXiWw7PJwx6ZnyD",
          "name": "Gemini-2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=main Title:{{ $json['Series Title'] }}\nVideo Title:{{ $json['Video Title'] }}\nNext Part Title: {{ $json['Next Part Title'] }}\nPart No:{{ $json['Part No'] }}\nLength of Video:{{ $json['Length of Video'] }}\nLength of Each Section:{{ $json['Length of Each Section'] }}",
        "options": {
          "systemMessage": "=You are the Lead Script Director AI. \nYour goal is to generate a long-form YouTube script of {{ $json['Length of Video'] }} in total.\n\nSteps you must follow:\n1. Split the main topic into manageable coherent sections (like scenes of a story) \n   - Each section should cover a unique aspect of the topic. \n   - Each section should be ~400–500 words in length once expanded and should be done by sub agents \n   - Ensure sections flow logically, like chapters of a book or scenes in a documentary.\n\n2. For each section:\n   - Summarize it in 1–2 sentences (title + short description).\n   - Hand it off to the connected Sub-Agent tool.\n   - Instruct the Sub-Agent: \n     \"Write a detailed script of 400–500 words in engaging storytelling style, based on this section summary.\"\n\n3. Collect the outputs from all Sub-Agents in sequence.\n\n4. After all sections are written, combine them into a single, continuous script.\n   - Add smooth transitions between sections.\n   - Avoid repetition of ideas.\n   - Ensure natural story flow.\n   - Include an introduction and a conclusion that ties everything together.\n  -Use attached tools to retrieve sample format to generate story and \n\n5. Tools: you have access to following tools to perform above tastks\n-Sample Transcriptions:Use this tools to retrieve sample format to generate story to follow the same style but don't copy data from it. just write the story in this style, narration and posture.  \n-Ai agent1: use this tool to get first section 400-500 words of script \n-Ai agent2: use this tool to get next section 400-500 words of script\n-Ai agent3: use this tool to get next section 400-500 words of script\n-Ai agent4: use this tool to get next section 400-500 words of script\n-Ai agent5: use this tool to get next section 400-500 words of script\n-Ai agent6: use this tool to get next section 400-500 words of script\n-Ai agent7: use this tool to get next section 400-500 words of script\n-Ai agent8: use this tool to get next section 400-500 words of script\n\n\nFinal Output: \nReturn the full combined script as one piece of text, at least {{ $json['Length of Video'] }} written for YouTube narration style (engaging, clear, conversational).\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2832,
        560
      ],
      "id": "a557c3f9-f634-46dd-a068-bc2afb0e8fb2",
      "name": "Script Writer"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['Series Title'] }}",
        "tableName": "Time_Flipped_Automatio_Chat",
        "contextWindowLength": 200
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2688,
        288
      ],
      "id": "bc768051-76ed-432f-9430-cdcd8d37713f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "nyI1LIk7TmRM1jfT",
          "name": "contabo Ztechai DB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2832,
        304
      ],
      "id": "e7cd3bbe-68d1-49e6-960c-fb55004a2a52",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mfO0dqgKTdN60Ofd",
          "name": "zubair-1 Paid"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrive scripts sample for refernce ",
        "pineconeIndex": {
          "__rl": true,
          "value": "time-flipped-scripts",
          "mode": "list",
          "cachedResultName": "time-flipped-scripts"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2208,
        1200
      ],
      "id": "f62caf01-64cd-46d1-a2b3-84fb8633fca2",
      "name": "Sample Transcriptions",
      "credentials": {
        "pineconeApi": {
          "id": "Tzo8ULCdQIZZdu6l",
          "name": "Time_Flipped"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3600,
        1008
      ],
      "id": "fb81de3e-6059-45ab-915d-b323be6c11d0",
      "name": "Ai agent1"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3328,
        1008
      ],
      "id": "ac776cc7-324f-4d5b-9912-02e68bc628ed",
      "name": "Ai agent2"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3056,
        1008
      ],
      "id": "94ddeeca-8d2e-4245-957d-3ffbbede1814",
      "name": "Ai agent3"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2832,
        1008
      ],
      "id": "7a936083-6d30-4ab6-848d-5894be20498a",
      "name": "Ai agent4"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2560,
        1008
      ],
      "id": "c85f8857-71c9-4d7b-b572-a28fad12b966",
      "name": "Ai agent5"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3600,
        1392
      ],
      "id": "0fc85919-189f-49a4-a988-d2d8207923e1",
      "name": "Ai agent6"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3344,
        1392
      ],
      "id": "0f769d67-f8d6-4df6-aac1-8d85cfc6246e",
      "name": "Ai agent7"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -3088,
        1392
      ],
      "id": "c985a109-4cc6-4c74-a3ee-672318318cc4",
      "name": "Ai agent8"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2832,
        1392
      ],
      "id": "1948cf68-5117-4cb1-be79-bc95af0337d0",
      "name": "Ai agent9"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -2560,
        1392
      ],
      "id": "d795b418-aaf0-4d69-b90b-486831525e94",
      "name": "Ai agent10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3808,
        1232
      ],
      "id": "8bf00e12-03bf-463b-aebf-e9af4ae79845",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tgXiWw7PJwx6ZnyD",
          "name": "Gemini-2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "VIdeo Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Scenes Creation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Table": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Sample Transcriptions",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Scenes Creation": {
      "main": [
        [
          {
            "node": "Create Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Scenes Creation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer": {
      "main": [
        [
          {
            "node": "Scenes Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Script Writer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "VIdeo Details": {
      "main": [
        [
          {
            "node": "Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sample Transcriptions": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent5",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent10",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent9",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent4",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent3",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent2",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent6",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent7",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Ai agent8",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent1": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent2": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent3": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent4": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent5": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent6": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent7": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent8": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent9": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ai agent10": {
      "ai_tool": [
        [
          {
            "node": "Script Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ai agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent4",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent5",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent6",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent7",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent8",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent9",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ai agent10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Vanishing Lights",
          "Next Video Title": "Whispers in the Attic",
          "Part No.": 1,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/922e6eb8-fec8-4da5-9113-f65a4f3820fa_captioned.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/150a8feb-ee30-4961-89ae-f64fe1bce7fb.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/c1725573-266f-4ab1-a3e5-3e02e15fee7e_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/f900b24d-8111-4510-9125-6de1dc74f27b_output_0.mp4"
        }
      },
      {
        "json": {
          "row_number": 3,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "Whispers in the Attic",
          "Next Video Title": "The Map That Shouldn’t Exist",
          "Part No.": 2,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "Completed",
          "Final Video Link": "http://173.212.233.128:9000/nca-toolkit/d8a14c76-3b61-4c89-b7c3-7e27e925144f_captioned.mp4",
          "Youtube Upload Status": "",
          "Concatination": "http://173.212.233.128:9000/nca-toolkit/0daeec75-90de-43e3-91b2-8292dd7fcfae.mp4",
          "Logo Status": "http://173.212.233.128:9000/nca-toolkit/eee44fc9-6493-4601-ac80-790fd34fd113_output_0.mp4",
          "Background Music": "http://173.212.233.128:9000/nca-toolkit/cae27ff6-b495-4c95-a910-6a5d11db889a_output_0.mp4"
        }
      },
      {
        "json": {
          "row_number": 4,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Map That Shouldn’t Exist",
          "Next Video Title": "Echoes Beneath the Bridge",
          "Part No.": 3,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 5,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "Echoes Beneath the Bridge",
          "Next Video Title": "The Watcher on the Hill",
          "Part No.": 4,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 6,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Watcher on the Hill",
          "Next Video Title": "The Forgotten Cabin",
          "Part No.": 5,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 7,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Forgotten Cabin",
          "Next Video Title": "The Mirror in the Woods",
          "Part No.": 6,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 8,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Mirror in the Woods",
          "Next Video Title": "Shadows at Hollow Creek",
          "Part No.": 7,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 9,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "Shadows at Hollow Creek",
          "Next Video Title": "The Final Warning",
          "Part No.": 8,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 10,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Final Warning",
          "Next Video Title": "The Secret Revealed",
          "Part No.": 9,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      },
      {
        "json": {
          "row_number": 11,
          "Series Title": "The Secret of Hollow Creek",
          "Video Title": "The Secret Revealed",
          "Next Video Title": "NO",
          "Part No.": 10,
          "length of Video Required": "4 to 5 minutes (800 to 1000 words)",
          "length of each Section ": "10 to 15 seconds(30 to 50 words)",
          "Job Status": "",
          "Final Video Link": "",
          "Youtube Upload Status": "",
          "Concatination": "",
          "Logo Status": "",
          "Background Music": ""
        }
      }
    ]
  },
  "versionId": "48d3d181-8b74-4710-97e7-2f0618bc187d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-09T04:59:23.559Z",
      "updatedAt": "2025-09-09T04:59:23.559Z",
      "role": "workflow:owner",
      "workflowId": "2a8MqbYT2CwoTLw7",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-08T06:06:20.811Z",
      "updatedAt": "2025-09-08T06:06:20.811Z",
      "id": "RNWde51of0nnQzPD",
      "name": "Video Automation"
    }
  ]
}