Backup_2025-09-19/Upload videos to Youtube.json
{
  "createdAt": "2025-09-15T07:18:39.784Z",
  "updatedAt": "2025-09-16T17:55:16.469Z",
  "id": "dRXsQCE72G2v6e3A",
  "name": "Upload videos to Youtube",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        96
      ],
      "id": "ea29d9dd-9cf8-4dba-9df1-10d023df73d7",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070",
          "mode": "list",
          "cachedResultName": "Life Unfolded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -224
      ],
      "id": "733724bc-be9e-48a3-afc1-9819602e9bd7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -192
      ],
      "id": "d51d207b-06b8-47b7-b5b2-608e77381f56",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        -224
      ],
      "id": "18a1a9ab-8f10-4425-8cfd-b19228511f4d",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "565537f2-da85-40bf-b6cd-9650ffe49730",
              "leftValue": "={{ $json['Job Status'] }}",
              "rightValue": "Completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ed7331d6-538c-441c-b2b5-bf1f4dfa125f",
              "leftValue": "={{ $json['Final Video Link'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -208
      ],
      "id": "85d32ba9-6396-4935-a638-e2648084fa27",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "=Hello| this istesing",
        "regionCode": "PK",
        "categoryId": "27",
        "options": {
          "description": "=sadfhasdfhaskdfasda",
          "privacyStatus": "private",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1888,
        -224
      ],
      "id": "1dba2ca9-1e97-448c-b9e2-62297fd3361b",
      "name": "Upload a video1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "49HFQhdRKKO2PrLr",
          "name": "Life Unfolded"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1IOyMn0puHmlLxDCx29dWkSATgalzKwG2",
          "mode": "list",
          "cachedResultName": "Short123.mp4",
          "cachedResultUrl": "https://drive.google.com/file/d/1IOyMn0puHmlLxDCx29dWkSATgalzKwG2/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        144
      ],
      "id": "c08bd1a0-f6fa-4242-a107-c9d3a8abfee4",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "Short From google",
        "regionCode": "GB",
        "categoryId": "24",
        "options": {
          "description": "Description text",
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        752,
        144
      ],
      "id": "26c71f30-357a-423b-ae1f-b4125a58de1c",
      "name": "YouTube"
    },
    {
      "parameters": {
        "jsCode": "// Assume first item contains the binary data\nitems[0].binary.data.mimeType = 'video/mp4';\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        416
      ],
      "id": "42d34fe8-7402-468f-8e2e-1bb6d097ba29",
      "name": "Set MimeType"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "Short From NCA Toolkit",
        "regionCode": "GB",
        "categoryId": "24",
        "options": {
          "description": "Description text",
          "privacyStatus": "private",
          "selfDeclaredMadeForKids": false
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1600,
        416
      ],
      "id": "bfc7f1a2-47f3-4e95-9e5c-e6467a0bfdce",
      "name": "YouTube1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/v1/image/transform/video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"image_url\":\"https://storage.googleapis.com/sgplabs-general-storage/Vertical%20Image.png\",\n    \"length\": 15,\n    \"frame_rate\": 25,\n    \"zoom_speed\": 3,\n    \"id\": \"local-extract\"\n}",
        "options": {
          "timeout": 50000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        416
      ],
      "id": "a3cc8f8d-3ad9-4f97-a05e-151b19448987",
      "name": "Image To Video",
      "notesInFlow": true,
      "notes": "/v1/image/transform/video"
    },
    {
      "parameters": {
        "url": "={{ $json.response }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        416
      ],
      "id": "7e8cf46e-efdb-4542-96d4-8b577ebf4526",
      "name": "HTTP Download"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "fileName": "={{ $binary.data.fileName}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1152,
        416
      ],
      "id": "101c6a24-57f4-46f3-b05e-50035be70af2",
      "name": "Upload - Overwrite",
      "credentials": {
        "s3": {
          "id": "VSuDthoFjMjERe4Q",
          "name": "nca-Bucket"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Download').item.json.response }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        416
      ],
      "id": "d4ad4cef-3ce0-46a9-9e67-eeb3507c4b69",
      "name": "HTTP Download1"
    },
    {
      "parameters": {
        "content": "## Upload from google drive",
        "height": 240,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        64
      ],
      "id": "c318c79d-9187-4971-ac8b-2c0a223f9daa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload from NCA Toolkit/MiniIO",
        "height": 280,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        336
      ],
      "id": "02e7f630-806e-4997-86ea-a565d60046ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Assume first item contains the binary data\nitems[0].binary.data.mimeType = 'video/mp4';\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -224
      ],
      "id": "aa153d20-5c4f-4399-9b71-251db3392a1f",
      "name": "Set MimeType1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "fileName": "={{ $binary.data.fileName}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1472,
        -224
      ],
      "id": "787dcebf-8ed0-411f-8a73-d86b0558eaa8",
      "name": "Upload - Overwrite1",
      "credentials": {
        "s3": {
          "id": "VSuDthoFjMjERe4Q",
          "name": "nca-Bucket"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Video URL').item.json['video url'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -224
      ],
      "id": "e111d8ef-05fa-40f9-85b7-b301530f28a3",
      "name": "download from Minio"
    },
    {
      "parameters": {
        "url": "={{ $json['video url'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -224
      ],
      "id": "9da66c74-5b81-4820-a1f9-ace0c025a087",
      "name": "Download video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "585ff15c-1c58-4867-a183-f7cc2b573e4b",
              "name": "video url",
              "value": "=http://173.212.233.128:9000/nca-toolkit/46ec738d-3c43-40ac-bea6-f44b07a821ac.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -224
      ],
      "id": "6cb7052a-ba3f-4adf-9d1a-2656693ec15e",
      "name": "Video URL"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video1": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set MimeType": {
      "main": [
        [
          {
            "node": "Upload - Overwrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image To Video": {
      "main": [
        [
          {
            "node": "HTTP Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download": {
      "main": [
        [
          {
            "node": "Set MimeType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload - Overwrite": {
      "main": [
        [
          {
            "node": "HTTP Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Download1": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set MimeType1": {
      "main": [
        [
          {
            "node": "Upload - Overwrite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload - Overwrite1": {
      "main": [
        [
          {
            "node": "download from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download from Minio": {
      "main": [
        [
          {
            "node": "Upload a video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download video": {
      "main": [
        [
          {
            "node": "Set MimeType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video URL": {
      "main": [
        [
          {
            "node": "Download video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cfd3129c-51a5-4fed-9c55-2b8c906b82f0",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T07:18:39.784Z",
      "updatedAt": "2025-09-15T07:18:39.784Z",
      "role": "workflow:owner",
      "workflowId": "dRXsQCE72G2v6e3A",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": []
}