Backup_2025-09-10/videos analysis.json
{
  "createdAt": "2025-09-09T09:15:09.132Z",
  "updatedAt": "2025-09-09T19:07:42.611Z",
  "id": "SskEeTdDgbzwmAnD",
  "name": "videos analysis",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081/v1/media/convert/mp3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"media_url\":\"{{ $json['mp4 URL'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -64
      ],
      "id": "44ead170-6319-4c0b-9f70-658030d3761e",
      "name": "Convert MP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081/v1/media/transcribe",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"media_url\":\"{{ $json.response }}\",\n    \"task\": \"transcribe\",\n    \"include_text\": true,\n    \"include_srt\": true,\n    \"response_type\": \"direct\",\n    \"language\": \"en\",\n    \"words_per_line\": 4\n}",
        "options": {
          "timeout": 1200000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        -48
      ],
      "id": "86a7017a-7662-45a7-a55d-1ec7de25fd3a",
      "name": "Transcribe1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31beb5dc-535e-4d93-9337-83e9f2d0a7fe",
              "name": "=mp4 URL",
              "value": "=http://173.212.233.128:9000/time-flipped/{{ $json.Key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -96
      ],
      "id": "5bf32eb1-e541-48f1-afea-97c4a381d52a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        -96
      ],
      "id": "b114c0d8-3216-40ea-bdd4-5aed8b8c21e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "time-flipped",
        "returnAll": true,
        "options": {
          "folderKey": "videos/"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        80,
        -96
      ],
      "id": "a33ec5f9-a379-40df-a543-bb7c9d1581a2",
      "name": "Get many files",
      "credentials": {
        "s3": {
          "id": "VSuDthoFjMjERe4Q",
          "name": "nca-Bucket"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "response.text",
        "include": "selectedOtherFields",
        "fieldsToInclude": "response.srt, response.filesize_mb, response.duration_formatted, response.has_audio",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1232,
        -288
      ],
      "id": "a2973a65-a8ab-4dfd-b2d9-34f70e48339d",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        576,
        -80
      ],
      "id": "0ed45b18-282e-4762-acb9-78de3fb4eedc",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1632,
        -304
      ],
      "id": "afe262e6-6ae4-4cba-aea4-5f5c79541189",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 313357825,
          "mode": "list",
          "cachedResultName": "Transcriptions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObWBBmct1XQcNqgpZCLW8iM9f8Z2bxYiOrpq58-X2Lc/edit#gid=313357825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file Name": "={{ $('Get many files').item.json.Key }}",
            "transcription": "={{ $json['response.text'] }}",
            "Script Transcription": "={{ $json['response.srt'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file Name",
              "displayName": "file Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transcription",
              "displayName": "transcription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script Transcription",
              "displayName": "Script Transcription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Part No.",
              "displayName": "Part No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of Video Required",
              "displayName": "length of Video Required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "length of each Section ",
              "displayName": "length of each Section ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatination",
              "displayName": "Concatination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo Status",
              "displayName": "Logo Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background Music",
              "displayName": "Background Music",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        -272
      ],
      "id": "fd869a0f-2fcd-4fcf-b799-bdbce7f840d5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.212.233.128:8081/v1/media/metadata",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"media_url\":\"{{ $('Loop Over Items').item.json['mp4 URL'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        -16
      ],
      "id": "40c01304-5625-4ce7-8620-ff8643fa967f",
      "name": "metadata (Audio)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Rename').item.json.nca }}/v1/image/convert/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.data[0].url }}\",\n  \"length\":  {{ $('metadata (Audio)').item.json.response.duration }},\n  \"frame_rate\": 24,\n  \"zoom_speed\": 3,\n  \"id\": \"request-123\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -624
      ],
      "id": "b639dfb9-7a06-48a1-9690-293f0c0eaaa0",
      "name": "Image to Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "you the good one",
        "regionCode": "PK",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1296,
        -496
      ],
      "id": "c5373325-b282-45b7-9230-a1180cfa6a19",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "49HFQhdRKKO2PrLr",
          "name": "Zubair Younus"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        352,
        -672
      ],
      "id": "fa25372b-deff-486c-b851-343d3ce7a4fa",
      "name": "When chat message received",
      "webhookId": "4133ac3f-38e1-4afa-9dba-2aaa09614fb6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "hi",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        -672
      ],
      "id": "fdcb4ed2-4cc7-418b-9974-9caa2d27f0bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        -464
      ],
      "id": "e80ed44a-e4d9-4a37-b751-ea696cef9979",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tgXiWw7PJwx6ZnyD",
          "name": "Gemini-2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        576,
        -464
      ],
      "id": "a45f13f2-d90b-4615-be44-25fee88c548e",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "JmGraIIiS7Q05wUw",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Convert MP": {
      "main": [
        [
          {
            "node": "Transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe1": {
      "main": [
        [
          {
            "node": "metadata (Audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata (Audio)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get many files": [
      {
        "json": {
          "Key": "videos/1.mp4",
          "LastModified": "2025-09-09T09:19:27.716Z",
          "ETag": "\"4c6aff9b484f011729e44ed8922be13c\"",
          "Size": "4036969",
          "StorageClass": "STANDARD"
        }
      },
      {
        "json": {
          "Key": "videos/2.mp4",
          "LastModified": "2025-09-09T09:19:24.004Z",
          "ETag": "\"45824361533154f866c53d085b3ebda3\"",
          "Size": "3135143",
          "StorageClass": "STANDARD"
        }
      },
      {
        "json": {
          "Key": "videos/3.mp4",
          "LastModified": "2025-09-09T09:19:23.960Z",
          "ETag": "\"dd3e73a318a495a882424b3155e3ab7f\"",
          "Size": "2853587",
          "StorageClass": "STANDARD"
        }
      },
      {
        "json": {
          "Key": "videos/4.mp4",
          "LastModified": "2025-09-09T09:19:27.559Z",
          "ETag": "\"153d5f2c85107efecb9eeba4aac030f4\"",
          "Size": "3827648",
          "StorageClass": "STANDARD"
        }
      },
      {
        "json": {
          "Key": "videos/5.mp4",
          "LastModified": "2025-09-09T09:19:28.523Z",
          "ETag": "\"2a9d594d4b4ba34ebcb2a312498c1ece\"",
          "Size": "6547135",
          "StorageClass": "STANDARD"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "mp4 URL": "http://173.212.233.128:9000/time-flipped/videos/1.mp4"
        }
      },
      {
        "json": {
          "mp4 URL": "http://173.212.233.128:9000/time-flipped/videos/2.mp4"
        }
      },
      {
        "json": {
          "mp4 URL": "http://173.212.233.128:9000/time-flipped/videos/3.mp4"
        }
      },
      {
        "json": {
          "mp4 URL": "http://173.212.233.128:9000/time-flipped/videos/4.mp4"
        }
      },
      {
        "json": {
          "mp4 URL": "http://173.212.233.128:9000/time-flipped/videos/5.mp4"
        }
      }
    ]
  },
  "versionId": "77d2189d-a8ce-437f-84fc-ff0f1566d7a2",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-09T09:15:09.132Z",
      "updatedAt": "2025-09-09T09:15:09.132Z",
      "role": "workflow:owner",
      "workflowId": "SskEeTdDgbzwmAnD",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": []
}