Backup_2025-10-03/Ztechai Testing.json
{
  "createdAt": "2025-09-20T02:30:03.312Z",
  "updatedAt": "2025-09-20T08:20:18.399Z",
  "id": "d353sYjJnlxV7u8M",
  "name": "Ztechai Testing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "fe234b5f-a3b4-4229-8eb1-245cb18a83de",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        -144
      ],
      "id": "36633250-a5a6-47f9-9a35-571ee7703d7e",
      "name": "Webhook",
      "webhookId": "fe234b5f-a3b4-4229-8eb1-245cb18a83de"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b85d9b1f-fca0-4923-b9f0-8c23f1e43e0b",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -288
      ],
      "id": "cabacd4c-8560-45ae-a0bf-e177a5bd2bda",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        -288
      ],
      "id": "321169c6-4931-4d48-83fd-88160fb779ad",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a406156b-1e53-4e49-bf8b-fca4c67dcb41",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-20T02:30:03.312Z",
      "updatedAt": "2025-09-20T02:30:03.312Z",
      "role": "workflow:owner",
      "workflowId": "d353sYjJnlxV7u8M",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": []
}