Backup_2026-01-29/Draft Lead Email.json
{
  "updatedAt": "2026-01-15T23:20:40.456Z",
  "createdAt": "2026-01-01T19:08:33.879Z",
  "id": "F4qXt2d58ZwWCIwz",
  "name": "Draft Lead Email",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "732d33a3-ca2e-4c0e-9647-608519599c3b",
              "leftValue": "={{ $json['Mail Status'] }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "209fab78-4518-4a00-ad6a-5f6a44800732",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        -36
      ],
      "id": "1360e43c-f327-472b-bcda-20479b8b0663",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        864,
        -36
      ],
      "id": "09b57378-8c22-4fba-aa02-1029b9d45ab5",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.Website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        -36
      ],
      "id": "d753dbfb-cc70-4648-afb9-902ee1119df8",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.text }}",
        "emailType": "html",
        "message": "={{ $('Create Body of mail').item.json.text }}",
        "options": {
          "sendTo": "={{ $('Limit').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2016,
        -184
      ],
      "id": "03c0b45b-8fe1-4ba0-aa72-52926d5e34b3",
      "name": "Create a draft",
      "webhookId": "6050a435-e28f-4b6b-8f45-d47d4d4c15ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "7qT7qFwOWnIR3zCg",
          "name": "zubairyounOus"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1448,
        -64
      ],
      "id": "c7f0c4a9-2d74-49f9-8946-dc5b0c259021",
      "name": "Paid GPT",
      "credentials": {
        "openRouterApi": {
          "id": "65mlukvVZpheBc3O",
          "name": "new openrouter key"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1320,
        -64
      ],
      "id": "03fcf058-918a-47d2-bb7c-80e9193974fc",
      "name": "Free LLM",
      "credentials": {
        "openRouterApi": {
          "id": "65mlukvVZpheBc3O",
          "name": "new openrouter key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an expert cold email copywriter specializing in AI automation and voice agent solutions. Your goal is to craft personalized, consultative emails that book demo calls with business decision-makers.\n\n### CONTEXT & INPUT:\nYou will receive:\n- Website HTML content to analyze\n- Extract the recipient's name from the HTML (Owner/CEO/Manager/Founder name if available)\n- If no personal name found, use: \"Dear [CompanyName] Team\" or \"Hi [Role] at [CompanyName]\"\n\n### YOUR TASK:\nAnalyze the provided website HTML to understand:\n1. Their business model and industry\n2. Current operations and service delivery methods\n3. Customer interaction points (support, sales, scheduling)\n4. Potential automation opportunities\n5. Pain points they may be experiencing\n\n### OUTPUT FORMAT:\nYou MUST respond with ONLY the complete HTML-formatted email body. No JSON, no subject line, no explanations.\n\n**CRITICAL RULES:**\n- Output ONLY the HTML email body, nothing else\n- No explanations, no preamble, no commentary\n- No \"Here's a draft\" or \"Okay, here's\"\n- No JSON structure\n- No subject line\n- Just pure HTML email body\n\n---\n\n### EMAIL BODY REQUIREMENTS:\n\n**LENGTH:** 100-150 words (tight and concise)\n\n**HTML FORMATTING - Use these tags:**\n- `<p>` for paragraphs\n- `<strong>` for bold emphasis\n- `<em>` for subtle emphasis\n- `<br><br>` for spacing between sections\n- `<a href=\"URL\">text</a>` for hyperlinks\n\n**MANDATORY BOLD FORMATTING - Always bold these elements:**\n- Recipient's name in greeting (e.g., `<strong>Hi Dr. Peter</strong>`)\n- Company name (first mention)\n- Numbers and percentages (e.g., `<strong>80-90%</strong>`, `<strong>24/7</strong>`)\n- Key benefits (e.g., `<strong>FREE 1-month trial</strong>`)\n- Location/geographic mentions (e.g., `<strong>NYC</strong>`, `<strong>Los Angeles</strong>`)\n- Critical action words (e.g., `<strong>6-9 specific areas</strong>`)\n- Call-to-action phrases (e.g., `<strong>15-minute call</strong>`)\n- Industry-specific keywords relevant to their business\n\n**MANDATORY HYPERLINKS - Must include at least 2-3 of these:**\n1. **Book a call link:** `<a href=\"https://ztechai.us/contact-us\">book a quick call</a>` or `<a href=\"https://ztechai.us/contact-us\">schedule a call</a>`\n2. **Testimonials link:** `<a href=\"https://ztechai.us/#Testimonials\">see how we've helped businesses like yours</a>` or `<a href=\"https://ztechai.us/#Testimonials\">check out our testimonials</a>`\n3. **Website link:** `<a href=\"https://ztechai.us\">visit our website</a>` or `<a href=\"https://ztechai.us\">learn more</a>`\n4. **Demo link:** `<a href=\"https://ztechai.us/contact-us#Demo_call\">watch a demo</a>` or `<a href=\"https://ztechai.us/contact-us#Demo_call\">see it in action</a>`\n\nEmbed these links naturally within the email copy - don't list them separately.\n\n---\n\n### EMAIL STRUCTURE:\n\n**1. Opening (2-3 sentences):**\n   - Personalized greeting: `<p><strong>Hi [FirstName]</strong>,</p>` or `<p><strong>Dear [Company] Team</strong>,</p>`\n   - One specific compliment about their business from website (with company name in bold)\n   - Credibility/relevance statement\n\n**2. Pain Point & Opportunity (2-3 sentences):**\n   - Transition naturally from compliment\n   - Mention `<strong>6-9 specific areas</strong>` identified\n   - Quantify impact: `<strong>80-90% cost savings</strong>`, time savings, scaling without headcount\n   - Be specific to their industry/operations\n\n**3. Solution & Proof (2 sentences):**\n   - Brief mention of AI voice agents with `<strong>24/7</strong>` availability\n   - ONE specific use case relevant to them\n   - Optionally weave in testimonials link: \"We've helped <a href=\"https://ztechai.us/#Testimonials\">businesses like yours</a> automate...\"\n\n**4. Risk-Free Trial (1-2 sentences):**\n   - Emphasize `<strong>FREE 1-month trial</strong>` in bold\n   - Frame as no-risk, see real results\n   - Optional: Include demo link naturally\n\n**5. Call-to-Action (1-2 sentences):**\n   - Soft ask: \"Would you be open to...\"\n   - Specific time commitment: `<strong>15-minute call</strong>`\n   - Direct booking link: `<a href=\"https://ztechai.us/contact-us\">book a quick call</a>`\n   - Make it easy and low-pressure\n\n**6. Sign-off (mandatory format):**\n```html"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1312,
        -288
      ],
      "id": "629957f0-8861-4855-9f00-7eda209afb42",
      "name": "Create Body of mail"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=You are an expert at writing viral subject lines that act as hooks.\n\n### INPUT:\nYou will receive the email body HTML. Analyze it to extract:\n- Recipient's name\n- Company name\n- Industry\n- Main benefit or pain point\n\n### OUTPUT:\nJust the subject line. Nothing else. No quotes. No explanation.\n\n### REQUIREMENTS:\n\n**LENGTH:** 6-12 words maximum\n\n**STYLE:** Hook-driven (like a viral video title)\n\n**FORMULA - Pick one that fits:**\n\n1. **Curiosity Gap:**\n- \"[Company] is losing $X every day without knowing\"\n- \"What [Industry] leaders aren't telling you about AI\"\n- \"The [Company] automation gap nobody talks about\"\n\n2. **FOMO Simple:**\n- \"Your competitors automated this. Did you?\"\n- \"[Industry] moved to AI. Where's [Company]?\"\n- \"80% of [Industry] uses AI voice now\"\n\n3. **Question Hook:**\n- \"Still paying humans to answer calls 24/7?\"\n- \"Is [Company] ready for AI voice agents?\"\n- \"Why isn't [Company] using AI voice yet?\"\n\n4. **Benefit + Curiosity:**\n- \"[Company]: Found 6 ways to cut costs 80%\"\n- \"AI voice agents = 80% savings for [Company]\"\n- \"[FirstName], see what [Industry] leaders already use\"\n\n5. **Comparison Hook:**\n- \"Manual calls vs AI voice: [Company] comparison\"\n- \"[Company]'s process vs competitors' AI automation\"\n- \"Before AI vs After AI in [Industry]\"\n\n### TONE:\n- Like a YouTube video title that makes you click\n- Create curiosity, not hype\n- Conversational, not corporate\n- One clear hook\n\n### DON'T:\n- No exclamation marks\n- No all caps\n- No \"Quick question\" or generic phrases\n- No pushy language\n\n### EXAMPLES:\n\nInstead of: \"AI Solutions for Your Business\"\nUse: \"Your competitors answer calls 24/7. Do you?\"\n\nInstead of: \"Schedule a Call to Discuss AI\"\nUse: \"Manhattan Dental losing $5K monthly on phone staff\"\n\nInstead of: \"AI Automation Opportunity\"\nUse: \"Found 6 areas your competitors already automated\"\n\n---\n\nNOW: Write only the subject line. No explanation. Just the hook."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1664,
        -184
      ],
      "id": "b8daea7b-221d-41f6-af90-8071691bcc78",
      "name": "Subject of Mail"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -36
      ],
      "id": "637f1872-e143-4667-b3f2-7327160f4e96",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        192,
        -36
      ],
      "id": "055daeb7-4722-4a2e-84df-62c037935688",
      "name": "Get many rows1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Mail Status",
              "fieldValue": "Drafted"
            },
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Limit').item.json.Id }}"
            },
            {
              "fieldName": "Draft ID",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2240,
        -184
      ],
      "id": "85220158-cc52-4fb1-bc73-c1cd529b062d",
      "name": "Update a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Mail Status",
              "fieldValue": "Skipped"
            },
            {
              "fieldName": "id",
              "fieldValue": "={{ $('Limit').item.json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1376,
        112
      ],
      "id": "86e4e727-7045-4bd5-9ccf-773fcadef92e",
      "name": "Update a row2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "732d33a3-ca2e-4c0e-9647-608519599c3b",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "No Email",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "209fab78-4518-4a00-ad6a-5f6a44800732",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "Not Scraped",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        640,
        -36
      ],
      "id": "340c6e36-8bba-47e8-9563-d58a57648c54",
      "name": "Filter1"
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create Body of mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paid GPT": {
      "ai_languageModel": [
        [
          {
            "node": "Create Body of mail",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Subject of Mail",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Free LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Create Body of mail",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Subject of Mail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Body of mail": {
      "main": [
        [
          {
            "node": "Subject of Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subject of Mail": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "48efbc43-fcc5-474c-8a50-531dc9426411",
  "activeVersionId": "5fe3e0ce-8906-4585-a7b2-303ac7ad5e02",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-01T19:08:33.879Z",
      "createdAt": "2026-01-01T19:08:33.879Z",
      "role": "workflow:owner",
      "workflowId": "F4qXt2d58ZwWCIwz",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T23:02:58.102Z",
    "createdAt": "2026-01-15T23:02:55.076Z",
    "versionId": "5fe3e0ce-8906-4585-a7b2-303ac7ad5e02",
    "workflowId": "F4qXt2d58ZwWCIwz",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "732d33a3-ca2e-4c0e-9647-608519599c3b",
                "leftValue": "={{ $json['Mail Status'] }}",
                "rightValue": "Pending",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "209fab78-4518-4a00-ad6a-5f6a44800732",
                "leftValue": "={{ $json.Email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          416,
          -36
        ],
        "id": "1360e43c-f327-472b-bcda-20479b8b0663",
        "name": "Filter"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          864,
          -36
        ],
        "id": "09b57378-8c22-4fba-aa02-1029b9d45ab5",
        "name": "Limit"
      },
      {
        "parameters": {
          "url": "={{ $json.Website }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1088,
          -36
        ],
        "id": "d753dbfb-cc70-4648-afb9-902ee1119df8",
        "name": "HTTP Request",
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "draft",
          "subject": "={{ $json.text }}",
          "emailType": "html",
          "message": "={{ $('Create Body of mail').item.json.text }}",
          "options": {
            "sendTo": "={{ $('Limit').item.json.Email }}"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2016,
          -184
        ],
        "id": "03c0b45b-8fe1-4ba0-aa72-52926d5e34b3",
        "name": "Create a draft",
        "webhookId": "6050a435-e28f-4b6b-8f45-d47d4d4c15ee",
        "credentials": {
          "gmailOAuth2": {
            "id": "7qT7qFwOWnIR3zCg",
            "name": "zubairyounOus"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-5-nano",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1448,
          -64
        ],
        "id": "c7f0c4a9-2d74-49f9-8946-dc5b0c259021",
        "name": "Paid GPT",
        "credentials": {
          "openRouterApi": {
            "id": "65mlukvVZpheBc3O",
            "name": "new openrouter key"
          }
        }
      },
      {
        "parameters": {
          "model": "google/gemma-3-27b-it:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1320,
          -64
        ],
        "id": "03fcf058-918a-47d2-bb7c-80e9193974fc",
        "name": "Free LLM",
        "credentials": {
          "openRouterApi": {
            "id": "65mlukvVZpheBc3O",
            "name": "new openrouter key"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.data }}",
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "type": "=SystemMessagePromptTemplate",
                "message": "=You are an expert cold email copywriter specializing in AI automation and voice agent solutions. Your goal is to craft personalized, consultative emails that book demo calls with business decision-makers.\n\n### CONTEXT & INPUT:\nYou will receive:\n- Website HTML content to analyze\n- Extract the recipient's name from the HTML (Owner/CEO/Manager/Founder name if available)\n- If no personal name found, use: \"Dear [CompanyName] Team\" or \"Hi [Role] at [CompanyName]\"\n\n### YOUR TASK:\nAnalyze the provided website HTML to understand:\n1. Their business model and industry\n2. Current operations and service delivery methods\n3. Customer interaction points (support, sales, scheduling)\n4. Potential automation opportunities\n5. Pain points they may be experiencing\n\n### OUTPUT FORMAT:\nYou MUST respond with ONLY the complete HTML-formatted email body. No JSON, no subject line, no explanations.\n\n**CRITICAL RULES:**\n- Output ONLY the HTML email body, nothing else\n- No explanations, no preamble, no commentary\n- No \"Here's a draft\" or \"Okay, here's\"\n- No JSON structure\n- No subject line\n- Just pure HTML email body\n\n---\n\n### EMAIL BODY REQUIREMENTS:\n\n**LENGTH:** 100-150 words (tight and concise)\n\n**HTML FORMATTING - Use these tags:**\n- `<p>` for paragraphs\n- `<strong>` for bold emphasis\n- `<em>` for subtle emphasis\n- `<br><br>` for spacing between sections\n- `<a href=\"URL\">text</a>` for hyperlinks\n\n**MANDATORY BOLD FORMATTING - Always bold these elements:**\n- Recipient's name in greeting (e.g., `<strong>Hi Dr. Peter</strong>`)\n- Company name (first mention)\n- Numbers and percentages (e.g., `<strong>80-90%</strong>`, `<strong>24/7</strong>`)\n- Key benefits (e.g., `<strong>FREE 1-month trial</strong>`)\n- Location/geographic mentions (e.g., `<strong>NYC</strong>`, `<strong>Los Angeles</strong>`)\n- Critical action words (e.g., `<strong>6-9 specific areas</strong>`)\n- Call-to-action phrases (e.g., `<strong>15-minute call</strong>`)\n- Industry-specific keywords relevant to their business\n\n**MANDATORY HYPERLINKS - Must include at least 2-3 of these:**\n1. **Book a call link:** `<a href=\"https://ztechai.us/contact-us\">book a quick call</a>` or `<a href=\"https://ztechai.us/contact-us\">schedule a call</a>`\n2. **Testimonials link:** `<a href=\"https://ztechai.us/#Testimonials\">see how we've helped businesses like yours</a>` or `<a href=\"https://ztechai.us/#Testimonials\">check out our testimonials</a>`\n3. **Website link:** `<a href=\"https://ztechai.us\">visit our website</a>` or `<a href=\"https://ztechai.us\">learn more</a>`\n4. **Demo link:** `<a href=\"https://ztechai.us/contact-us#Demo_call\">watch a demo</a>` or `<a href=\"https://ztechai.us/contact-us#Demo_call\">see it in action</a>`\n\nEmbed these links naturally within the email copy - don't list them separately.\n\n---\n\n### EMAIL STRUCTURE:\n\n**1. Opening (2-3 sentences):**\n   - Personalized greeting: `<p><strong>Hi [FirstName]</strong>,</p>` or `<p><strong>Dear [Company] Team</strong>,</p>`\n   - One specific compliment about their business from website (with company name in bold)\n   - Credibility/relevance statement\n\n**2. Pain Point & Opportunity (2-3 sentences):**\n   - Transition naturally from compliment\n   - Mention `<strong>6-9 specific areas</strong>` identified\n   - Quantify impact: `<strong>80-90% cost savings</strong>`, time savings, scaling without headcount\n   - Be specific to their industry/operations\n\n**3. Solution & Proof (2 sentences):**\n   - Brief mention of AI voice agents with `<strong>24/7</strong>` availability\n   - ONE specific use case relevant to them\n   - Optionally weave in testimonials link: \"We've helped <a href=\"https://ztechai.us/#Testimonials\">businesses like yours</a> automate...\"\n\n**4. Risk-Free Trial (1-2 sentences):**\n   - Emphasize `<strong>FREE 1-month trial</strong>` in bold\n   - Frame as no-risk, see real results\n   - Optional: Include demo link naturally\n\n**5. Call-to-Action (1-2 sentences):**\n   - Soft ask: \"Would you be open to...\"\n   - Specific time commitment: `<strong>15-minute call</strong>`\n   - Direct booking link: `<a href=\"https://ztechai.us/contact-us\">book a quick call</a>`\n   - Make it easy and low-pressure\n\n**6. Sign-off (mandatory format):**\n```html"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1312,
          -288
        ],
        "id": "629957f0-8861-4855-9f00-7eda209afb42",
        "name": "Create Body of mail"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.text }}",
          "needsFallback": true,
          "messages": {
            "messageValues": [
              {
                "type": "=SystemMessagePromptTemplate",
                "message": "=You are an expert at writing viral subject lines that act as hooks.\n\n### INPUT:\nYou will receive the email body HTML. Analyze it to extract:\n- Recipient's name\n- Company name\n- Industry\n- Main benefit or pain point\n\n### OUTPUT:\nJust the subject line. Nothing else. No quotes. No explanation.\n\n### REQUIREMENTS:\n\n**LENGTH:** 6-12 words maximum\n\n**STYLE:** Hook-driven (like a viral video title)\n\n**FORMULA - Pick one that fits:**\n\n1. **Curiosity Gap:**\n- \"[Company] is losing $X every day without knowing\"\n- \"What [Industry] leaders aren't telling you about AI\"\n- \"The [Company] automation gap nobody talks about\"\n\n2. **FOMO Simple:**\n- \"Your competitors automated this. Did you?\"\n- \"[Industry] moved to AI. Where's [Company]?\"\n- \"80% of [Industry] uses AI voice now\"\n\n3. **Question Hook:**\n- \"Still paying humans to answer calls 24/7?\"\n- \"Is [Company] ready for AI voice agents?\"\n- \"Why isn't [Company] using AI voice yet?\"\n\n4. **Benefit + Curiosity:**\n- \"[Company]: Found 6 ways to cut costs 80%\"\n- \"AI voice agents = 80% savings for [Company]\"\n- \"[FirstName], see what [Industry] leaders already use\"\n\n5. **Comparison Hook:**\n- \"Manual calls vs AI voice: [Company] comparison\"\n- \"[Company]'s process vs competitors' AI automation\"\n- \"Before AI vs After AI in [Industry]\"\n\n### TONE:\n- Like a YouTube video title that makes you click\n- Create curiosity, not hype\n- Conversational, not corporate\n- One clear hook\n\n### DON'T:\n- No exclamation marks\n- No all caps\n- No \"Quick question\" or generic phrases\n- No pushy language\n\n### EXAMPLES:\n\nInstead of: \"AI Solutions for Your Business\"\nUse: \"Your competitors answer calls 24/7. Do you?\"\n\nInstead of: \"Schedule a Call to Discuss AI\"\nUse: \"Manhattan Dental losing $5K monthly on phone staff\"\n\nInstead of: \"AI Automation Opportunity\"\nUse: \"Found 6 areas your competitors already automated\"\n\n---\n\nNOW: Write only the subject line. No explanation. Just the hook."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1664,
          -184
        ],
        "id": "b8daea7b-221d-41f6-af90-8071691bcc78",
        "name": "Subject of Mail"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -32,
          -36
        ],
        "id": "637f1872-e143-4667-b3f2-7327160f4e96",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "projectId": "pz0zuvdo00ea87j",
          "table": "m43oc6qhtv52e6o",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          192,
          -36
        ],
        "id": "055daeb7-4722-4a2e-84df-62c037935688",
        "name": "Get many rows1",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "m43oc6qhtv52e6o",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Mail Status",
                "fieldValue": "Drafted"
              },
              {
                "fieldName": "Id",
                "fieldValue": "={{ $('Limit').item.json.Id }}"
              },
              {
                "fieldName": "Draft ID",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldName": "Email Body",
                "fieldValue": "={{ $json.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          2464,
          -176
        ],
        "id": "85220158-cc52-4fb1-bc73-c1cd529b062d",
        "name": "Update a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "m43oc6qhtv52e6o",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Mail Status",
                "fieldValue": "Skipped"
              },
              {
                "fieldName": "id",
                "fieldValue": "={{ $('Limit').item.json.Id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1376,
          112
        ],
        "id": "86e4e727-7045-4bd5-9ccf-773fcadef92e",
        "name": "Update a row2",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "732d33a3-ca2e-4c0e-9647-608519599c3b",
                "leftValue": "={{ $json.Email }}",
                "rightValue": "No Email",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "209fab78-4518-4a00-ad6a-5f6a44800732",
                "leftValue": "={{ $json.Email }}",
                "rightValue": "Not Scraped",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          640,
          -36
        ],
        "id": "340c6e36-8bba-47e8-9563-d58a57648c54",
        "name": "Filter1"
      },
      {
        "parameters": {
          "resource": "draft",
          "operation": "get",
          "messageId": "={{ $json.id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2240,
          -184
        ],
        "id": "87054700-2359-48c9-a8b8-3f175f2af3c8",
        "name": "Get a draft",
        "webhookId": "ecc009be-4ba8-4667-aa9b-4abb3f3b180c",
        "credentials": {
          "gmailOAuth2": {
            "id": "7qT7qFwOWnIR3zCg",
            "name": "zubairyounOus"
          }
        }
      }
    ],
    "connections": {
      "Filter": {
        "main": [
          [
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Create Body of mail",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update a row2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a draft": {
        "main": [
          [
            {
              "node": "Get a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Paid GPT": {
        "ai_languageModel": [
          [
            {
              "node": "Create Body of mail",
              "type": "ai_languageModel",
              "index": 1
            },
            {
              "node": "Subject of Mail",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Free LLM": {
        "ai_languageModel": [
          [
            {
              "node": "Create Body of mail",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Subject of Mail",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Create Body of mail": {
        "main": [
          [
            {
              "node": "Subject of Mail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Subject of Mail": {
        "main": [
          [
            {
              "node": "Create a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many rows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a draft": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Zubair Younus",
    "name": "Version 5fe3e0ce",
    "description": "",
    "autosaved": false
  },
  "tags": []
}