Backup_2025-09-21/Testing.json
{
  "createdAt": "2025-09-09T09:15:09.132Z",
  "updatedAt": "2025-09-20T07:27:50.258Z",
  "id": "SskEeTdDgbzwmAnD",
  "name": "Testing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/image/convert/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"http://173.212.233.128:9000/time-flipped/disclaimer.PNG\",\n  \"length\":  3,\n  \"frame_rate\": 24,\n  \"zoom_speed\": 1,\n  \"id\": \"request-123\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        336
      ],
      "id": "9e31fd7e-50ee-4989-a432-38235ef876f6",
      "name": "Image to Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"merge-video-voiceover-youtube\",\n  \"inputs\": [\n    {\n      \"file_url\": \"http://173.212.233.128:9000/nca-toolkit/62e09c79-a7a7-481e-97c9-fddf70724767.mp4\"\n    },\n    {\n      \"file_url\": \"http://173.212.233.128:9000/nca-toolkit/Raw%2F18.mp3\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[1:a]volume=2.0[boosted_audio]\"\n    },\n    {\n      \"filter\": \"[0:v]scale=iw*min(1920/iw\\\\,1080/ih):ih*min(1920/iw\\\\,1080/ih),pad=1920:1080:(1920-iw*min(1920/iw\\\\,1080/ih))/2:(1080-ih*min(1920/iw\\\\,1080/ih))/2[scaled_video]\"\n    },\n    {\n      \"filter\": \"[scaled_video]zoompan=z='if(lte(on,({{ $json.duration }}*24)/2),1+0.0004*on,1.2-0.0004*(on-(({{ $json.duration }}*24)/2)))':d=1:s=1920x1080,fade=t=in:st=0:d=1,fade=t=out:st={{ $json.duration }}-1:d=1[zoomed_faded_video]\"\n    },\n    {\n      \"filter\": \"[zoomed_faded_video][boosted_audio]concat=n=1:v=1:a=1[outv][outa]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outv]\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outa]\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"duration\": true,\n    \"filesize\": true\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        784
      ],
      "id": "13e871f8-dadb-4414-b316-c26521e36e39",
      "name": "Merge Audio and Video",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        784
      ],
      "id": "dd6e4196-1021-46a9-8f9a-09cbc8619720",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad70363b-b069-40f3-9225-bea80e6bc2e1",
              "name": "duration",
              "value": "4",
              "type": "string"
            },
            {
              "id": "ef994c75-739c-447d-9e6a-f639553046e0",
              "name": "metada",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        784
      ],
      "id": "ef015576-aba2-474e-be71-6e7ea45217c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/video/concatenate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\n    { \"video_url\": \"http://173.212.233.128:9000/time-flipped/Disclaimerwithaudio.mp4\" },\n    { \"video_url\": \"http://173.212.233.128:9000/nca-toolkit/0080887e-5d5c-493d-97a9-4c248d073a97_captioned.mp4\" }\n  ],\n  \"id\": \"prepend-disclaimer\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        112
      ],
      "id": "516598f7-c03d-4f3b-ba6a-6ea0e0d876c8",
      "name": "Video Concatinate",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://173.212.233.128:8081/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"merge-video-voiceover-youtube\",\n  \"inputs\": [\n    {\n      \"file_url\": \"http://173.212.233.128:9000/nca-toolkit/23984913-e4e6-4551-b690-b16d2559316a.mp4\"\n    },\n    {\n      \"file_url\": \"http://173.212.233.128:9000/time-flipped/music%2FThe%20Palace%20Gardens%20-%20Asher%20Fulero.mp3\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[1:a]volume=2.0[boosted_audio]\"\n    },\n    {\n      \"filter\": \"[0:v]scale=iw*min(1920/iw\\\\,1080/ih):ih*min(1920/iw\\\\,1080/ih),pad=1920:1080:(1920-iw*min(1920/iw\\\\,1080/ih))/2:(1080-ih*min(1920/iw\\\\,1080/ih))/2[scaled_video]\"\n    },\n    {\n      \"filter\": \"[scaled_video][boosted_audio]concat=n=1:v=1:a=1[outv][outa]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outv]\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outa]\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"duration\": true,\n    \"filesize\": true\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -112
      ],
      "id": "be74b82f-5042-4493-a9f4-7e5f833aec8b",
      "name": "Merge Audio and Video1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/key",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -336
      ],
      "id": "2e2b51b3-fce2-42b4-8e08-bd3d3eacbb82",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const response = await fetch('https://openrouter.ai/api/v1/key', {\n  method: 'GET',\n  headers: {\n    Authorization: 'Bearer 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',\n  },\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        560
      ],
      "id": "dcff46a1-8903-41a0-989f-707538af48b9",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        608,
        -176
      ],
      "id": "407a88a0-680f-498e-a788-35fe612bc90e",
      "name": "When chat message received",
      "webhookId": "56c34390-4133-48c6-a6e6-667748f710be"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        -176
      ],
      "id": "5d1439c4-08b8-4f6b-82f9-d842de8d756d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        32
      ],
      "id": "63e1377b-062e-4ae6-aeb0-2e8bdcd81da4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.ztechai.us/webhook/fe234b5f-a3b4-4229-8eb1-245cb18a83de",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "zubair"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        208
      ],
      "id": "7228d80f-6a18-4005-89c2-7026fb1658a0",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image to Video": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge Audio and Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "957dbfea-d5f4-4940-9a41-b99a9040b9bc",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-09T09:15:09.132Z",
      "updatedAt": "2025-09-09T09:15:09.132Z",
      "role": "workflow:owner",
      "workflowId": "SskEeTdDgbzwmAnD",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": []
}