Backup_2025-09-20/Upload Life unfolded long.json
{
  "createdAt": "2025-09-15T07:18:39.784Z",
  "updatedAt": "2025-09-19T07:19:10.414Z",
  "id": "dRXsQCE72G2v6e3A",
  "name": "Upload Life unfolded long",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070",
          "mode": "list",
          "cachedResultName": "Life Unfolded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        336
      ],
      "id": "3d31741c-16d8-428f-9f62-d55ac57ccedf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "807c739f-b4b7-41cb-92bf-7e8271e970ac",
              "leftValue": "={{ $json['Job Status'] }}",
              "rightValue": "Completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7505d681-ea99-40b4-8aa7-d648e561cf5a",
              "leftValue": "={{ $json['Youtube Upload Status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        336
      ],
      "id": "25a95508-5b6d-41eb-bd75-30c92c6cccf0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -656,
        320
      ],
      "id": "88e7689d-68ce-482c-9afb-07bd7143eb08",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/FLUX.1-schnell-Free"
            },
            {
              "name": "prompt",
              "value": "={{ $('Basic LLM Chain').item.json.text }}"
            },
            {
              "name": "steps",
              "value": "={{ 4 }}"
            },
            {
              "name": "n",
              "value": "={{ 1 }}"
            },
            {
              "name": "width",
              "value": "={{ 1280 }}"
            },
            {
              "name": "height",
              "value": "={{ 720 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        96
      ],
      "id": "875e5142-1d89-49bb-9563-03bb17a23a27",
      "name": "Free Images",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "alwaysOutputData": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "xNZtY56kIowFixlg",
          "name": "together Ai"
        },
        "httpHeaderAuth": {
          "id": "hBA1Z0mB998wxpr0",
          "name": "NCA ToolKit"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        240
      ],
      "id": "ff15246b-f1aa-417d-bcf9-5880de13b791",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $json['video url'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 1500000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        96
      ],
      "id": "9290daa1-1a0b-432f-a44b-25c4b188cfa1",
      "name": "Download File",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8eb75842-7382-4ad9-825b-f072800d02a9",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Limit').item.json['Video Title'] }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        256
      ],
      "id": "aaa34a9c-8e5d-4218-a9be-58ddebc72d92",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Limit').item.json['Video Title'] }}{{ $('Limit').item.json.row_number }}|",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_trQIHiQhDwdZNANKv5CzV2_fRB8t80u",
          "mode": "list",
          "cachedResultName": "Life unfolded Final",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_trQIHiQhDwdZNANKv5CzV2_fRB8t80u"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        400
      ],
      "id": "545b62c3-31e1-4519-ab62-31effa168d71",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.name }}",
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an Expert YouTube Thumbnail Prompt Generator.  \n\nYour job is to create a cinematic thumbnail image prompt for an AI image generator.  \n\n### Rules & Style:\n- Always generate in this style: {{ $('Limit').item.json['Image Style'] }}.  \n- The shot must always be **closed shot** with strong subject focus.  \n- Build the scene as a **visual metaphor** inspired by the Video Title and Story/Topic.  \n- Ensure the thumbnail feels like a storytelling frame from a movie.  \n- Never add any text.  \n\n### Input:\n- Video Title: {{ $('Limit').item.json['Video Title'] }}\n\n### Output (Thumbnail Prompt):\nA digital painting, semi-realistic illustration in soft warm tones, depicting in a cinematic closed shot. \n\nExample framing: an elderly man sitting under a tree, thinking, and looking toward a village before entering it. Smooth brush strokes, cinematic composition, cozy and inviting atmosphere, storytelling thumbnail art style, no text overlay.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ],
      "id": "1c004114-5735-431b-a34a-817dbe9efd9a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        224
      ],
      "id": "97e4b740-4ac4-4c19-bf95-489fd4b372da",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        224
      ],
      "id": "a00c7078-b1b7-4d9c-916c-724cdb3572af",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mfO0dqgKTdN60Ofd",
          "name": "zubair-1 Paid"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        400
      ],
      "id": "95be1bfe-3670-465b-9b2c-cc0006c241b2",
      "name": "Wait",
      "webhookId": "9905deb9-d4bf-46e7-95e2-6d1fd4a9e0a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fc4fda0-e949-4c1f-a400-6d28b08e5091",
              "name": "Video Title",
              "value": "={{ $('Limit').item.json['Video Title'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        480
      ],
      "id": "e9552170-1779-411b-8d38-e4c676347bbe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        336
      ],
      "id": "77d368d2-e5e1-4cf2-b74c-729420ba9188",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SG6qjMpAXeVfPdJC",
          "name": "zubair-1 paid accound"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        336
      ],
      "id": "cfbad350-4714-41c7-8fc8-b6b15437c0ac",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mfO0dqgKTdN60Ofd",
          "name": "zubair-1 Paid"
        }
      }
    },
    {
      "parameters": {
        "name": "=Thumbnail|{{ $('Limit').item.json['Video Title'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('If1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        96
      ],
      "id": "0538e264-cf37-42e4-88ca-a646fbf8d2f0",
      "name": "Upload Thumbnail",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Title:  {{ $('Limit').item.json['Video Title'] }}\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an expert YouTube SEO content creator. \n  Your task is to write a highly engaging and SEO-optimized YouTube video description.\n\n  Video Information:\n  - Video Title: {{ $('Limit').item.json['Video Title'] }}\n  -Image Style:{{ $('Limit').item.json['Image Style'] }}\n  \nInstructions:\n  1. Start with a strong hook (2–3 sentences) to grab attention.\n  2. Naturally include important keywords from the video title and series.\n  3. Provide a short summary of what viewers will learn or experience.\n  4. Add a call-to-action (subscribe, like, comment).\n  5. Include relevant hashtags at the end (3–5 strong tags).\n  6. Series Title and Episode Numbers are just for refence to provide you context. \n  7. Use SEO-Optimized emojis and expressions based on content to give comfort to the viewer easiness in reading and getting idea about the video\n\n  Keep it under 200 words, conversational, and optimized for YouTube search.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        96
      ],
      "id": "e9285659-a691-4a67-a347-368526b835df",
      "name": "Description Writer"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070",
          "mode": "list",
          "cachedResultName": "Life Unfolded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Life Unfolded long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video Title": "={{ $('Limit').item.json['Video Title'] }}",
            "Thumbnail Prompt": "={{ $('Basic LLM Chain').item.json.text }}",
            "Thumbnail Link": "={{ $('Upload Thumbnail').item.json.webViewLink }}",
            "AI genrated Description": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Channel Name",
              "displayName": "Channel Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Length",
              "displayName": "Video Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scenes Length",
              "displayName": "Scenes Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Style",
              "displayName": "Image Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Tags",
              "displayName": "Video Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Link",
              "displayName": "Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatinated Link",
              "displayName": "Concatinated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logod Link",
              "displayName": "Logod Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Music Added Link",
              "displayName": "Music Added Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script Mode",
              "displayName": "Script Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Prompt",
              "displayName": "Thumbnail Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Link",
              "displayName": "Thumbnail Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI genrated Description",
              "displayName": "AI genrated Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        96
      ],
      "id": "a0f83056-e1a7-4901-b501-428b93282512",
      "name": "Update Description in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Free Images').item.json.data[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        96
      ],
      "id": "247a8a39-b759-47ca-bc2f-b61be1e00e8d",
      "name": "Download Thmbnail"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "fileName": "={{ $binary.data.fileName}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2272,
        96
      ],
      "id": "98a9c550-9291-492b-8ff6-fdd06a28f22f",
      "name": "Upload - Overwrite",
      "credentials": {
        "s3": {
          "id": "VSuDthoFjMjERe4Q",
          "name": "nca-Bucket"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assume first item contains the binary data\nitems[0].binary.data.mimeType = 'video/mp4';\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        96
      ],
      "id": "a5164792-3d6b-4d7b-816a-8a58952dbef8",
      "name": "Set MimeType"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "613a1cf6-3f21-4f27-844e-7bcf5017053b",
              "name": "video url",
              "value": "={{ $('Limit').item.json['Final Video Link'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        96
      ],
      "id": "ea456ff4-50df-49dc-a3af-8e65dea9679d",
      "name": "video url"
    },
    {
      "parameters": {
        "url": "={{ $('video url').item.json['video url'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        96
      ],
      "id": "0e240e79-80f0-4fc4-b094-1e1c66c12aa6",
      "name": "download from Minio"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "=| {{ $('Limit').item.json['Video Title'] }} | Series",
        "regionCode": "PK",
        "categoryId": "27",
        "options": {
          "description": "={{ $('Description Writer').item.json.output }}",
          "notifySubscribers": true,
          "privacyStatus": "unlisted",
          "publicStatsViewable": true,
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Limit').item.json['Video Tags'] }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2720,
        96
      ],
      "id": "80a732f9-1edc-4122-bdc9-811114f6775d",
      "name": "Upload to Time Flipped",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "49HFQhdRKKO2PrLr",
          "name": "Life Unfolded"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070",
          "mode": "list",
          "cachedResultName": "Life Unfolded",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Time Flipped Long",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13W-swlOmFzZlqa4VOftydy8TbGLpRkxE8rJgsJE0070/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video Title": "={{ $('Limit').item.json['Video Title'] }}",
            "Youtube Upload Status": "Uploaded"
          },
          "matchingColumns": [
            "Video Title"
          ],
          "schema": [
            {
              "id": "Channel Name",
              "displayName": "Channel Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Title",
              "displayName": "Video Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Length",
              "displayName": "Video Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scenes Length",
              "displayName": "Scenes Length",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Style",
              "displayName": "Image Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Tags",
              "displayName": "Video Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Link",
              "displayName": "Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Status",
              "displayName": "Job Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Upload Status",
              "displayName": "Youtube Upload Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concatinated Link",
              "displayName": "Concatinated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logod Link",
              "displayName": "Logod Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Music Added Link",
              "displayName": "Music Added Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script Mode",
              "displayName": "Script Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Prompt",
              "displayName": "Thumbnail Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Link",
              "displayName": "Thumbnail Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI genrated Description",
              "displayName": "AI genrated Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2944,
        96
      ],
      "id": "3a514895-a545-443e-9465-b0b1b581c550",
      "name": "Upload status in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jwr2VJQX9ktvb4Sz",
          "name": "Zubair-1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1344,
        432
      ],
      "id": "141fc712-bd61-4285-9bfa-a23b31ccf406",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "zubairyounus99@gmail.com",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1344,
        704
      ],
      "id": "bfe98eab-cfaa-40f9-91db-53686dad3212",
      "name": "Send a message",
      "webhookId": "ff13ad8c-5120-4101-b14a-089eba5c9674",
      "credentials": {
        "gmailOAuth2": {
          "id": "7qT7qFwOWnIR3zCg",
          "name": "zubairyounOus"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.row_number }}-{{ $json['Channel Name'] }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1_trQIHiQhDwdZNANKv5CzV2_fRB8t80u",
            "mode": "list",
            "cachedResultName": "Life unfolded Final",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1_trQIHiQhDwdZNANKv5CzV2_fRB8t80u"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        336
      ],
      "id": "ccd265a3-7f1b-4cd9-b50a-2ed8296d18ce",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0OPOxW9bDMLB0mT",
          "name": "zubair-2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Free Images": {
      "main": [
        [
          {
            "node": "Download Thmbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Set MimeType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Free Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Description Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Description Writer",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Upload Thumbnail": {
      "main": [
        [
          {
            "node": "Description Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Description Writer": {
      "main": [
        [
          {
            "node": "Update Description in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Description in sheet": {
      "main": [
        [
          {
            "node": "video url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Thmbnail": {
      "main": [
        [
          {
            "node": "Upload Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload - Overwrite": {
      "main": [
        [
          {
            "node": "download from Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set MimeType": {
      "main": [
        [
          {
            "node": "Upload - Overwrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video url": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download from Minio": {
      "main": [
        [
          {
            "node": "Upload to Time Flipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Time Flipped": {
      "main": [
        [
          {
            "node": "Upload status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "build_number": 200,
          "code": 200,
          "id": "concat-job-002",
          "job_id": "8b96e244-3400-4f5f-9290-d4cf70dc396d",
          "message": "success",
          "pid": 29095,
          "queue_id": 140325124074464,
          "queue_length": 0,
          "queue_time": 0,
          "response": "http://173.212.233.128:9000/nca-toolkit/8b96e244-3400-4f5f-9290-d4cf70dc396d.mp4",
          "run_time": 0.731,
          "total_time": 0.731
        }
      }
    ]
  },
  "versionId": "19c03835-7e5e-4e44-b6bf-122f8af8fc9d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T07:18:39.784Z",
      "updatedAt": "2025-09-15T07:18:39.784Z",
      "role": "workflow:owner",
      "workflowId": "dRXsQCE72G2v6e3A",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-19T04:48:52.235Z",
      "updatedAt": "2025-09-19T04:48:52.235Z",
      "id": "mGyjiPIeJFkXH40V",
      "name": "Life Unfolded"
    },
    {
      "createdAt": "2025-09-08T06:06:20.811Z",
      "updatedAt": "2025-09-08T06:06:20.811Z",
      "id": "RNWde51of0nnQzPD",
      "name": "Video Automation"
    }
  ]
}