Backup_2026-01-17/Data transferring to other Base.json
{
  "updatedAt": "2026-01-15T22:28:46.088Z",
  "createdAt": "2026-01-15T20:45:41.798Z",
  "id": "sEQQXJKSfT8HiiblXoxII",
  "name": "Data transferring to other Base",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ddd488d4-9927-4c48-b353-ed8096e2a920",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -288
      ],
      "id": "2eafd6d7-7bb4-4d8f-a360-70cb4927c5f4",
      "name": "Webhook",
      "webhookId": "ddd488d4-9927-4c48-b353-ed8096e2a920"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.body.data.rows[0].Id }}"
            },
            {
              "fieldName": "Website",
              "fieldValue": "={{ $json.body.data.rows[0].Website }}"
            },
            {
              "fieldName": "Email",
              "fieldValue": "={{ $json.body.data.previous_rows[0].Email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        224,
        -288
      ],
      "id": "762fd164-6782-41b9-a17d-dc0942352362",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Raw-leads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -512
      ],
      "id": "c0113475-a1b2-4022-bca8-aa4398074d70",
      "name": "Webhook1",
      "webhookId": "ddd488d4-9927-4c48-b353-ed8096e2a920"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.body.data.rows[0].Id }}"
            },
            {
              "fieldName": "Website",
              "fieldValue": "={{ $json.body.data.rows[0].Website }}"
            },
            {
              "fieldName": "Email",
              "fieldValue": "={{ $json.body.data.rows[0].Email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        224,
        -512
      ],
      "id": "b33fe903-2d52-4d85-b83a-86e05ba01a23",
      "name": "Create a row1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -752
      ],
      "id": "7e936938-6a22-4127-bb26-e2361d328183",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pz0zuvdo00ea87j",
        "table": "mhb9q9b7ic0mb05",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        128,
        -752
      ],
      "id": "acbd0c87-caf6-4ed0-a11f-8917ba3b1fcd",
      "name": "Get many rows",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.Id }}"
            },
            {
              "fieldName": "Website",
              "binaryData": "={{ $json.Website }}"
            },
            {
              "fieldName": "Email",
              "fieldValue": "={{ $json.Email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        336,
        -752
      ],
      "id": "cf391bbb-b56a-4a14-837d-d6119704fd6f",
      "name": "Update a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "de91c633-370f-4ec8-8bd4-2399083328f8",
  "activeVersionId": "de91c633-370f-4ec8-8bd4-2399083328f8",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-15T20:45:41.798Z",
      "createdAt": "2026-01-15T20:45:41.798Z",
      "role": "workflow:owner",
      "workflowId": "sEQQXJKSfT8HiiblXoxII",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T22:28:49.173Z",
    "createdAt": "2026-01-15T22:27:48.384Z",
    "versionId": "de91c633-370f-4ec8-8bd4-2399083328f8",
    "workflowId": "sEQQXJKSfT8HiiblXoxII",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ddd488d4-9927-4c48-b353-ed8096e2a920",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -288
        ],
        "id": "2eafd6d7-7bb4-4d8f-a360-70cb4927c5f4",
        "name": "Webhook",
        "webhookId": "ddd488d4-9927-4c48-b353-ed8096e2a920"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "pz0zuvdo00ea87j",
          "table": "m43oc6qhtv52e6o",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $json.body.data.rows[0].Id }}"
              },
              {
                "fieldName": "Website",
                "fieldValue": "={{ $json.body.data.rows[0].Website }}"
              },
              {
                "fieldName": "Email",
                "fieldValue": "={{ $json.body.data.previous_rows[0].Email }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          224,
          -288
        ],
        "id": "762fd164-6782-41b9-a17d-dc0942352362",
        "name": "Create a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "Raw-leads",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -512
        ],
        "id": "c0113475-a1b2-4022-bca8-aa4398074d70",
        "name": "Webhook1",
        "webhookId": "ddd488d4-9927-4c48-b353-ed8096e2a920"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "pz0zuvdo00ea87j",
          "table": "m43oc6qhtv52e6o",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $json.body.data.rows[0].Id }}"
              },
              {
                "fieldName": "Website",
                "fieldValue": "={{ $json.body.data.rows[0].Website }}"
              },
              {
                "fieldName": "Email",
                "fieldValue": "={{ $json.body.data.rows[0].Email }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          224,
          -512
        ],
        "id": "b33fe903-2d52-4d85-b83a-86e05ba01a23",
        "name": "Create a row1",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -80,
          -752
        ],
        "id": "7e936938-6a22-4127-bb26-e2361d328183",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "projectId": "pz0zuvdo00ea87j",
          "table": "mhb9q9b7ic0mb05",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          128,
          -752
        ],
        "id": "acbd0c87-caf6-4ed0-a11f-8917ba3b1fcd",
        "name": "Get many rows",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "m43oc6qhtv52e6o",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $json.Id }}"
              },
              {
                "fieldName": "Website",
                "binaryData": "={{ $json.Website }}"
              },
              {
                "fieldName": "Email",
                "fieldValue": "={{ $json.Email }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          336,
          -752
        ],
        "id": "cf391bbb-b56a-4a14-837d-d6119704fd6f",
        "name": "Update a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Create a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Zubair Younus",
    "name": "Version de91c633",
    "description": "",
    "autosaved": false
  },
  "tags": []
}