Backup_2026-01-17/Mail status update.json
{
  "updatedAt": "2026-01-15T23:23:08.870Z",
  "createdAt": "2026-01-04T17:15:54.749Z",
  "id": "tWdDMNcXMcK3hslq",
  "name": "Mail status update",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        512
      ],
      "id": "3b39439b-4624-4a11-9e33-ee7482b3d400",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.labelIds }}",
                    "rightValue": "DRAFT",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "42b71663-ca54-4d1d-a8da-bdea6617c1b3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DRAFT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6fc95404-00f3-4f3d-b30d-2e3e924bb923",
                    "leftValue": "={{ $json.labelIds }}",
                    "rightValue": "SENT",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SENT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f90b450b-7f9b-4ef2-94f2-7c9bc83fc40e",
                    "leftValue": "={{ $json.labelIds }}",
                    "rightValue": "CATEGORY_PERSONAL",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scheduled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c69d5234-ac27-42b4-9d00-3f1ad1cd4fdc",
                    "leftValue": "={{ $json.labelIds }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deleted"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        480
      ],
      "id": "ce6377cb-b233-450f-859e-2301c89814fb",
      "name": "Switch2",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "get",
        "messageId": "={{ $json['Draft ID'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        512
      ],
      "id": "71a73b04-b2ec-440d-8eeb-07483a5419d7",
      "name": "Get a draft",
      "webhookId": "e209ea22-326f-436a-8c51-1198ccf7e3c1",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "7qT7qFwOWnIR3zCg",
          "name": "zubairyounOus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        160,
        512
      ],
      "id": "0f848841-5ee1-4adb-80e5-5bd897cd8e97",
      "name": "Get many rows",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41c9a63a-cbe8-4f45-8a20-90c6117bf8a2",
              "leftValue": "={{ $json['Mail Status'] }}",
              "rightValue": "Drafted",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "11f59058-c4c5-479c-91e4-79e2d4d1fd47",
              "leftValue": "={{ $json['Mail Status'] }}",
              "rightValue": "Sent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b9d6b74a-9b61-4ae2-8a8c-b154b07b5db6",
              "leftValue": "={{ $json['Mail Status'] }}",
              "rightValue": "Scheduled",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        384,
        512
      ],
      "id": "48864289-d06f-4640-a706-30777b293427",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $('Filter').item.json.Id }}"
            },
            {
              "fieldName": "=Mail Status",
              "fieldValue": "Sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1056,
        416
      ],
      "id": "422eabba-9211-410e-a76e-43ad8ad5cd42",
      "name": "update Sent Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $('Filter').item.json.Id }}"
            },
            {
              "fieldName": "=Mail Status",
              "fieldValue": "Drafted"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1056,
        224
      ],
      "id": "936ba97a-eb1a-4a5c-882b-ccf886556393",
      "name": "Update Draft Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $('Filter').item.json.Id }}"
            },
            {
              "fieldName": "=Mail Status",
              "fieldValue": "Scheduled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1056,
        608
      ],
      "id": "21ca1317-19cc-4921-a32d-fa77f2aad5aa",
      "name": "Update Scheduled",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pz0zuvdo00ea87j",
        "table": "m43oc6qhtv52e6o",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $('Filter').item.json.Id }}"
            },
            {
              "fieldName": "=Mail Status",
              "fieldValue": "Skipped"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1056,
        800
      ],
      "id": "71d6505a-b591-4819-9215-dedaa1f49bf3",
      "name": "Update Deleted Status",
      "credentials": {
        "nocoDbApiToken": {
          "id": "hmlfeKtt9qXmVHJ2",
          "name": "Nocodb Selfhosted n8n"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a draft": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Update Draft Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update Sent Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Scheduled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Deleted Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "UUKqPWIjdYo6Togj",
    "timeSavedPerExecution": 5
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e3125dc9-c576-493f-bdd1-d34aa43663a4",
  "activeVersionId": "86ff8d49-902b-4172-8716-7d4fbd2c1255",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-04T17:15:54.749Z",
      "createdAt": "2026-01-04T17:15:54.749Z",
      "role": "workflow:owner",
      "workflowId": "tWdDMNcXMcK3hslq",
      "projectId": "KyK2NGi92B9PeHQl"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-12T20:06:05.098Z",
    "createdAt": "2026-01-10T00:56:55.527Z",
    "versionId": "86ff8d49-902b-4172-8716-7d4fbd2c1255",
    "workflowId": "tWdDMNcXMcK3hslq",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -64,
          512
        ],
        "id": "3b39439b-4624-4a11-9e33-ee7482b3d400",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.labelIds }}",
                      "rightValue": "DRAFT",
                      "operator": {
                        "type": "array",
                        "operation": "contains",
                        "rightType": "any"
                      },
                      "id": "42b71663-ca54-4d1d-a8da-bdea6617c1b3"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "DRAFT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "6fc95404-00f3-4f3d-b30d-2e3e924bb923",
                      "leftValue": "={{ $json.labelIds }}",
                      "rightValue": "SENT",
                      "operator": {
                        "type": "array",
                        "operation": "contains",
                        "rightType": "any"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "SENT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f90b450b-7f9b-4ef2-94f2-7c9bc83fc40e",
                      "leftValue": "={{ $json.labelIds }}",
                      "rightValue": "CATEGORY_PERSONAL",
                      "operator": {
                        "type": "array",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Scheduled"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c69d5234-ac27-42b4-9d00-3f1ad1cd4fdc",
                      "leftValue": "={{ $json.labelIds }}",
                      "rightValue": "",
                      "operator": {
                        "type": "array",
                        "operation": "notExists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Deleted"
              }
            ]
          },
          "options": {
            "fallbackOutput": 2
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          832,
          480
        ],
        "id": "ce6377cb-b233-450f-859e-2301c89814fb",
        "name": "Switch2",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "resource": "draft",
          "operation": "get",
          "messageId": "={{ $json['Draft ID'] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          608,
          512
        ],
        "id": "71a73b04-b2ec-440d-8eeb-07483a5419d7",
        "name": "Get a draft",
        "webhookId": "e209ea22-326f-436a-8c51-1198ccf7e3c1",
        "alwaysOutputData": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "7qT7qFwOWnIR3zCg",
            "name": "zubairyounOus"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "getAll",
          "projectId": "pz0zuvdo00ea87j",
          "table": "mxw523yxvl2ez1c",
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          160,
          512
        ],
        "id": "0f848841-5ee1-4adb-80e5-5bd897cd8e97",
        "name": "Get many rows",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "41c9a63a-cbe8-4f45-8a20-90c6117bf8a2",
                "leftValue": "={{ $json['Mail Status'] }}",
                "rightValue": "Drafted",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "11f59058-c4c5-479c-91e4-79e2d4d1fd47",
                "leftValue": "={{ $json['Mail Status'] }}",
                "rightValue": "Sent",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "b9d6b74a-9b61-4ae2-8a8c-b154b07b5db6",
                "leftValue": "={{ $json['Mail Status'] }}",
                "rightValue": "Scheduled",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          384,
          512
        ],
        "id": "48864289-d06f-4640-a706-30777b293427",
        "name": "Filter"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "mxw523yxvl2ez1c",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $('Filter').item.json.Id }}"
              },
              {
                "fieldName": "=Mail Status",
                "fieldValue": "Sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1056,
          416
        ],
        "id": "422eabba-9211-410e-a76e-43ad8ad5cd42",
        "name": "update Sent Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "mxw523yxvl2ez1c",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $('Filter').item.json.Id }}"
              },
              {
                "fieldName": "=Mail Status",
                "fieldValue": "Drafted"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1056,
          224
        ],
        "id": "936ba97a-eb1a-4a5c-882b-ccf886556393",
        "name": "Update Draft Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "mxw523yxvl2ez1c",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $('Filter').item.json.Id }}"
              },
              {
                "fieldName": "=Mail Status",
                "fieldValue": "Scheduled"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1056,
          608
        ],
        "id": "21ca1317-19cc-4921-a32d-fa77f2aad5aa",
        "name": "Update Scheduled",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pz0zuvdo00ea87j",
          "table": "mxw523yxvl2ez1c",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id",
                "fieldValue": "={{ $('Filter').item.json.Id }}"
              },
              {
                "fieldName": "=Mail Status",
                "fieldValue": "Skipped"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1056,
          800
        ],
        "id": "71d6505a-b591-4819-9215-dedaa1f49bf3",
        "name": "Update Deleted Status",
        "credentials": {
          "nocoDbApiToken": {
            "id": "hmlfeKtt9qXmVHJ2",
            "name": "Nocodb Selfhosted n8n"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a draft": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Update Draft Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "update Sent Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Scheduled",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Deleted Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Get a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Zubair Younus",
    "name": "Version 86ff8d49",
    "description": "",
    "autosaved": false
  },
  "tags": []
}